<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MiddleDataChangeMapper">
	
	<select id="getBusinessParameterKey" parameterType="map" resultType="map">
		select 
		<if test=' colum != null and colum != "" '>
			${colum}
		</if>
		<if test=' colum0 != null and colum0 != "" '>
			${colum0},
		</if>
		<if test=' colum1 != null and colum1 != "" '>
			${colum1}
		</if>
		from ${table_name} 
		where ${primaryKey} = #{pk}
			<if test="COMPANY != null and COMPANY != ''">
				AND COMPANY = #{COMPANY}
			</if>
	</select>
	
	<select id="compareMiddleData" parameterType="map" resultType="map">
		select distinct
		<if test=' colum != null and colum != "" '>
			${colum}
		</if>
		<if test=' colum0 != null and colum0 != "" '>
			${colum0},
		</if>
		<if test=' colum1 != null and colum1 != "" '>
			${colum1}
		</if>
		from ${table_name_middle} 
		where 1=1
		<if test=' columValue != null and columValue != "" '>
			and ${colum}=#{columValue}
		</if>
		<if test=' colum0Value != null and colum0Value != "" '>
			and ${colum0}=#{colum0Value}
		</if>
		<if test=' colum1Value != null and colum1Value != "" '>
			and ${colum1}=#{colum1Value}
		</if>
		<if test="COMPANY != null and COMPANY != ''">
				AND COMPANY = #{COMPANY}
		</if>
	</select>
	
	<insert id="addMiddleData" parameterType="map">
		insert into ${table_name_middle} 
		(
			<if test=' colum != null and colum != "" '>
				${colum},
			</if>
			<if test=' colum0 != null and colum0 != "" '>
				${colum0},
			</if>
			<if test="COMPANY != null and COMPANY != ''">
				COMPANY
			</if>
			<if test=' colum1 != null and colum1 != "" '>
				,${colum1}
			</if>
		)
		values(
			<if test=' columValue != null and columValue != "" '>
				#{columValue},
			</if>
			<if test=' colum0Value != null and colum0Value != "" '>
				#{colum0Value},
			</if>
			<if test="COMPANY != null and COMPANY != ''">
			 	#{COMPANY}
			</if>
			<if test=' colum1Value != null and colum1Value != "" '>
				,#{colum1Value}
			</if>
			
		)
	</insert>
	
	<delete id="deleteMiddleData" parameterType="map">
		delete from  ${table_name_middle} 
			where 1=1
		<if test=' columValue != null and columValue != "" '>
			and ${colum}=#{columValue}
		</if>
		<if test=' colum0Value != null and colum0Value != "" '>
			and ${colum0}=#{colum0Value}
		</if>
		<if test=' colum1Value != null and colum1Value != "" '>
			and ${colum1}=#{colum1Value}
		</if>
		<if test="COMPANY != null and COMPANY != ''">
				AND COMPANY = #{COMPANY}
		</if>
	</delete>
	
	<select id="findHistTableData" parameterType="map" resultType="int">
	select	count(*) from (
			select ${primaryKey} 
		from ${table_name_hist} 
			where 1=1
		<if test=' columValue != null and columValue != "" '>
			and ${colum}=#{columValue}
		</if>
		<if test=' colum0Value != null and colum0Value != "" '>
			and ${colum0}=#{colum0Value}
		</if>
		<if test=' colum1Value != null and colum1Value != "" '>
			and ${colum1}=#{colum1Value}
		</if>
		<if test="COMPANY != null and COMPANY != ''">
				AND COMPANY = #{COMPANY}
		</if>
		union all 
		select ${primaryKey} 
		from ${table_name} 
			where 1=1  and ${primaryKey} != #{pk}
		<if test=' columValue != null and columValue != "" '>
			and ${colum}=#{columValue}
		</if>
		<if test=' colum0Value != null and colum0Value != "" '>
			and ${colum0}=#{colum0Value}
		</if>
		<if test=' colum1Value != null and colum1Value != "" '>
			and ${colum1}=#{colum1Value}
		</if>
		<if test="COMPANY != null and COMPANY != ''">
				AND COMPANY = #{COMPANY}
		</if>
		) a
	</select>

</mapper>
