<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WhiteUsingMapper">

	<!-- 查询 -->	
	<select id="selectTableMsg" parameterType="map" resultType="map">
		SELECT
			business_type,
			business_desc,
			basic_tab_name,
			primary_field_name,
			customer_type_field_name,
			customer_idtype_field_name,
			customer_idnum_field_name,
			customer_idnum_field_name
		FROM
			white_msg_info_config
		WHERE
			business_type = #{rpt_code}
	</select>
	
	
	
	
	<update id="whiteUsingIndvEntStatusFalse" parameterType="map">
		<![CDATA[
			update ${basic_tab_name} m set m.white_using='1' where 
			 not exists (select 1 from white_msg_maintenance t where m.product_code = t.product_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.customer_type is null and t.business_type is null and t.is_using='1') 
			 and not exists (select 1 from white_msg_maintenance t where m.${customer_idtype_field_name} = t.customer_id_type and m.${customer_idnum_field_name} = t.customer_id_num and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.product_code is null and t.business_type is null and t.is_using='1') 
			 and not exists (select 1 from white_msg_maintenance t where t.business_type = #{rpt_code} and m.${primary_field_name} = t.business_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.customer_type is null and t.product_code is null and t.is_using='1') 
			 and not exists (select 1 from white_msg_maintenance t where m.product_code = t.product_code and m.${customer_idtype_field_name} = t.customer_id_type and m.${customer_idnum_field_name} = t.customer_id_num and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.business_type is null and t.is_using='1') 
			 and not exists (select 1 from white_msg_maintenance t where m.product_code = t.product_code and t.business_type = #{rpt_code} and m.${primary_field_name} = t.business_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.customer_type is null and t.is_using='1') 
			 and not exists (select 1 from white_msg_maintenance t where m.${customer_idtype_field_name} = t.customer_id_type and m.${customer_idnum_field_name} = t.customer_id_num and t.business_type = #{rpt_code} and m.${primary_field_name} = t.business_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.product_code is null and t.is_using='1') 
			 and not exists (select 1 from white_msg_maintenance t where m.product_code = t.product_code and m.${customer_idtype_field_name} = t.customer_id_type and m.${customer_idnum_field_name} = t.customer_id_num and t.business_type = #{rpt_code} and m.${primary_field_name} = t.business_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.is_using='1')
			 and m.rpt_date = #{rpt_date} and m.white_using = '2'
		]]>	
	</update>
	
	
	
	<update id="whiteUsingIndvEntStatusTrue" parameterType="map">
		<![CDATA[
			update ${basic_tab_name} m set m.white_using='2' where 
			 (exists (select 1 from white_msg_maintenance t where m.product_code = t.product_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.customer_type is null and t.business_type is null and t.is_using='1') 
			 or exists (select 1 from white_msg_maintenance t where m.${customer_idtype_field_name} = t.customer_id_type and m.${customer_idnum_field_name} = t.customer_id_num and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.product_code is null and t.business_type is null and t.is_using='1') 
			 or exists (select 1 from white_msg_maintenance t where t.business_type = #{rpt_code} and m.${primary_field_name} = t.business_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.customer_type is null and t.product_code is null and t.is_using='1') 
			 or exists (select 1 from white_msg_maintenance t where m.product_code = t.product_code and m.${customer_idtype_field_name} = t.customer_id_type and m.${customer_idnum_field_name} = t.customer_id_num and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.business_type is null and t.is_using='1') 
			 or exists (select 1 from white_msg_maintenance t where m.product_code = t.product_code and t.business_type = #{rpt_code} and m.${primary_field_name} = t.business_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.customer_type is null and t.is_using='1') 
			 or exists (select 1 from white_msg_maintenance t where m.${customer_idtype_field_name} = t.customer_id_type and m.${customer_idnum_field_name} = t.customer_id_num and t.business_type = #{rpt_code} and m.${primary_field_name} = t.business_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.product_code is null and t.is_using='1') 
			 or exists (select 1 from white_msg_maintenance t where m.product_code = t.product_code and m.${customer_idtype_field_name} = t.customer_id_type and m.${customer_idnum_field_name} = t.customer_id_num and t.business_type = #{rpt_code} and m.${primary_field_name} = t.business_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.is_using='1'))
			 and m.rpt_date = #{rpt_date} and m.white_using = '1'
		]]>	
	</update>
	
	
	
	<update id="whiteUsingMotgaStatusFalse" parameterType="map">
		<![CDATA[
			update ${basic_tab_name} m set m.white_using='1' where 
			 not exists (select 1 from white_msg_maintenance t where m.product_code = t.product_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.customer_type is null and t.business_type is null and t.is_using='1') 
			 and not exists (select 1 from white_msg_maintenance t where m.${customer_type_field_name} = t.customer_type and m.${customer_idtype_field_name} = t.customer_id_type and m.${customer_idnum_field_name} = t.customer_id_num and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.product_code is null and t.business_type is null and t.is_using='1') 
			 and not exists (select 1 from white_msg_maintenance t where t.business_type = #{rpt_code} and m.${primary_field_name} = t.business_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.customer_type is null and t.product_code is null and t.is_using='1') 
			 and not exists (select 1 from white_msg_maintenance t where m.product_code = t.product_code and m.${customer_type_field_name} = t.customer_type and m.${customer_idtype_field_name} = t.customer_id_type and m.${customer_idnum_field_name} = t.customer_id_num and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.business_type is null and t.is_using='1') 
			 and not exists (select 1 from white_msg_maintenance t where m.product_code = t.product_code and t.business_type = #{rpt_code} and m.${primary_field_name} = t.business_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.customer_type is null and t.is_using='1') 
			 and not exists (select 1 from white_msg_maintenance t where m.${customer_type_field_name} = t.customer_type and m.${customer_idtype_field_name} = t.customer_id_type and m.${customer_idnum_field_name} = t.customer_id_num and t.business_type = #{rpt_code} and m.${primary_field_name} = t.business_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.product_code is null and t.is_using='1') 
			 and not exists (select 1 from white_msg_maintenance t where m.product_code = t.product_code and m.${customer_type_field_name} = t.customer_type and m.${customer_idtype_field_name} = t.customer_id_type and m.${customer_idnum_field_name} = t.customer_id_num and t.business_type = #{rpt_code} and m.${primary_field_name} = t.business_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.is_using='1')
			 and m.rpt_date = #{rpt_date} and m.white_using = '2'
		]]>	
	</update>
	
	
	
	<update id="whiteUsingMotgaStatusTrue" parameterType="map">
		<![CDATA[
			update ${basic_tab_name} m set m.white_using='2' where 
			 (exists (select 1 from white_msg_maintenance t where m.product_code = t.product_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.customer_type is null and t.business_type is null and t.is_using='1') 
			 or exists (select 1 from white_msg_maintenance t where m.${customer_type_field_name} = t.customer_type and m.${customer_idtype_field_name} = t.customer_id_type and m.${customer_idnum_field_name} = t.customer_id_num and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.product_code is null and t.business_type is null and t.is_using='1') 
			 or exists (select 1 from white_msg_maintenance t where t.business_type = #{rpt_code} and m.${primary_field_name} = t.business_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.customer_type is null and t.product_code is null and t.is_using='1') 
			 or exists (select 1 from white_msg_maintenance t where m.product_code = t.product_code and m.${customer_type_field_name} = t.customer_type and m.${customer_idtype_field_name} = t.customer_id_type and m.${customer_idnum_field_name} = t.customer_id_num and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.business_type is null and t.is_using='1') 
			 or exists (select 1 from white_msg_maintenance t where m.product_code = t.product_code and t.business_type = #{rpt_code} and m.${primary_field_name} = t.business_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.customer_type is null and t.is_using='1') 
			 or exists (select 1 from white_msg_maintenance t where m.${customer_type_field_name} = t.customer_type and m.${customer_idtype_field_name} = t.customer_id_type and m.${customer_idnum_field_name} = t.customer_id_num and t.business_type = #{rpt_code} and m.${primary_field_name} = t.business_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.product_code is null and t.is_using='1') 
			 or exists (select 1 from white_msg_maintenance t where m.product_code = t.product_code and m.${customer_type_field_name} = t.customer_type and m.${customer_idtype_field_name} = t.customer_id_type and m.${customer_idnum_field_name} = t.customer_id_num and t.business_type = #{rpt_code} and m.${primary_field_name} = t.business_code and t.start_date<=#{rpt_date} and t.end_date>=#{rpt_date} and t.is_using='1'))
			 and m.rpt_date = #{rpt_date} and m.white_using = '1'
		]]>	
	</update>
	

</mapper>