<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IndvGuarAcctInfoSeoMapper">
	<resultMap type="com.dcits.supervise.pecr.indv.entity.GuarAcctBsSgmt" id="guarAcctInfoResultMap">
		<result column="PDA_GUAR_ACCT_BS_SGMT_ID" property="pdaGuarAcctBsSgmtId" />
		<result column="INF_REC_TYPE" property="infRecType" />
		<result column="ACCT_TYPE" property="acctType" />
		<result column="ACCT_CODE" property="acctCode" />
		<result column="RPT_DATE" property="rptDate" />
		<result column="RPT_DATE_CODE" property="rptDateCode" />
		<result column="NAME" property="name" />
		<result column="ID_TYPE" property="idType" />
		<result column="ID_NUM" property="idNum" />
		<result column="MNGMT_ORG_CODE" property="mngmtOrgCode" />
		<result column="BUSINESS_STATES" property="businessStates" />
		<result column="REJECT_REASON" property="rejectReason" />
		<result column="MDFC_SGMT_CODE" property="mdfcSgmtCode" />
		<result column="FLAG" property="flag" />
		<result column="REPORT_MESSAGE_ID" property="reportMessageId" />
	</resultMap>

	<resultMap type="com.dcits.supervise.pecr.indv.entity.GuarRltRepymtInfSgmt" id="guarAcctRltInfMap">
		<result column="PDC_RLT_REPYMT_INF_SGMT_ID" property="pdcRltRepymtInfSgmtId" />
		<result column="INFO_ID_TYPE" property="infoIdType" />
		<result column="ARLP_NAME" property="arlpName" />
		<result column="ARLP_CERT_TYPE" property="arlpCertType" />
		<result column="ARLP_CERT_NUM" property="arlpCertNum" />
		<result column="ARLP_TYPE" property="arlpType" />
		<result column="ARLP_AMT" property="arlpAmt" />
		<result column="WARTY_SIGN" property="wartySign" />
		<result column="MAX_GUAR_MCC" property="maxGuarMcc" />
	</resultMap>
	<select id="datalistPage" parameterType="page" resultType="pd">
		  select 
			 A.ACCT_TYPE,A.ACCT_CODE,A.COMPANY,A.EXTEND1 AS NAME,A.EXTEND2 AS ID_NUM,A.EXTEND3 AS CUSTOMERID 
		  from I_GUAR_ACCT_BS_MIDDLE A 
		  <if test="pd.managerId != null and pd.managerId != ''">
				LEFT JOIN PECR.sys_l_c_a_m_m M
		        ON A.ACCT_TYPE = M.ACCT_TYPE
		        AND A.ACCT_CODE = M.ACCT_NUM
		  </if>
		  where 1=1		
		   	  <if test='pd.ACCT_TYPE != null and pd.ACCT_TYPE != ""'>
		   	  	and A.ACCT_TYPE = #{pd.ACCT_TYPE}
		   	  </if>
		   	  <if test='pd.ACCT_CODE != null and pd.ACCT_CODE != ""'>
		   	  	and A.ACCT_CODE like '%${pd.ACCT_CODE}%'
		   	  </if>
		   	  <if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
		   	  	and A.EXTEND2 like '%${pd.ID_NUM}%'
		   	  </if>
		   	  <if test='pd.CUSTOMERID != null and pd.CUSTOMERID != ""'>
		   	  	and A.EXTEND3 like '%${pd.CUSTOMERID}%'
		   	  </if>
		   	  <if test="pd.managerId != null and pd.managerId != ''">
					and M.MANAGER_ID = #{pd.managerId}
					AND M.DATA_TYPE = '1'
					AND M.DATA_LEVEL = '3'
					AND M.END_DATE = '2099-12-31'
			  </if>
		   	    and A.COMPANY = #{pd.COMPANY}
	</select>
	<select id="changelistPage" parameterType="page" resultType="pd">
		 select distinct  ACCT_TYPE,ACCT_CODE,NAME,ID_NUM,CUSTOMERID from (
		  select 
			 ACCT_TYPE,ACCT_CODE,COMPANY,NAME,ID_NUM,EXTEND3 AS CUSTOMERID
		  from I_GUAR_ACCT_BS
		  where INF_REC_TYPE = '232'	
		   	  <if test='pd.ACCT_TYPE != null and pd.ACCT_TYPE != ""'>
		   	  	and ACCT_TYPE = #{pd.ACCT_TYPE}
		   	  </if>
		   	  <if test='pd.ACCT_CODE != null and pd.ACCT_CODE != ""'>
		   	  	and ACCT_CODE like '%${pd.ACCT_CODE}%'
		   	  </if>
		   	  <if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
		   	  	and ID_NUM like '%${pd.ID_NUM}%'
		   	  </if>
		   	  <if test='pd.CUSTOMERID != null and pd.CUSTOMERID != ""'>
		   	  	and EXTEND3 like '%${pd.CUSTOMERID}%'
		   	  </if>
		   	  union all  
		  select 
			 ACCT_TYPE,ACCT_CODE,COMPANY,NAME,ID_NUM,EXTEND3 AS CUSTOMERID
		  from I_GUAR_ACCT_BS_HIST
		  where INF_REC_TYPE = '232'	
		   	  <if test='pd.ACCT_TYPE != null and pd.ACCT_TYPE != ""'>
		   	  	and ACCT_TYPE = #{pd.ACCT_TYPE}
		   	  </if>
		   	  <if test='pd.ACCT_CODE != null and pd.ACCT_CODE != ""'>
		   	  	and ACCT_CODE like '%${pd.ACCT_CODE}%'
		   	  </if>
		   	  <if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
		   	  	and ID_NUM like '%${pd.ID_NUM}%'
		   	  </if>
		   	  <if test='pd.CUSTOMERID != null and pd.CUSTOMERID != ""'>
		   	  	and EXTEND3 like '%${pd.CUSTOMERID}%'
		   	  </if>
		   	  ) a
		  where a.COMPANY = #{pd.COMPANY}
		   	  
	</select>
	<!-- 个人担保基础段 基础段 -->
	<select id="dataHistlistPage" parameterType="page" resultMap="guarAcctInfoResultMap">
	select * from (
		select
			 pda_guar_acct_bs_sgmt_id,
			 acct_type,
			 acct_code,
			 rpt_date,
			 rpt_date_code,
			 name,
			 id_type,
			 id_num,
			 mngmt_org_code,
			 business_states,
			 reject_reason,
			 MDFC_SGMT_CODE,
			 REPORT_MESSAGE_ID,
			 'new' FLAG,
			 COMPANY
		from I_GUAR_ACCT_BS
		where acct_type = #{pd.ACCT_TYPE}
		and acct_code = #{pd.ACCT_CODE} and INF_REC_TYPE = '230'
		union all
		select
			 pda_guar_acct_bs_sgmt_id,
			 acct_type,
			 acct_code,
			 rpt_date,
			 rpt_date_code,
			 name,
			 id_type,
			 id_num,
			 mngmt_org_code,
			 business_states,
			 reject_reason,
			 MDFC_SGMT_CODE,
			 REPORT_MESSAGE_ID,
			 'old' FLAG,
			 COMPANY
		from I_GUAR_ACCT_BS_HIST
		where acct_type = #{pd.ACCT_TYPE}
		and acct_code = #{pd.ACCT_CODE} and INF_REC_TYPE = '230') a
		 where 1=1
		 	 <if test='pd.RPT_DATE != null and pd.RPT_DATE != ""'>
				and a.RPT_DATE = #{pd.RPT_DATE}
			</if>
			    and a.COMPANY = #{pd.COMPANY}
	</select>

<select id="changeHistlistPage" parameterType="page" resultMap="guarAcctInfoResultMap">
	select * from (
		select
			 pda_guar_acct_bs_sgmt_id,
			 acct_type,
			 acct_code,
			 rpt_date,
			 rpt_date_code,
			 name,
			 id_type,
			 id_num,
			 mngmt_org_code,
			 business_states,
			 reject_reason,
			 MDFC_SGMT_CODE,
			 REPORT_MESSAGE_ID,
			 'new' FLAG,
			 COMPANY
		from I_GUAR_ACCT_BS
		where acct_type = #{pd.ACCT_TYPE}
		and acct_code = #{pd.ACCT_CODE} and INF_REC_TYPE = '232'
		union all
		select
			 pda_guar_acct_bs_sgmt_id,
			 acct_type,
			 acct_code,
			 rpt_date,
			 rpt_date_code,
			 name,
			 id_type,
			 id_num,
			 mngmt_org_code,
			 business_states,
			 reject_reason,
			 MDFC_SGMT_CODE,
			 REPORT_MESSAGE_ID,
			 'old' FLAG,
			 COMPANY
		from I_GUAR_ACCT_BS_HIST
		where acct_type = #{pd.ACCT_TYPE}
		and acct_code = #{pd.ACCT_CODE} and INF_REC_TYPE = '232') a
		where 1=1
			<if test='pd.RPT_DATE != null and pd.RPT_DATE != ""'>
				and a.RPT_DATE = #{pd.RPT_DATE}
			</if>
			<if test='pd.NAME != null and pd.NAME != ""'>
				and a.NAME like '%${pd.NAME}%'
			</if>
			<if test='pd.ID_NUM!= null and pd.ID_NUM != ""'>
				and a.ID_NUM like'%${pd.ID_NUM}%'
			</if>
		  and a.COMPANY = #{pd.COMPANY}
	</select>
<!-- 个人担保基础段按段更正 基础段 -->
	<select id="guarUpdateAcctInfolistPage" parameterType="page" resultMap="guarAcctInfoResultMap">
		select
			 pda_guar_acct_bs_sgmt_id,
			 INF_REC_TYPE,
			 acct_type,
			 acct_code,
			 rpt_date,
			 rpt_date_code,
			 name,
			 id_type,
			 id_num,
			 mngmt_org_code,
			 business_states,
			 reject_reason,
			 MDFC_SGMT_CODE
		from I_GUAR_ACCT_BS_HIST where 1=1 
		
			<if test="pd.orgCode != null and pd.orgCode != ''">
				and mngmt_org_code = #{pd.orgCode}
			</if>
			<if test='pd.name != null and pd.name != ""'>
				and name = #{pd.name}
			</if>
			<if test='pd.acctType != null and pd.acctType != ""'>
				and acct_type = #{pd.acctType}
			</if>
			<if test='pd.businessStates != null and pd.businessStates != ""'>
				and business_states = #{pd.businessStates}
			</if>
			<if test='pd.isFilter != null and pd.isFilter != ""'>
				and is_filter = #{pd.isFilter}  
			</if>
		  and MDFC_SGMT_CODE is not null 
	</select>
	<!-- 详情或者修改 查询指定记录 基础段 -->
	<select id="getAcctBsSgmtById" parameterType="pd" resultType="map">
		 select PDA_GUAR_ACCT_BS_SGMT_ID,
				INF_REC_TYPE,
				ACCT_TYPE,
				ACCT_CODE,
				RPT_DATE,
				RPT_DATE_CODE,
				NAME,
				ID_TYPE,
				ID_NUM,
				MNGMT_ORG_CODE,
				LAST_UPDATE_TIME,
				OPERATOR_USER,
				ORG_NAME,
				ORG_CODE,
				BUSINESS_STATES,
				IS_FILTER,
			 MDFC_SGMT_CODE,
			 COMPANY
		   from I_GUAR_ACCT_BS_HIST
		  where pda_guar_acct_bs_sgmt_id = #{pdaGuarAcctBsSgmtId}
		    and COMPANY = #{COMPANY}
	</select>

	<!-- 详情或者修改 查询指定记录 基本信息段 -->
	<select id="getAcctInfSgmtById" parameterType="pd" resultType="pd">
		 select PDB_GUAR_ACCT_INF_SGMT_ID,
				BUSI_LINES,
				BUSI_DTIL_LINES,
				OPEN_DATE,
				ACCT_CRED_LINE,
				CY,
				DUE_DATE,
				GUAR_MODE,
				OTH_REPY_GUAR_WAY,
				SEC_DEP,
				CTRCT_TXT_CD,
				COMPANY
		   from I_GUAR_ACCT_INF_HIST
		  where pda_guar_acct_bs_sgmt_id = #{pdaGuarAcctBsSgmtId}
	</select>

	<!-- 详情或者修改 查询指定记录 相关还款责任人段 -->
	<select id="getRltInflistPage" parameterType="page" resultMap="guarAcctRltInfMap">
		 select PDC_RLT_REPYMT_INF_SGMT_ID,
				INFO_ID_TYPE,
				ARLP_NAME,
				ARLP_CERT_TYPE,
				ARLP_CERT_NUM,
				ARLP_TYPE,
				ARLP_AMT,
				WARTY_SIGN,
				MAX_GUAR_MCC,
				COMPANY
		   from I_GUAR_RLT_REPYMT_INF_HIST
		  where pda_guar_acct_bs_sgmt_id = #{pd.pdaGuarAcctBsSgmtId}
	</select>

	<!-- 详情或者修改 查询指定记录 抵质押物信息段 -->
	<select id="getMccInflistPage" parameterType="page" resultType="pd">
		select pdd_guar_mcc_inf_sgmt_id,
		       CCC,
		       COMPANY
		  from I_GUAR_MCC_INF_HIST
		 where pda_guar_acct_bs_sgmt_id = #{pd.pdaGuarAcctBsSgmtId}
	</select>

	<!-- 详情或者修改 查询指定记录 在保责任信息段 -->
	<select id="getRepymtInfSgmtById" parameterType="pd" resultType="pd">
		 select PDE_GR_REPYMT_INF_SGMT_ID,
				ACCT_STATUS,
				LOAN_AMT,
				REPAY_PRD,
				FIVE_CATE,
				FIVE_CATE_ADJ_DATE,
				RI_EX,
				COMP_ADV_FLAG,
				CLOSE_DATE,
				COMPANY
		   from I_GR_REPYMT_INF_HIST
		  where pda_guar_acct_bs_sgmt_id = #{pdaGuarAcctBsSgmtId}
	</select>

<update id="updateStatus" parameterType="map">
		update I_GUAR_ACCT_BS
		   <set>
		   	  	BUSINESS_STATES = '11'
		   </set>
		   where pda_guar_acct_bs_sgmt_id = #{baseId}
		     and COMPANY = #{COMPANY}
</update>
<update id="backdate" parameterType="map">
		update I_GUAR_ACCT_BS
		   <set>
		   	  	BUSINESS_STATES = '30'
		   </set>
		   where REPORT_MESSAGE_ID = #{reportMessageId}
		     and COMPANY = #{COMPANY}
</update>
<delete id="deletedate" parameterType="map" >
		delete from report_message
		 where REPORT_MESSAGE_FILE_NAME = #{reportMessageId}
		   and COMPANY = #{COMPANY}
</delete>
	
</mapper>
