<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InIDEfctInfSeoMapper">
<sql id="TableName">
		I_IN_ID_EFCT_INF
</sql>
<resultMap type="com.dcits.supervise.pecr.indv.entity.InIDEfctInf" id="listResultMap">
		<result column="PAK_IN_ID_EFCT_INF_ID" property="pakInIdEfctInfId"/>
		<result column="INF_REC_TYPE" property="infRecType"/>
		<result column="NAME" property="name"/>
		<result column="ID_TYPE" property="idType"/>
		<result column="ID_NUM" property="idNum"/>
		<result column="INF_SURC_CODE" property="infSurcCode"/>
		<result column="ID_EFCT_DATE" property="idEfctDate"/>
		<result column="ID_DUE_DATE" property="idDueDate"/>
		<result column="ID_ORG_NAME" property="idOrgName"/>
		<result column="ID_DIST" property="idDist"/>
		<result column="CIMOC" property="cimoc"/>
		<result column="RPT_DATE" property="rptDate"/>
		<result column="LAST_UPDATE_TIME" property="lastUpdateTime"/>
		<result column="OPERATOR_USER" property="operatorUser"/>
		<result column="ORG_NAME" property="orgName"/>
		<result column="ORG_CODE" property="orgCode"/>
		<result column="BUSINESS_STATES" property="businessStates"/>
		<result column="REJECT_REASON" property="rejectReason"/>
		<result column="IS_FILTER" property="isFilter"/>
		<result column="REPORT_MESSAGE_ID" property="reportMessageId"/>
		<result column="FLAG" property="flag"/>
</resultMap>
<select id="datalistPage" parameterType="page" resultType="pd">
		select 
			 ID_TYPE,ID_NUM,COMPANY,EXTEND1 AS NAME,EXTEND3 AS CUSTOMERID
		  from I_IN_ID_EFCT_INF_MIDDLE
		  <if test="pd.managerId != null and pd.managerId != ''">
				LEFT JOIN PECR.sys_l_c_a_m_m M
		        ON ID_TYPE = M.CUST_ID_TYPE
		        AND ID_NUM = M.CUST_ID_NUM
		  </if>
		  where 1=1		
		   	  <if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
		   	  	and ID_TYPE = #{pd.ID_TYPE}
		   	  </if>
		   	  <if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
		   	  	and ID_NUM like '%${pd.ID_NUM}%'
		   	  </if>
		   	  <if test='pd.CUSTOMERID != null and pd.CUSTOMERID != ""'>
		   	  	and EXTEND3 like '%${pd.CUSTOMERID}%'
		   	  </if>
		   	  <if test="pd.managerId != null and pd.managerId != ''">
					and M.MANAGER_ID = #{pd.managerId}
					AND M.DATA_TYPE = '1'
					AND M.DATA_LEVEL = '1'
					AND M.END_DATE = '2099-12-31'
			  </if>
		   	    and COMPANY = #{pd.COMPANY}
</select>
<!-- 查询 -->	
<select id="dataHistlistPage" parameterType="page" resultMap="listResultMap">
select * from (
		select 
			 PAK_IN_ID_EFCT_INF_ID
			,INF_REC_TYPE
			,NAME
			,ID_TYPE
			,ID_NUM
			,INF_SURC_CODE
			,ID_EFCT_DATE
			,ID_DUE_DATE
			,ID_ORG_NAME
			,ID_DIST
			,CIMOC
			,RPT_DATE
			,LAST_UPDATE_TIME
			,OPERATOR_USER
			,ORG_NAME
			,ORG_CODE
			,BUSINESS_STATES
			,REJECT_REASON
			,IS_FILTER
			,REPORT_MESSAGE_ID
			,'new' FLAG
			,COMPANY
		  from I_IN_ID_EFCT_INF
		  where ID_NUM = #{pd.ID_NUM}
		 	and ID_TYPE = #{pd.ID_TYPE}
	union all
		select 
			 PAK_IN_ID_EFCT_INF_ID
			,INF_REC_TYPE
			,NAME
			,ID_TYPE
			,ID_NUM
			,INF_SURC_CODE
			,ID_EFCT_DATE
			,ID_DUE_DATE
			,ID_ORG_NAME
			,ID_DIST
			,CIMOC
			,RPT_DATE
			,LAST_UPDATE_TIME
			,OPERATOR_USER
			,ORG_NAME
			,ORG_CODE
			,BUSINESS_STATES
			,REJECT_REASON
			,IS_FILTER
			,REPORT_MESSAGE_ID
			,'old' FLAG
			,COMPANY
		  from I_IN_ID_EFCT_INF_hist
		  where ID_NUM = #{pd.ID_NUM}
		 	and ID_TYPE = #{pd.ID_TYPE}) a
	 	where 1=1
	 	 <if test='pd.RPT_DATE != null and pd.RPT_DATE != ""'>
			and a.RPT_DATE = #{pd.RPT_DATE}
		</if>
		    and a.COMPANY = #{pd.COMPANY}
</select>
<update id="updateStatus" parameterType="map">
		update I_IN_ID_EFCT_INF
		   <set>
		   	  	BUSINESS_STATES = '11'
		   </set>
		   where PAK_IN_ID_EFCT_INF_ID = #{baseId}
		     and COMPANY = #{COMPANY}
</update>
<update id="backdate" parameterType="map">
		update I_IN_ID_EFCT_INF
		   <set>
		   	  	BUSINESS_STATES = '30'
		   </set>
		   where REPORT_MESSAGE_ID = #{reportMessageId}
		     and COMPANY = #{COMPANY}
</update>
<delete id="deletedate" parameterType="map" >
		delete from report_message
		 where REPORT_MESSAGE_FILE_NAME = #{reportMessageId}
		   and COMPANY = #{COMPANY}
</delete>
</mapper>
