<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx.xsd
	">
	
	
<!-- 引入配置文件 -->  
    <bean id="configPropertyConfigurer"  
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="order" value="2" />  
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="locations">
			<list> 
				<value>classpath:serverThread.properties</value>
			</list>
		</property>  
    </bean>  
  
    <!--配置全局变量-->
    <bean id="properties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="singleton" value="true"/>
        <property name="properties">
              <props>
              		<prop key="prefixThreadName">${prefixThreadName}</prop>
              		<prop key="formatThreadNumber">${formatThreadNumber}</prop>
              		<prop key="rejectedExecutionHandler">${rejectedExecutionHandler}</prop>
              		<prop key="corePoolSize">${corePoolSize}</prop>
              		<prop key="maxPoolSize">${maxPoolSize}</prop>
              		<prop key="timeOut">${timeOut}</prop>
              		<prop key="timeUnit">${timeUnit}</prop>
              		<prop key="blockingQueue">${blockingQueue}</prop>
              		<prop key="prestartAllCoreThreads">${prestartAllCoreThreads}</prop>
              		<prop key="saveCreateReportPath">${saveCreateReportPath}</prop>
              		<prop key="saveBackReportPath">${saveBackReportPath}</prop>
              		<prop key="saveMaxDataNumb">${saveMaxDataNumb}</prop>
              		<prop key="orgDataCode">${orgDataCode}</prop>
              </props>
        </property>
    </bean>

	
</beans>
