<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SendSMSMapper">

	<update id="getMessageTo" parameterType="map">
		MERGE INTO 
		        OVERDUE_INFO A 
		USING 
		        (SELECT MOBILE,CUST_NAME,REPORT_DATE FROM OVERDUE_INFO_TEMP ) B
		ON 
		        A.MOBILE = B.MOBILE AND A.REPORT_DATE = B.REPORT_DATE AND A.CUST_NAME = B.CUST_NAME
		WHEN NOT MATCHED 
		THEN 
		        INSERT (A.MOBILE,A.CUST_NAME,A.REPORT_DATE,A.CREATE_TIME,A.STATUS) VALUES (B.MOBILE,B.CUST_NAME,B.REPORT_DATE,VARCHAR_FORMAT(CURRENT TIMESTAMP ,'YYYY-MM-DD'),'0')
		ELSE 
		        IGNORE  
	</update> 
	
	<update id="updateStatus"  parameterType="String" >
		UPDATE OVERDUE_INFO SET STATUS = '1',RECORD_ID = #{value} WHERE STATUS = '0' 
    </update>
    
    <update id="updateStatusEnd"  parameterType="map" >
		UPDATE OVERDUE_INFO SET STATUS = '2',RECORD_ID =  #{UUID} 
		WHERE STATUS = '1' AND  CUST_NAME = #{CUST_NAME} AND MOBILE = #{MOBILE} AND REPORT_DATE = #{REPORT_DATE}
    </update>
    
    <select id="querySmsRec" parameterType="String" resultType="map">
		select CUST_NAME,MOBILE,REPORT_DATE from OVERDUE_INFO where STATUS = '1' AND RECORD_ID = #{value}
	</select>
	
	<insert  id="insertRecprd"  parameterType="map" >
		 INSERT INTO SMS_RECORD(
		 	RECORD_ID
		 	,MOBILE
		 	,SMS_CONTENT
		 	,CREATE_DATE
		 	,STATUS
		 	,DESCRIPTION
		 	) VALUES (
		 	#{UUID}
		 	,#{MOBILE}
		 	<if test=' REQUEST_STR !=null and REQUEST_STR !="" '>
		 	,#{REQUEST_STR}
		 	</if>
		 	<if test=' REQUEST_STR == null or REQUEST_STR =="" '>
		 	,''
		 	</if>
		 	,VARCHAR_FORMAT(CURRENT TIMESTAMP ,'YYYY-MM-DD')
		 	,#{STATUS}
		 	<if test=' RESPONSE_STR !=null and RESPONSE_STR !="" '>
		 	,#{RESPONSE_STR}
		 	</if>
		 	<if test=' RESPONSE_STR ==null or RESPONSE_STR =="" '>
		 	,''
		 	</if>
		 	)
	</insert>
	
</mapper>