<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EnCtrctInfoSeoMapper">
    <resultMap type="map" id="ctrctBsSgmtMap">
        <result column="EGA_CTRCT_BS_SGMT_ID" property="egaCtrctBsSgmtId" />
        <result column="INF_REC_TYPE" property="infRecType" />
        <result column="CONTRACT_CODE" property="contractCode" />
        <result column="RPT_DATE" property="rptDate" />
        <result column="RPT_DATE_CODE" property="rptDateCode" />
        <result column="NAME" property="name" />
        <result column="ID_TYPE" property="IdType" />
        <result column="ID_NUM" property="IdNum" />
        <result column="MNGMT_ORG_CODE" property="mngmtOrgCode" />
        <result column="LAST_UPDATE_TIME" property="lastUpdateTime" />
        <result column="OPERATOR_USER" property="operatorUser" />
        <result column="ORG_NAME" property="orgName" />
        <result column="ORG_CODE" property="orgCode" />
        <result column="BUSINESS_STATES" property="businessStates" />
        <result column="REJECT_REASON" property="rejectReason" />
        <result column="IS_FILTER" property="isFilter" />
        <result column="MDFC_SGMT_CODE" property="mdfcSgmtCode" />
        <result column="REPORT_MESSAGE_ID" property="reportMessageId" />
        <result column="EXTEND1" property="extend1" />
        <result column="EXTEND2" property="extend2" />
        <result column="EXTEND3" property="extend3" />
        <result column="FLAG" property="flag" />
    </resultMap>
    <select id="datalistPage" parameterType="page" resultType="pd">
			  select 
				 A.CONTRACT_CODE,A.COMPANY
			  from E_CTRCT_BS_MIDDLE A
			  <if test="pd.managerId != null and pd.managerId != ''">
					LEFT JOIN PECR.sys_l_c_a_m_m M
					ON A.CONTRACT_CODE = M.ACCT_NUM 
			 </if> 
			  where 1=1		
			   	  <if test='pd.CONTRACT_CODE != null and pd.CONTRACT_CODE != ""'>
			   	  	and A.CONTRACT_CODE like '%${pd.CONTRACT_CODE}'%
			   	  </if>
			   	   <if test="pd.managerId != null and pd.managerId != ''">
						and M.MANAGER_ID = #{pd.managerId}
						AND M.DATA_TYPE = '2'
						AND M.DATA_LEVEL = '4'
		   				AND M.END_DATE = '2099-12-31'
				  </if>
			   	    and A.COMPANY = #{pd.COMPANY}
	</select>
	<select id="changelistPage" parameterType="page" resultType="pd">
		select distinct CONTRACT_CODE,COMPANY from (
				select 
				 CONTRACT_CODE,COMPANY
			  from E_CTRCT_BS
			  where INF_REC_TYPE = '422'	
			   	  <if test='pd.CONTRACT_CODE != null and pd.CONTRACT_CODE != ""'>
			   	  	and CONTRACT_CODE like '%${pd.CONTRACT_CODE}%'
			   	  </if>
			  union all  
			   	  select 
				 CONTRACT_CODE,COMPANY
			  from E_CTRCT_BS_HIST
			  where INF_REC_TYPE = '422'		
			   	  <if test='pd.CONTRACT_CODE != null and pd.CONTRACT_CODE != ""'>
			   	  	and CONTRACT_CODE like '%${pd.CONTRACT_CODE}%'
			   	  </if>
			   	  ) a
			  where 1=1
			      <if test='pd.CONTRACT_CODE != null and pd.CONTRACT_CODE != ""'>
			   	  	and a.CONTRACT_CODE like '%${pd.CONTRACT_CODE}%'
			   	  </if> 
			        and a.COMPANY = #{pd.COMPANY}
	</select>
    <!-- 借贷信息 基础段 -->
    <select id="dataHistlistPage" parameterType="page" resultMap="ctrctBsSgmtMap">
    select * from (
        select  EGA_CTRCT_BS_SGMT_ID,
                INF_REC_TYPE,
                CONTRACT_CODE,
                RPT_DATE,
                RPT_DATE_CODE,
                NAME,
                ID_TYPE,
                ID_NUM,
                MNGMT_ORG_CODE,
                LAST_UPDATE_TIME,
                OPERATOR_USER,
                ORG_NAME,
                ORG_CODE,
                BUSINESS_STATES,
                REJECT_REASON,
                IS_FILTER,
                MDFC_SGMT_CODE,
                REPORT_MESSAGE_ID,
                'new' FLAG,
                COMPANY
        from E_CTRCT_BS
        where INF_REC_TYPE = '420' and CONTRACT_CODE = #{pd.CONTRACT_CODE}
        union all
        select  EGA_CTRCT_BS_SGMT_ID,
                INF_REC_TYPE,
                CONTRACT_CODE,
                RPT_DATE,
                RPT_DATE_CODE,
                NAME,
                ID_TYPE,
                ID_NUM,
                MNGMT_ORG_CODE,
                LAST_UPDATE_TIME,
                OPERATOR_USER,
                ORG_NAME,
                ORG_CODE,
                BUSINESS_STATES,
                REJECT_REASON,
                IS_FILTER,
                MDFC_SGMT_CODE,
                REPORT_MESSAGE_ID,
                'old' FLAG,
                COMPANY
        from E_CTRCT_BS_HIST
         where INF_REC_TYPE = '420' and CONTRACT_CODE = #{pd.CONTRACT_CODE}) a
        where 1=1
       		  <if test='pd.RPT_DATE != null and pd.RPT_DATE != ""'>
		   	  	and a.RPT_DATE = #{pd.RPT_DATE}
		   	  </if>
		   	    and a.COMPANY = #{pd.COMPANY}
    </select>
    
     <select id="changeHistlistPage" parameterType="page" resultMap="ctrctBsSgmtMap">
    select * from (
        select  EGA_CTRCT_BS_SGMT_ID,
                INF_REC_TYPE,
                CONTRACT_CODE,
                RPT_DATE,
                RPT_DATE_CODE,
                NAME,
                ID_TYPE,
                ID_NUM,
                MNGMT_ORG_CODE,
                LAST_UPDATE_TIME,
                OPERATOR_USER,
                ORG_NAME,
                ORG_CODE,
                BUSINESS_STATES,
                REJECT_REASON,
                IS_FILTER,
                MDFC_SGMT_CODE,
                REPORT_MESSAGE_ID,
                'new' FLAG,
                COMPANY
        from E_CTRCT_BS   
         where INF_REC_TYPE = '422' and CONTRACT_CODE = #{pd.CONTRACT_CODE}
        union all
        select  EGA_CTRCT_BS_SGMT_ID,
                INF_REC_TYPE,
                CONTRACT_CODE,
                RPT_DATE,
                RPT_DATE_CODE,
                NAME,
                ID_TYPE,
                ID_NUM,
                MNGMT_ORG_CODE,
                LAST_UPDATE_TIME,
                OPERATOR_USER,
                ORG_NAME,
                ORG_CODE,
                BUSINESS_STATES,
                REJECT_REASON,
                IS_FILTER,
                MDFC_SGMT_CODE,
                REPORT_MESSAGE_ID,
                'old' FLAG,
                COMPANY
        from E_CTRCT_BS_HIST
        where INF_REC_TYPE = '422' and CONTRACT_CODE = #{pd.CONTRACT_CODE}) a
        where 1=1
       		  <if test='pd.RPT_DATE != null and pd.RPT_DATE != ""'>
		   	  	and a.RPT_DATE = #{pd.RPT_DATE}
		   	  </if>
		   	    and a.COMPANY = #{pd.COMPANY}
    </select>
    <!-- 详情或者修改 查询指定记录 基础段 -->
    <select id="getCtrctBsSgmtById" parameterType="pd" resultType="map">
        SELECT  EGA_CTRCT_BS_SGMT_ID,
                INF_REC_TYPE,
                CONTRACT_CODE,
                RPT_DATE,
                RPT_DATE_CODE,
                NAME,
                ID_TYPE,
                ID_NUM,
                MNGMT_ORG_CODE,
                LAST_UPDATE_TIME,
                OPERATOR_USER,
                ORG_NAME,
                ORG_CODE,
                BUSINESS_STATES,
                REJECT_REASON,
                IS_FILTER,
                MDFC_SGMT_CODE,
                REPORT_MESSAGE_ID,
                EXTEND1,
                EXTEND2,
                EXTEND3,
                COMPANY
           from E_CTRCT_BS_HIST
          where EGA_CTRCT_BS_SGMT_ID = #{egaCtrctBsSgmtId}
            and COMPANY = #{COMPANY}
    </select>
    <!-- 详情或者修改 查询指定记录 授信人段信息 -->
    <select id="getCreditLimSgmtById" parameterType="pd" resultType="pd">
        SELECT  EGC_CREDIT_LIM_SGMT_ID,
                CREDIT_LIM_TYPE,
                LIM_LOOP_FLG,
                CREDIT_LIM,
                CY,
                CON_EFF_DATE,
                CON_EXP_DATE,
                CON_STATUS,
                CREDIT_REST,
                CREDIT_REST_CODE,
                EGA_CTRCT_BS_SGMT_ID,
                RPT_DATE,
                EXTEND1,
                EXTEND2,
                EXTEND3,
                COMPANY
           from E_CREDIT_LIM_HIST
          where EGA_CTRCT_BS_SGMT_ID = #{egaCtrctBsSgmtId}
    </select>
    <!-- 详情或者修改 查询指定记录 共同授信人段 -->
    <select id="getRltInfolistPage" parameterType="page" resultType="pd">
        SELECT  EGB_CTRCT_CERT_REL_SGMT_ID,
                BRER_TYPE,
                CERT_REL_NAME,
                CERT_REL_IDTYPE,
                CERT_REL_ID_NUM,
                EGA_CTRCT_BS_SGMT_ID,
                RPT_DATE,
                EXTEND1,
                EXTEND2,
                EXTEND3,
                COMPANY
           from E_CTRCT_CERT_REL_HIST
          where EGA_CTRCT_BS_SGMT_ID = #{pd.egaCtrctBsSgmtId}
    </select>
    <update id="updateStatus" parameterType="map">
		update E_CTRCT_BS
		   <set>
		   	  	BUSINESS_STATES = '11'
		   </set>
		   where EGA_CTRCT_BS_SGMT_ID = #{baseId}
		     and COMPANY = #{COMPANY}
	</update>
	<update id="backdate" parameterType="map">
			update E_CTRCT_BS
			   <set>
			   	  	BUSINESS_STATES = '30'
			   </set>
			   where REPORT_MESSAGE_ID = #{reportMessageId}
			     and COMPANY = #{COMPANY}
	</update>
	<delete id="deletedate" parameterType="map" >
			delete from report_message
			 where REPORT_MESSAGE_FILE_NAME = #{reportMessageId}
			  AND COMPANY = #{COMPANY}
	</delete>
</mapper>
