<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EnIcdnRltpInfSeoMapper">
	<resultMap type="com.dcits.supervise.pecr.ent.entity.EnIcdnRltpInf" id="enIcdnRltpInfResultMap">
		<result column="eca_en_icdn_rltp_inf_id" property="ecaEnIcdnRltpInfId"/>
		<result column="inf_rec_type" property="infRecType"/> 
		<result column="ent_name" property="entName"/> 
		<result column="ent_cert_type" property="entCertType"/>
		<result column="ent_cert_num" property="entCertNum"/> 
		<result column="asso_ent_name" property="assoEntName"/> 
		<result column="asso_ent_cert_type" property="assoEntCertType"/> 
		<result column="asso_ent_cert_num" property="assoEntCertNum"/>
		<result column="asso_type" property="assoType"/> 
		<result column="asso_sign" property="assoSign"/> 
		<result column="last_update_time" property="lastUpdateTime"/>
		<result column="operator_user" property="operatorUser"/>
		<result column="org_name" property="orgName"/>
		<result column="org_code" property="orgCode"/>
		<result column="business_states" property="businessStates"/>
		<result column="reject_reason" property="rejectReason"/>
		<result column="is_filter" property="isFilter"/>
		<result column="report_message_id" property="reportMessageId"/>
		<result column="rpt_date" property="rptDate"/>
		<result column="FLAG" property="flag"/>
	</resultMap>
	
	<select id="datalistPage" parameterType="page" resultType="pd">
		  select 
			 ENT_CERT_TYPE,ENT_CERT_NUM,COMPANY
		  from E_ICDN_RLTP_INF_MIDDLE
		  <if test="pd.managerId != null and pd.managerId != ''">
				LEFT JOIN PECR.sys_l_c_a_m_m M
				ON E_ICDN_RLTP_INF_MIDDLE.ENT_CERT_TYPE = M.CUST_ID_TYPE
				AND E_ICDN_RLTP_INF_MIDDLE.ENT_CERT_NUM = M.CUST_ID_NUM
		  </if>
		  where 1=1		
		   	 <if test='pd.ENT_CERT_NUM != null and pd.ENT_CERT_NUM != ""'>
		   	  	and ENT_CERT_NUM like'%${pd.ENT_CERT_NUM}%'
		   	  </if>
		   	  <if test='pd.ENT_CERT_TYPE != null and pd.ENT_CERT_TYPE != ""'>
		   	  	and ENT_CERT_TYPE = #{pd.ENT_CERT_TYPE}
		   	  </if>
		   	   <if test="pd.managerId != null and pd.managerId != ''">
					and M.MANAGER_ID = #{pd.managerId}
					AND M.DATA_TYPE = '2'
					AND M.DATA_LEVEL = '1'
		   			AND M.END_DATE = '2099-12-31'
			  </if>
		   	    and COMPANY = #{pd.COMPANY}
	</select>
	<!-- 授信协议信息  数据列表 -->
	<select id="dataHistlistPage" parameterType="page" resultMap="enIcdnRltpInfResultMap">
	select * from (
		 select  eca_en_icdn_rltp_inf_id 
				  ,inf_rec_type 
				  ,ent_name 
				  ,ent_cert_type 
				  ,ent_cert_num 
				  ,asso_ent_name 
				  ,asso_ent_cert_type 
				  ,asso_ent_cert_num 
				  ,asso_type
				  ,asso_sign 
				  ,last_update_time 
				  ,operator_user 
				  ,org_name 
				  ,org_code 
				  ,business_states 
				  ,reject_reason 
				  ,is_filter 
				  ,report_message_id 
				  ,rpt_date
				  ,'new' FLAG
				  ,COMPANY
		   from E_ICDN_RLTP_INF
		where ent_cert_type = #{pd.ENT_CERT_TYPE}  and     ent_cert_num = #{pd.ENT_CERT_NUM}
		union all
		select eca_en_icdn_rltp_inf_id 
				  ,inf_rec_type 
				  ,ent_name 
				  ,ent_cert_type 
				  ,ent_cert_num 
				  ,asso_ent_name 
				  ,asso_ent_cert_type 
				  ,asso_ent_cert_num 
				  ,asso_type
				  ,asso_sign 
				  ,last_update_time 
				  ,operator_user 
				  ,org_name 
				  ,org_code 
				  ,business_states 
				  ,reject_reason 
				  ,is_filter 
				  ,report_message_id 
				  ,rpt_date
				  ,'old' FLAG
				  ,COMPANY
		   from E_ICDN_RLTP_INF_hist
		where  ent_cert_type = #{pd.ENT_CERT_TYPE}  and     ent_cert_num = #{pd.ENT_CERT_NUM}) a
		where 1=1
       		  <if test='pd.RPT_DATE != null and pd.RPT_DATE != ""'>
		   	  	and a.RPT_DATE = #{pd.RPT_DATE}
		   	  </if>
		   	    and COMPANY = #{pd.COMPANY}
	</select>
	
	<!-- 企业间关联关系 查询 -->
	<select id="enIcdnRltpInflistPage" parameterType="page" resultMap="enIcdnRltpInfResultMap">
		  select 
			      eca_en_icdn_rltp_inf_id 
				  ,inf_rec_type 
				  ,ent_name 
				  ,ent_cert_type 
				  ,ent_cert_num 
				  ,asso_ent_name 
				  ,asso_ent_cert_type 
				  ,asso_ent_cert_num 
				  ,asso_type
				  ,asso_sign 
				  ,last_update_time 
				  ,operator_user 
				  ,org_name 
				  ,org_code 
				  ,business_states 
				  ,reject_reason 
				  ,is_filter 
				  ,report_message_id 
				  ,rpt_date
		   from E_ICDN_RLTP_INF_HIST
		<where>
			<if test="pd.orgCode != null and pd.orgCode != ''">
		         and mngmt_org_code = #{pd.orgCode}
		    </if>
		    <if test='pd.name != null and pd.name != ""'>
		   	  	and name = #{pd.name}
		   	</if>
		   	<if test='pd.acctType != null and pd.acctType != ""'>
		   	  	and acct_type = #{pd.acctType}
		   	</if>
		   	<if test='pd.businessStates != null and pd.businessStates != ""'>
		   	  	and business_states = #{pd.businessStates}
		   	</if>
		</where>
	</select>
	<!-- 详情或者修改 查询指定记录 -->
	<select id="EnIcdnRltpInfbyId" parameterType="pd" resultType="pd">
		 select   eca_en_icdn_rltp_inf_id 
				  ,inf_rec_type 
				  ,ent_name 
				  ,ent_cert_type 
				  ,ent_cert_num 
				  ,asso_ent_name 
				  ,asso_ent_cert_type 
				  ,asso_ent_cert_num 
				  ,asso_type
				  ,asso_sign 
				  ,last_update_time 
				  ,operator_user 
				  ,org_name 
				  ,org_code 
				  ,business_states 
				  ,reject_reason 
				  ,is_filter 
				  ,report_message_id 
				  ,rpt_date
		   from E_ICDN_RLTP_INF_HIST
		  where ECA_EN_ICDN_RLTP_INF_ID  = #{ecaEnIcdnRltpInfId}
	</select>
		
<update id="updateStatus" parameterType="map">
		update E_ICDN_RLTP_INF
		   <set>
		   	  	BUSINESS_STATES = '11'
		   </set>
		   where ECA_EN_ICDN_RLTP_INF_ID = #{baseId}
		     and COMPANY = #{COMPANY}
</update>
<update id="backdate" parameterType="map">
		update E_ICDN_RLTP_INF
		   <set>
		   	  	BUSINESS_STATES = '30'
		   </set>
		   where REPORT_MESSAGE_ID = #{reportMessageId}
		     and COMPANY = #{COMPANY}
</update>
<delete id="deletedate" parameterType="map" >
		delete from report_message
		 where REPORT_MESSAGE_FILE_NAME = #{reportMessageId}
		   and COMPANY = #{COMPANY}
</delete>
</mapper>
