<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EnSecAcctInfSeoMapper">
	<resultMap type="com.dcits.supervise.pecr.ent.entity.EnSecAcctInf" id="enSecAcctInfResultMap">
		<result column="eea_guar_acct_bs_sgmt_id" property="eeaGuarAcctBsSgmtId" />
		<result column="inf_rec_type" property="infRecType" />
		<result column="acct_type" property="acctType" />
		<result column="acct_code" property="acctCode" />
		<result column="rpt_date" property="rptDate" />
		<result column="rpt_date_code" property="rptDateCode" />
		<result column="name" property="name" />
		<result column="id_type" property="idType" />
		<result column="id_num" property="idNum" />
		<result column="mngmt_org_code" property="mngmtOrgCode" />
		<result column="business_states" property="businessStates" />
		<result column="is_filter" property="isFilter" />
		<result column="reject_reason" property="rejectReason" />
		<result column="report_message_id" property="reportMessageId" />
		<result column="mdfc_sgmt_code" property="mdfcSgmtCode" />
		<result column="last_update_time" property="lastUpdateTime" />
		<result column="operator_user" property="operatorUser" />
		<result column="org_name" property="orgName" />
		<result column="org_code" property="orgCode" />
		<result column="FLAG" property="flag" />
	</resultMap>
	<select id="datalistPage" parameterType="page" resultType="pd">
			  select 
				 A.ACCT_TYPE,A.ACCT_CODE,A.COMPANY
			  from E_GUAR_ACCT_BS_MIDDLE A
			  <if test="pd.managerId != null and pd.managerId != ''">
					LEFT JOIN PECR.sys_l_c_a_m_m M
					ON A.ACCT_CODE = M.ACCT_NUM 
					AND A.ACCT_TYPE = M.ACCT_TYPE
			 </if> 
			  where 1=1		
			   	  <if test='pd.ACCT_TYPE != null and pd.ACCT_TYPE != ""'>
			   	  	and A.ACCT_TYPE = #{pd.ACCT_TYPE}
			   	  </if>
			   	  <if test='pd.ACCT_CODE != null and pd.ACCT_CODE != ""'>
			   	  	and A.ACCT_CODE like '%${pd.ACCT_CODE}%'
			   	  </if>
			   	  <if test="pd.managerId != null and pd.managerId != ''">
						and M.MANAGER_ID = #{pd.managerId}
						AND M.DATA_TYPE = '2'
						AND M.DATA_LEVEL = '3'
		   				AND M.END_DATE = '2099-12-31'
				  </if>
			   	    and A.COMPANY = #{pd.COMPANY}
	</select>
	<select id="changelistPage" parameterType="page" resultType="pd">
			 select distinct ACCT_TYPE,ACCT_CODE,COMPANY from (
				 select 
					 ACCT_TYPE,ACCT_CODE,COMPANY
				  from E_GUAR_ACCT_BS 
				  where INF_REC_TYPE = '442'		
				   	  <if test='pd.ACCT_TYPE != null and pd.ACCT_TYPE != ""'>
				   	  	and ACCT_TYPE = #{pd.ACCT_TYPE}
				   	  </if>
				   	  <if test='pd.ACCT_CODE != null and pd.ACCT_CODE != ""'>
				   	  	and ACCT_CODE like '%${pd.ACCT_CODE}%'
				   	  </if>
				   	  union all 
				  select 
					 ACCT_TYPE,ACCT_CODE,COMPANY
				  from E_GUAR_ACCT_BS_HIST 
				  where INF_REC_TYPE = '442'	
				   	  <if test='pd.ACCT_TYPE != null and pd.ACCT_TYPE != ""'>
				   	  	and ACCT_TYPE = #{pd.ACCT_TYPE}
				   	  </if>
				   	  <if test='pd.ACCT_CODE != null and pd.ACCT_CODE != ""'>
				   	  	and ACCT_CODE like '%${pd.ACCT_CODE}%'
				   	  </if>
			   	  ) a 
			  where 1=1
			  	 <if test='pd.ACCT_TYPE != null and pd.ACCT_TYPE != ""'>
			   	  	and a.ACCT_TYPE = #{pd.ACCT_TYPE}
			   	  </if>
			   	  <if test='pd.ACCT_CODE != null and pd.ACCT_CODE != ""'>
			   	  	and a.ACCT_CODE like '%${pd.ACCT_CODE}%'
			   	  </if>
			        and a.COMPANY = #{pd.COMPANY}
	</select>
	
	<!-- 担保基础段 基础段 -->
	<select id="dataHistlistPage" parameterType="page" resultMap="enSecAcctInfResultMap">
	select * from (
		select
			 eea_guar_acct_bs_sgmt_id 
			  ,inf_rec_type 
			  ,acct_type 
			  ,acct_code 
			  ,rpt_date 
			  ,rpt_date_code 
			  ,name 
			  ,id_type 
			  ,id_num 
			  ,mngmt_org_code 
			  ,last_update_time 
			  ,operator_user 
			  ,org_name 
			  ,org_code 
			  ,business_states 
			  ,reject_reason 
			  ,is_filter 
			  ,report_message_id 
			  ,mdfc_sgmt_code 
			  ,'new' FLAG
			  ,COMPANY
		from E_GUAR_ACCT_BS
		where ACCT_TYPE = #{pd.ACCT_TYPE} and ACCT_CODE = #{pd.ACCT_CODE} and  INF_REC_TYPE = '440'	
		union all
		select
			 eea_guar_acct_bs_sgmt_id 
			  ,inf_rec_type 
			  ,acct_type 
			  ,acct_code 
			  ,rpt_date 
			  ,rpt_date_code 
			  ,name 
			  ,id_type 
			  ,id_num 
			  ,mngmt_org_code 
			  ,last_update_time 
			  ,operator_user 
			  ,org_name 
			  ,org_code 
			  ,business_states 
			  ,reject_reason 
			  ,is_filter 
			  ,report_message_id 
			  ,mdfc_sgmt_code 
			  ,'old' FLAG
			  ,COMPANY
		from E_GUAR_ACCT_BS_hist
		where ACCT_TYPE = #{pd.ACCT_TYPE} and ACCT_CODE = #{pd.ACCT_CODE} and  INF_REC_TYPE = '440'	) a
		where 1=1
       		  <if test='pd.RPT_DATE != null and pd.RPT_DATE != ""'>
		   	  	and a.RPT_DATE = #{pd.RPT_DATE}
		   	  </if>
		   	    and a.COMPANY = #{pd.COMPANY}
	</select>
<select id="changeHistlistPage" parameterType="page" resultMap="enSecAcctInfResultMap">
	select * from (
		select
			 eea_guar_acct_bs_sgmt_id 
			  ,inf_rec_type 
			  ,acct_type 
			  ,acct_code 
			  ,rpt_date 
			  ,rpt_date_code 
			  ,name 
			  ,id_type 
			  ,id_num 
			  ,mngmt_org_code 
			  ,last_update_time 
			  ,operator_user 
			  ,org_name 
			  ,org_code 
			  ,business_states 
			  ,reject_reason 
			  ,is_filter 
			  ,report_message_id 
			  ,mdfc_sgmt_code 
			  ,'new' FLAG
			  ,COMPANY
		from E_GUAR_ACCT_BS
		where ACCT_TYPE = #{pd.ACCT_TYPE} and ACCT_CODE = #{pd.ACCT_CODE} and  INF_REC_TYPE = '442'	
		union all
		select
			 eea_guar_acct_bs_sgmt_id 
			  ,inf_rec_type 
			  ,acct_type 
			  ,acct_code 
			  ,rpt_date 
			  ,rpt_date_code 
			  ,name 
			  ,id_type 
			  ,id_num 
			  ,mngmt_org_code 
			  ,last_update_time 
			  ,operator_user 
			  ,org_name 
			  ,org_code 
			  ,business_states 
			  ,reject_reason 
			  ,is_filter 
			  ,report_message_id 
			  ,mdfc_sgmt_code 
			  ,'old' FLAG
			  ,COMPANY
		from E_GUAR_ACCT_BS_hist
		where ACCT_TYPE = #{pd.ACCT_TYPE} and ACCT_CODE = #{pd.ACCT_CODE} and  INF_REC_TYPE = '442'	) a
		where 1=1
       		  <if test='pd.RPT_DATE != null and pd.RPT_DATE != ""'>
		   	  	and a.RPT_DATE = #{pd.RPT_DATE}
		   	  </if>
		   	    and a.COMPANY = #{pd.COMPANY}
	</select>
	<!-- 详情或者修改 查询指定记录 基础段 -->
	<select id="getenSecAcctInfById" parameterType="pd" resultType="map">
		 select
			 eea_guar_acct_bs_sgmt_id 
			  ,inf_rec_type 
			  ,acct_type 
			  ,acct_code 
			  ,rpt_date 
			  ,rpt_date_code 
			  ,name 
			  ,id_type 
			  ,id_num 
			  ,mngmt_org_code 
			  ,last_update_time 
			  ,operator_user 
			  ,org_name 
			  ,org_code 
			  ,business_states 
			  ,reject_reason 
			  ,is_filter 
			  ,report_message_id 
			  ,mdfc_sgmt_code,
			  COMPANY 
		from E_GUAR_ACCT_BS_HIST
		  where eea_guar_acct_bs_sgmt_id = #{eeaGuarAcctBsSgmtId}
		    and COMPANY = #{COMPANY}
	</select>

	<!-- 详情或者修改 查询指定记录 基本信息段 -->
	<select id="getGuarAcctBsInfSgmtById" parameterType="pd" resultType="pd">
		 select   eeb_guar_acct_bs_inf_sgmt_id 
				  ,busi_lines 
				  ,busi_dtil_lines 
				  ,open_date 
				  ,guar_amt 
				  ,cy 
				  ,due_date 
				  ,guar_mode 
				  ,oth_repy_guarway 
				  ,sec_dep 
				  ,ctrct_txt_code 
				  ,eea_guar_acct_bs_sgmt_id 
				  ,rpt_date
				  ,COMPANY 
		   from E_GUAR_ACCT_BS_INF_HIST
		  where eea_guar_acct_bs_sgmt_id = #{eeaGuarAcctBsSgmtId}
	</select>

	<!-- 详情或者修改 查询指定记录 相关还款责任人段 -->
	<select id="getRltInflistPage" parameterType="page" resultType="pd">
		 select   EEC_RLT_REPYMT_INF_SGMT_ID eecRltRepymtInfSgmtId,
				  INFO_ID_TYPE infoIdType,
				  arlp_name arlpName,
				  arlp_cert_type arlpCertType,
				  arlp_cert_num arlpCertNum,
				  arlp_type arlpType,
				  arlp_amt arlpAmt,
				  warty_sign wartySign,
				  max_guar_mcc maxGuarMcc,
				  EEA_GUAR_ACCT_BS_SGMT_ID eeaGuarAcctBsSgmtId,
				  rpt_date,
				  COMPANY
		   from E_SEC_RLT_REPYMT_INF_HIST
		  where EEA_GUAR_ACCT_BS_SGMT_ID = #{pd.eeaGuarAcctBsSgmtId}
	</select>

	<!-- 详情或者修改 查询指定记录 抵质押物信息段 -->
	<select id="getMccInflistPage" parameterType="page" resultType="pd">
		select eed_guar_motga_cltal_inf_id,
		       ccc,
		       COMPANY
		  from E_GUAR_MOTGA_CLTAL_INF_HIST
		 where eea_guar_acct_bs_sgmt_id = #{pd.eeaGuarAcctBsSgmtId}
	</select>

	<!-- 详情或者修改 查询指定记录 账户信息授信额度信息段 -->
	<select id="getacctCredSgmtById" parameterType="pd" resultType="pd">
		 select   eee_guar_acct_cred_sgmt_id 
				  ,mcc 
				  ,eea_guar_acct_bs_sgmt_id 
				  ,rpt_date
				  ,COMPANY
		   from E_GUAR_ACCT_CRED_HIST
		  where eea_guar_acct_bs_sgmt_id = #{eeaGuarAcctBsSgmtId}
	</select>
	
	<!-- 详情或者修改 查询指定记录 在保责任信息段 -->
	<select id="getRepymtInfSgmtById" parameterType="pd" resultType="pd">
		 select   eef_guar_rlt_repymt_inf_sg_id 
				  ,acct_status 
				  ,loan_amt 
				  ,repay_prd 
				  ,five_cate 
				  ,five_cate_adj_date 
				  ,ri_ex 
				  ,comp_adv_flag 
				  ,close_date 
				  ,eea_guar_acct_bs_sgmt_id 
				  ,rpt_date
				  ,COMPANY
		   from E_GUAR_INSURANCE_INF_HIST
		  where eea_guar_acct_bs_sgmt_id = #{eeaGuarAcctBsSgmtId}
	</select>
	<update id="updateStatus" parameterType="map">
		update E_GUAR_ACCT_BS
		   <set>
		   	  	BUSINESS_STATES = '11'
		   </set>
		   where eea_guar_acct_bs_sgmt_id = #{baseId}
		     and COMPANY = #{COMPANY}
	</update>
	<update id="backdate" parameterType="map">
			update E_GUAR_ACCT_BS
			   <set>
			   	  	BUSINESS_STATES = '30'
			   </set>
			   where REPORT_MESSAGE_ID = #{reportMessageId}
			     and COMPANY = #{COMPANY}
	</update>
	<delete id="deletedate" parameterType="map" >
			delete from report_message
			 where REPORT_MESSAGE_FILE_NAME = #{reportMessageId}
			   and COMPANY = #{COMPANY}
	</delete>
</mapper>
