<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EntLoanAcctInfoSeoMapper">
	<resultMap type="com.dcits.supervise.pecr.ent.entity.EntAcctBsSgmt" id="entAcctInfoResultMap">
		<result column="EDA_ACCT_BS_SGMT_ID" property="edaAcctBsSgmtId" />
		<result column="INF_REC_TYPE" property="infRecType" />
		<result column="ACCT_TYPE" property="acctType" />
		<result column="ACCT_CODE" property="acctCode" />
		<result column="RPT_DATE" property="rptDate" />
		<result column="RPT_DATE_CODE" property="rptDateCode" />
		<result column="NAME" property="name" />
		<result column="ID_TYPE" property="idType" />
		<result column="ID_NUM" property="idNum" />
		<result column="MNGMT_ORG_CODE" property="mngmtOrgCode" />
		<result column="BUSINESS_STATES" property="businessStates" />
		<result column="REJECT_REASON" property="rejectReason" />
		<result column="FLAG"                 property="flag"/>
		<result column="REPORT_MESSAGE_ID"    property="reportMessageId"/>
		<result column="MDFC_SGMT_CODE"    property="mdfcSgmtCode"/>
	</resultMap>

	<resultMap type="com.dcits.supervise.pecr.ent.entity.EntRltRepymtSgmt" id="entAcctRltInfoMap">
		<result column="EDC_RLT_REPYMT_INF_SGMT_ID" property="edcRltRepymtInfSgmtId" />
		<result column="ARLP_ID_TYPE" property="arlpIdType" />
		<result column="ARLP_NAME" property="arlpName" />
		<result column="ARLP_CERT_TYPE" property="arlpCertType" />
		<result column="ARLP_CERT_NUM" property="arlpCertNum" />
		<result column="ARLP_TYPE" property="arlpType" />
		<result column="ARLP_AMT" property="arlpAmt" />
		<result column="WARTY_SIGN" property="wartySign" />
		<result column="MAX_GUAR_MCC" property="maxGuarMcc" />
	</resultMap>
	<select id="datalistPage" parameterType="page" resultType="pd">
			  select 
				 A.ACCT_TYPE,A.ACCT_CODE,A.COMPANY
			  from E_ACCT_BS_MIDDLE A
			  <if test="pd.managerId != null and pd.managerId != ''">
					LEFT JOIN PECR.sys_l_c_a_m_m M
					ON A.ACCT_TYPE = M.ACCT_TYPE
					AND A.ACCT_CODE = M.ACCT_NUM
			  </if>
			  where 1=1		
			   	  <if test='pd.ACCT_TYPE != null and pd.ACCT_TYPE != ""'>
			   	  	and A.ACCT_TYPE = #{pd.ACCT_TYPE}
			   	  </if>
			   	  <if test='pd.ACCT_CODE != null and pd.ACCT_CODE != ""'>
			   	  	and A.ACCT_CODE like '%${pd.ACCT_CODE}%'
			   	  </if>
			   	  <if test="pd.managerId != null and pd.managerId != ''">
						and M.MANAGER_ID = #{pd.managerId}
						AND M.DATA_TYPE = '2'
						AND M.DATA_LEVEL = '2'
		   				AND M.END_DATE = '2099-12-31'
				  </if>
			   	    and A.COMPANY = #{pd.COMPANY}
	</select>
	
	<select id="changelistPage" parameterType="page" resultType="pd">
			select  ACCT_TYPE,ACCT_CODE,COMPANY from (  select 
				 ACCT_TYPE,ACCT_CODE,COMPANY
			  from E_ACCT_BS
			  where INF_REC_TYPE = '412'
			   	  <if test='pd.ACCT_TYPE != null and pd.ACCT_TYPE != ""'>
			   	  	and ACCT_TYPE = #{pd.ACCT_TYPE}
			   	  </if>
			   	  <if test='pd.ACCT_CODE != null and pd.ACCT_CODE != ""'>
			   	  	and ACCT_CODE like '%${pd.ACCT_CODE}%'
			   	  </if>
			   	 union all 
			   	  select 
				 ACCT_TYPE,ACCT_CODE,COMPANY
			  from E_ACCT_BS_HIST
			  where INF_REC_TYPE = '412'
			   	  <if test='pd.ACCT_TYPE != null and pd.ACCT_TYPE != ""'>
			   	  	and ACCT_TYPE = #{pd.ACCT_TYPE}
			   	  </if>
			   	  <if test='pd.ACCT_CODE != null and pd.ACCT_CODE != ""'>
			   	  	and ACCT_CODE like '%${pd.ACCT_CODE}%'
			   	  </if> 
			   	  ) a
			  where 1=1
			  	<if test='pd.ACCT_TYPE != null and pd.ACCT_TYPE != ""'>
			   	  	and a.ACCT_TYPE = #{pd.ACCT_TYPE}
			   	</if>
			   	<if test='pd.ACCT_CODE != null and pd.ACCT_CODE != ""'>
			   	  	and a.ACCT_CODE like '%${pd.ACCT_CODE}%'
			   	</if> 
			  	    and a.COMPANY = #{pd.COMPANY}
			  GROUP BY ACCT_TYPE,ACCT_CODE,COMPANY
	</select>
	<!-- 借贷信息 基础段 -->
	<select id="dataHistlistPage" parameterType="page" resultMap="entAcctInfoResultMap">
	select * from (
		 select eda_acct_bs_sgmt_id,
				inf_rec_type,
				acct_type,
				acct_code,
				rpt_date,
				rpt_date_code,
				name,
				id_type,
				id_num,
				mngmt_org_code,
				business_states,
			    reject_reason,
			    report_message_id,
			    'new' FLAG,
			    COMPANY
		   from E_ACCT_BS 
		   where ACCT_TYPE = #{pd.ACCT_TYPE} and ACCT_CODE = #{pd.ACCT_CODE} and INF_REC_TYPE = '410'
		   union all
		   select eda_acct_bs_sgmt_id,
				inf_rec_type,
				acct_type,
				acct_code,
				rpt_date,
				rpt_date_code,
				name,
				id_type,
				id_num,
				mngmt_org_code,
				business_states,
			    reject_reason,
			    report_message_id,
			    'old' FLAG,
			    COMPANY
		   from E_ACCT_BS_hist
		   where ACCT_TYPE = #{pd.ACCT_TYPE} and ACCT_CODE = #{pd.ACCT_CODE} and INF_REC_TYPE = '410') a
			where 1=1
		       		  <if test='pd.RPT_DATE != null and pd.RPT_DATE != ""'>
				   	  	and a.RPT_DATE = #{pd.RPT_DATE}
				   	  </if>
				   	    and a.COMPANY = #{pd.COMPANY}
			
	</select>

<select id="changeHistlistPage" parameterType="page" resultMap="entAcctInfoResultMap">
	select * from (
		 select eda_acct_bs_sgmt_id,
				inf_rec_type,
				acct_type,
				acct_code,
				rpt_date,
				rpt_date_code,
				name,
				id_type,
				id_num,
				mngmt_org_code,
				business_states,
			    reject_reason,
			    report_message_id,
			    'new' FLAG,
			    COMPANY,
			    MDFC_SGMT_CODE
		   from E_ACCT_BS 
		   where ACCT_TYPE = #{pd.ACCT_TYPE} and ACCT_CODE = #{pd.ACCT_CODE} and INF_REC_TYPE = '412'
		   union all
		   select eda_acct_bs_sgmt_id,
				inf_rec_type,
				acct_type,
				acct_code,
				rpt_date,
				rpt_date_code,
				name,
				id_type,
				id_num,
				mngmt_org_code,
				business_states,
			    reject_reason,
			    report_message_id,
			    'old' FLAG,
			    COMPANY,
			    MDFC_SGMT_CODE
		   from E_ACCT_BS_HIST
		   where ACCT_TYPE = #{pd.ACCT_TYPE} and ACCT_CODE = #{pd.ACCT_CODE} and INF_REC_TYPE = '412') a
		   where 1=1
		   	<if test='pd.RPT_DATE != null and pd.RPT_DATE != ""'>
		   		and a.RPT_DATE = #{pd.RPT_DATE}
		   	</if>
		   	<if test='pd.NAME != null and pd.NAME != ""'>
		   		and a.NAME like '%${pd.NAME}%'
		   	</if>
		   	<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
		   		and a.ID_NUM like '%${pd.ID_NUM}%'
		   	</if>
		   	    and a.COMPANY = #{pd.COMPANY}
	
			
	</select>

	<!-- 详情或者修改 查询指定记录 基础段 -->
	<select id="getAcctBsSgmtById" parameterType="pd" resultType="map">
		 select eda_acct_bs_sgmt_id,
				inf_rec_type,
				acct_type,
				acct_code,
				rpt_date,
				rpt_date_code,
				name,
				id_type,
				id_num,
				mngmt_org_code,
				last_update_time,
				operator_user,
				org_name,
				org_code,
				business_states,
				is_filter,
				reject_reason,
				COMPANY,
				MDFC_SGMT_CODE
		   from E_ACCT_BS_HIST
		  where eda_acct_bs_sgmt_id = #{edaAcctBsSgmtId}
		    and COMPANY = #{COMPANY}
	</select>

	<!-- 详情或者修改 查询指定记录 基本信息段 -->
	<select id="getAcctBsInfSgmtById" parameterType="pd" resultType="pd">
		 select edb_acct_bs_inf_sgmt_id,
				busi_lines,
				busi_dtl_lines,
				open_date,
				cy,
				acct_cred_line,
				loan_amt,
				flag,
				due_date,
				repay_mode,
				repay_freqcy,
				apply_busi_dist,
				guar_mode,
				oth_repy_guar_way,
				loan_time_lim_cat,
				loa_frm,
				act_invest,
				fund_sou,
				asset_trand_flag,
				COMPANY
		   from E_ACCT_BS_INF_HIST
		  where eda_acct_bs_sgmt_id = #{edaAcctBsSgmtId}
		  
	</select>
	
	<!-- 详情或者修改 查询指定记录 授信额度信息段 -->
	<select id="getAcctCredSgmtById" parameterType="pd" resultType="pd">
		select ede_acct_cred_sgmt_id,
		       mcc,
		       COMPANY
		  from E_ACCT_CRED_HIST
		 where eda_acct_bs_sgmt_id = #{edaAcctBsSgmtId}
	</select>
	
	<!-- 详情或者修改 查询指定记录 初始债权说明段 -->
	<select id="getCreditorInfSgmtById" parameterType="pd" resultType="pd">
		 select edf_orig_creditor_inf_sgmt_id,
				init_cred_name,
				init_ced_org_code,
				orig_dbt_cate,
				init_rpy_sts,
				COMPANY
		   from E_ORIG_CREDITOR_INF_HIST
		  where eda_acct_bs_sgmt_id = #{edaAcctBsSgmtId}
	</select>
	
	<!-- 详情或者修改 查询指定记录 还款表现信息段 -->
	<select id="getLbltyInfSgmtById" parameterType="pd" resultType="pd">
		 select edg_act_lblty_inf_sgmt_id,
				acct_status,
				acct_bal,
				bal_chg_date,
				five_cate,
				five_cate_adj_date,
				pymt_prd,
				tot_overd,
				overd_princ,
				overd_dy,
				lat_rpy_date,
				lat_rpy_amt,
				lat_rpy_princ_amt,
				rpmt_type,
				lat_agrr_rpy_date,
				lat_agrr_rpy_amt,
				nxt_agrr_rpy_date,
				close_date,
				COMPANY
		   from E_ACT_LBLTY_INF_HIST
		  where eda_acct_bs_sgmt_id = #{edaAcctBsSgmtId}
	</select>

	<!-- 详情或者修改 查询指定记录 相关还款责任人段 -->
	<select id="getLoanRltSgmtByIdlistPage" parameterType="page" resultMap="entAcctRltInfoMap">
		 select edc_rlt_repymt_inf_sgmt_id,
				arlp_id_type,
				arlp_name,
				arlp_cert_type,
				arlp_cert_num,
				arlp_type,
				arlp_amt,
				warty_sign,
				max_guar_mcc,
				COMPANY
		   from E_RLT_REPYMT_INF_HIST
		  where eda_acct_bs_sgmt_id = #{pd.edaAcctBsSgmtId}
	</select>

	<!-- 详情或者修改 查询指定记录 抵质押物信息段 -->
	<select id="getMccInfoSgmtByIdlistPage" parameterType="page" resultType="pd">
		select edd_motga_cltal_ctrct_inf_id,
		       ccc,
		       COMPANY
		  from E_MOTGA_CLTAL_CTRCT_INF_HIST
		 where eda_acct_bs_sgmt_id = #{pd.edaAcctBsSgmtId}
	</select>

	<!-- 详情或者修改 查询指定记录 特殊交易说明段 -->
	<select id="getTrstDspnSgmtByIdlistPage" parameterType="page" resultType="pd">
		 select edh_acct_spec_trst_dspn_sg_id,
				chan_tran_type,
				tran_date,
				tran_amt,
				due_tran_mon,
				det_info,
				COMPANY
		   from E_ACCT_SPEC_TRST_HIST
		  where eda_acct_bs_sgmt_id = #{pd.edaAcctBsSgmtId}
	</select>
	<update id="updateStatus" parameterType="map">
		update E_ACCT_BS
		   <set>
		   	  	BUSINESS_STATES = '11'
		   </set>
		   where eda_acct_bs_sgmt_id = #{baseId}
		     and COMPANY = #{COMPANY}
	</update>
	<update id="backdate" parameterType="map">
			update E_ACCT_BS
			   <set>
			   	  	BUSINESS_STATES = '30'
			   </set>
			   where REPORT_MESSAGE_ID = #{reportMessageId}
			     and COMPANY = #{COMPANY}
	</update>
	<delete id="deletedate" parameterType="map" >
			delete from report_message
			 where REPORT_MESSAGE_FILE_NAME = #{reportMessageId}
			   and COMPANY = #{COMPANY}
	</delete>
</mapper>
