<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChangeDataStateMapper">
	<update id="updateBusinessStateByCondition" parameterType="map">
		update
		${table_name}
		set BUSINESS_STATES = #{new_business_state}
		<where> 
			1=1 and INF_REC_TYPE = #{infRecType}
			<if test=" old_business_state != null and old_business_state != '' ">
				and BUSINESS_STATES = #{old_business_state}
			</if>
			<if test=" rptDate != null and rptDate != '' and str == ''">
				and RPT_DATE = #{rptDate}
			</if>
			<if test=" listPk != null and listPk.size >0 ">
				and (
				<foreach collection="listPk" item="item" index="index" separator="or">
					${primaryKey} = #{item}
				</foreach>
				 )
			</if>
		</where>
	</update>
	
	
	<update id="updateFeedbackerrstatus" parameterType="map">
		update
			 feed_back_report_err_message set is_edit = '1' 
		where record_id in (
			select ${primaryKey} from  ${table_name}
			<where> 
				1=1 and INF_REC_TYPE = #{infRecType}
				<if test=" old_business_state != null and old_business_state != '' ">
					and BUSINESS_STATES = #{new_business_state}
				</if>
				<if test=" rptDate != null and rptDate != '' and str == ''">
					and RPT_DATE = #{rptDate}
				</if>
				<if test=" listPk != null and listPk.size >0 ">
					and (
					<foreach collection="listPk" item="item" index="index" separator="or">
						${primaryKey} = #{item}
					</foreach>
					 )
				</if>
			</where>
		)
	</update>
	

		<!-- 韦宗英 -->
	<update id="updateBaseAudit" parameterType="map">
		update ${table_name}
		   <!-- 通过or不通过 -->
		   set BUSINESS_STATES = #{businessStates},
		   REJECT_REASON = #{rejectReason}
		   <!-- 	******************个    人     审      核*************************** -->
		   <!-- 个人基本信息审核 -->
		   <if test='table_name == "I_BS" or table_name == "i_bs"'>
		   	  	 	<!-- 审核单个 -->
				   <if test='paaBsSmgtId != null and paaBsSmgtId != ""'>
				   	  	 where PAA_BS_SGMT_ID = #{paaBsSmgtId}
				   </if>
				   <!-- 审核所有 -->
				   <if test='paaBsSmgtId == null or paaBsSmgtId == ""'>
				   	  	 where BUSINESS_STATES = 20 
				   </if>
	   		</if>
	   		<!-- 个人借贷审核 -->
	   		<if test='table_name == "I_ACCT_BS" or table_name == "i_acct_bs"'>
		   	  	 	<!-- 审核单个 -->
				   <if test='paaBsSmgtId != null and paaBsSmgtId != ""'>
				   	  	 	where PBA_ACCT_BS_SGMT_ID = #{paaBsSmgtId}
				   </if>
				   <!-- 审核所有 -->
				   <if test='paaBsSmgtId == null or paaBsSmgtId == ""'>
				   	  	 where BUSINESS_STATES = 20 and MDFC_SGMT_CODE is null
				   </if>
	   		</if>
	   		<!-- 个人授信审核 -->
	   		<if test='table_name == "I_CTRCT_BS" or table_name == "i_ctrct_bs"'>
		   	  	 	<!-- 审核单个 -->
				   <if test='paaBsSmgtId != null and paaBsSmgtId != ""'>
				   	  	 	where PCA_CTRCT_BS_SGMT_ID = #{paaBsSmgtId}
				   </if>
				   <!-- 审核所有 -->
				   <if test='paaBsSmgtId == null or paaBsSmgtId == ""'>
				   	  	 where BUSINESS_STATES = 20 and MDFC_SGMT_CODE is null
				   </if>
	   		</if>
	   		
	   		<!-- 个人证件有效期审核 -->
	   		<if test='table_name == "I_IN_ID_EFCT_INF" or table_name == "i_in_id_efct_inf"'>
		   	  	 	<!-- 审核单个 -->
				   <if test='paaBsSmgtId != null and paaBsSmgtId != ""'>
				   	  	 	where PAK_IN_ID_EFCT_INF_ID = #{paaBsSmgtId}
				   </if>
				   <!-- 审核所有 -->
				   <if test='paaBsSmgtId == null or paaBsSmgtId == ""'>
				   	  	 where BUSINESS_STATES = 20
				   </if>
	   		</if>
	   		
	   		<!-- 个人借贷特殊事件审核 -->
	   		<if test='table_name == "I_IN_SPC_EVT_DSC_INF" or table_name == "i_in_spc_evt_dsc_inf"'>
		   	  	 	<!-- 审核单个 -->
				   <if test='paaBsSmgtId != null and paaBsSmgtId != ""'>
				   	  	 	where PBK_IN_SPC_EVT_DSC_INF_ID = #{paaBsSmgtId}
				   </if>
				   <!-- 审核所有 -->
				   <if test='paaBsSmgtId == null or paaBsSmgtId == ""'>
				   	  	 where BUSINESS_STATES = 20 
				   </if>
	   		</if>
	   		
	   		<!-- 个人担保信息审核 -->
	   		<if test='table_name == "I_GUAR_ACCT_BS" or table_name == "i_guar_acct_bs"'>
		   	  	 	<!-- 审核单个 -->
				   <if test='paaBsSmgtId != null and paaBsSmgtId != ""'>
				   	  	 	where PDA_GUAR_ACCT_BS_SGMT_ID = #{paaBsSmgtId}
				   </if>
				   <!-- 审核所有 -->
				   <if test='paaBsSmgtId == null or paaBsSmgtId == ""'>
				   	  	 where BUSINESS_STATES = 20 and MDFC_SGMT_CODE is null
				   </if>
	   		</if>
	   		
	   		<!-- 家庭关系信息信息审核 -->
	   		<if test='table_name == "I_IN_FAL_MMBS_INF" or table_name == "i_in_fal_mmbs_inf"'>
		   	  	 	<!-- 审核单个 -->
				   <if test='paaBsSmgtId != null and paaBsSmgtId != ""'>
				   	  	 	where PAJ_IN_FAL_MMBS_INF_ID = #{paaBsSmgtId}
				   </if>
				   <!-- 审核所有 -->
				   <if test='paaBsSmgtId == null or paaBsSmgtId == ""'>
				   	  	 where BUSINESS_STATES = 20
				   </if>
	   		</if>
	   		
	   	<!-- *********************	企   业   审   核************************** -->
	   		
	   		<!-- 企业基本信息审核 -->
	   		<if test='table_name == "E_BS" or table_name == "e_bs"'>
		   	  	 	<!-- 审核单个 -->
				   <if test='paaBsSmgtId != null and paaBsSmgtId != ""'>
				   	  	 	where EAA_BS_SGMT_ID = #{paaBsSmgtId}
				   </if>
				   <!-- 审核所有 -->
				   <if test='paaBsSmgtId == null or paaBsSmgtId == ""'>
				   	  	 where BUSINESS_STATES = 20
				   </if>
	   		</if>
	   		
	   		<!-- 企业借贷审核 -->
	   		<if test='table_name == "E_ACCT_BS" or table_name == "e_acct_bs"'>
		   	  	 	<!-- 审核单个 -->
				   <if test='paaBsSmgtId != null and paaBsSmgtId != ""'>
				   	  	 	where EDA_ACCT_BS_SGMT_ID = #{paaBsSmgtId}
				   </if>
				   <!-- 审核所有 -->
				   <if test='paaBsSmgtId == null or paaBsSmgtId == ""'>
				   	  	 where BUSINESS_STATES = 20 and MDFC_SGMT_CODE is null
				   </if>
	   		</if>
	   		
	   		<!-- 企业担保审核 -->
	   		<if test='table_name == "E_GUAR_ACCT_BS" or table_name == "e_guar_acct_bs"'>
		   	  	 	<!-- 审核单个 -->
				   <if test='paaBsSmgtId != null and paaBsSmgtId != ""'>
				   	  	 	where EEA_GUAR_ACCT_BS_SGMT_ID = #{paaBsSmgtId}
				   </if>
				   <!-- 审核所有 -->
				   <if test='paaBsSmgtId == null or paaBsSmgtId == ""'>
				   	  	 where BUSINESS_STATES = 20 and MDFC_SGMT_CODE is null
				   </if>
	   		</if>
	   		
	   		<!-- 事业单位资产负债审核 -->
	   		<if test='table_name == "E_INSTITU_BALANCE_BS" or table_name == "e_institu_balance_bs"'>
		   	  	 	<!-- 审核单个 -->
				   <if test='paaBsSmgtId != null and paaBsSmgtId != ""'>
				   	  	 	where EKA_INSTITUTION_BALANCE_SHT_ID = #{paaBsSmgtId}
				   </if>
				   <!-- 审核所有 -->
				   <if test='paaBsSmgtId == null or paaBsSmgtId == ""'>
				   	  	 where BUSINESS_STATES = 20
				   </if>
	   		</if>
	   		
	   		<!-- 企业授信协议审核 -->
	   		<if test='table_name == "E_CTRCT_BS" or table_name == "e_ctrct_bs"'>
		   	  	 	<!-- 审核单个 -->
				   <if test='paaBsSmgtId != null and paaBsSmgtId != ""'>
				   	  	 	where EGA_CTRCT_BS_SGMT_ID = #{paaBsSmgtId}
				   </if>
				   <!-- 审核所有 -->
				   <if test='paaBsSmgtId == null or paaBsSmgtId == ""'>
				   	  	 where BUSINESS_STATES = 20 and MDFC_SGMT_CODE is null
				   </if>
	   		</if>
	   		
	   		<!-- 企业利润及利润分配审核 -->
	   		<if test='table_name == "E_INCOME_STATEMENT" or table_name == "e_income_statement"'>
		   	  	 	<!-- 审核单个 -->
				   <if test='paaBsSmgtId != null and paaBsSmgtId != ""'>
				   	  	 	where EIA_INCOME_STATEMENT_PROFIT_ID = #{paaBsSmgtId}
				   </if>
				   <!-- 审核所有 -->
				   <if test='paaBsSmgtId == null or paaBsSmgtId == ""'>
				   	  	 where BUSINESS_STATES = 20
				   </if>
	   		</if>
	   		
	   		<!-- 企业现金流量审核 -->
	   		<if test='table_name == "E_CASH_FLOWS_BS" or table_name == "e_cash_flows_bs"'>
		   	  	 	<!-- 审核单个 -->
				   <if test='paaBsSmgtId != null and paaBsSmgtId != ""'>
				   	  	 	where EJA_CASH_FLOWS_BS_SGMT_ID = #{paaBsSmgtId}
				   </if>
				   <!-- 审核所有 -->
				   <if test='paaBsSmgtId == null or paaBsSmgtId == ""'>
				   	  	 where BUSINESS_STATES = 20
				   </if>
	   		</if>
	   		
	   		
	   		<!-- 企业资产负债审核 -->
	   		<if test='table_name == "E_BALANCE_SHEET_BS" or table_name == "e_balance_sheet_bs"'>
		   	  	 	<!-- 审核单个 -->
				   <if test='paaBsSmgtId != null and paaBsSmgtId != ""'>
				   	  	 	where EHA_BALANCE_SHEET_BS_SGMT_ID = #{paaBsSmgtId}
				   </if>
				   <!-- 审核所有 -->
				   <if test='paaBsSmgtId == null or paaBsSmgtId == ""'>
				   	  	 where BUSINESS_STATES = 20
				   </if>
	   		</if>
	   		
	   		<!-- 企业间关联关系审核 -->
	   		<if test='table_name == "E_ICDN_RLTP_INF" or table_name == "e_icdn_rltp_inf"'>
		   	  	 	<!-- 审核单个 -->
				   <if test='paaBsSmgtId != null and paaBsSmgtId != ""'>
				   	  	 	where ECA_EN_ICDN_RLTP_INF_ID = #{paaBsSmgtId}
				   </if>
				   <!-- 审核所有 -->
				   <if test='paaBsSmgtId == null or paaBsSmgtId == ""'>
				   	  	 where BUSINESS_STATES = 20
				   </if>
	   		</if>
	   		
	   		<!-- 事业单位收入支出审核 -->
	   		<if test='table_name == "E_INCOME_EXPENSE_BS" or table_name == "e_income_expense_bs"'>
		   	  	 	<!-- 审核单个 -->
				   <if test='paaBsSmgtId != null and paaBsSmgtId != ""'>
				   	  	 	where ELA_INCOME_AND_EXPENSE_STAT_ID = #{paaBsSmgtId}
				   </if>
				   <!-- 审核所有 -->
				   <if test='paaBsSmgtId == null or paaBsSmgtId == ""'>
				   	  	 where BUSINESS_STATES = 20
				   </if>
	   		</if>
	   		
           <!--**********************抵质押审核********************** -->
	   		
	   		<if test='table_name == "MOTGA_CLTAL_CTRCT_BS" or table_name == "motga_cltal_ctrct_bs" '>
		   	  	 	<!-- 审核单个 -->
				   <if test='paaBsSmgtId != null and paaBsSmgtId != ""'>
				   	  	 where efa_motga_cltal_ctrct_bs_id = #{paaBsSmgtId}
				   </if>
				   <!-- 审核所有 -->
				   <if test='paaBsSmgtId == null or paaBsSmgtId == ""'>
				   	  	 where BUSINESS_STATES = 20 <!-- and MDFC_SGMT_CODE is null -->
				   </if>
	   		</if>
	   		<if test='company != null and company != ""'>
           		  and ORG_CODE in (select distinct ORG_CODE from SENSE_PECR.sys_org z where z.company = #{company})
            </if> 
	   		

	</update>
</mapper>
