<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RuleMapper">
	<!-- 查询校验规则 -->
	<select id="queryRulelistPage" parameterType="page" resultType="pd">
		    SELECT FEED_BACK_REPORT_CODE_ID, 
		           FB_CODE,  
		           FB_TAG,    
		           MESSAGE 
		      FROM feed_back_report_code  
		    <where>
				<if test="pd.FB_CODE != null and pd.FB_CODE  != ''">
		           and FB_CODE = #{pd.FB_CODE}
		        </if>
			</where>
	</select>
	<!-- 新增 -->
    <insert id="addRules" parameterType="pd">
	    INSERT INTO feed_back_report_code(
		     		FEED_BACK_REPORT_CODE_ID, 
		           FB_CODE,  
		           FB_TAG,    
		           MESSAGE)
	         VALUES(
	         		<!-- replace(SYS_GUID(),'-',''),  -->
	         		#{UUID},        
	                #{FB_CODE},  
	                #{FB_TAG},    
	                #{MESSAGE}) 
	</insert>
	<!-- 修改 -->
	<update id="updateRules" parameterType="pd">
		UPDATE feed_back_report_code 
		   SET FB_CODE = #{FB_CODE},  
               FB_TAG = #{FB_TAG},    
               MESSAGE = #{MESSAGE}   
         WHERE FEED_BACK_REPORT_CODE_ID = #{FEED_BACK_REPORT_CODE_ID}
	</update>
	
</mapper>