.scroll>table th,td {
	white-space: nowrap !important;
}

.scroll{
	width:100% !important;
	overflow-x: auto !important;
}

/* css格式隔行换色 
.scroll>table tr:nth-child(even) td{
	background-color:#EEEEEE !important;
}
 */
/*
table tr:nth-child(odd) td{
	background-color:#EEEEEE !important;
}*/