<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InCtrctInfMapper">
	<resultMap type="com.dcits.supervise.pecr.indv.entity.InCtrctInfCtrctBsSgmt" id="CtrctBsSgmtResultMap">
		<result column="PCA_CTRCT_BS_SGMT_ID" property="pcaCtrctBsSgmtId"/>
		<result column="INF_REC_TYPE"         property="infRecType"/>
		<result column="CONTRACT_CODE"        property="contractCode"/>
		<result column="RPT_DATE"             property="rptDate"/>
		<result column="RPT_DATE_CODE"        property="rptDateCode"/>
		<result column="NAME"                 property="name"/>
		<result column="ID_TYPE"              property="idType"/>
		<result column="ID_NUM"               property="idNum"/>
		<result column="MNGMT_ORG_CODE"       property="mngmtOrgCode"/>
		<result column="LAST_UPDATE_TIME"     property="lastUpdateTime"/>
		<result column="OPERATOR_USER"        property="operatorUser"/>
		<result column="ORG_NAME"             property="orgName"/>
		<result column="ORG_CODE"             property="orgCode"/>
		<result column="BUSINESS_STATES"      property="businessStates"/>
		<result column="REJECT_REASON"        property="rejectReason"/>
		<result column="IS_FILTER"            property="isFilter"/>
		<result column="MDFC_SGMT_CODE"       property="mdfcSgmtCode"/>
	</resultMap>
	
	<!-- 授信协议信息  数据列表 -->
	<select id="dataCtrctBsSgmtlistPage" parameterType="page" resultMap="CtrctBsSgmtResultMap">
		 select pca_ctrct_bs_sgmt_id,
				inf_rec_type,
				contract_code,
				rpt_date,
				rpt_date_code,
				name,
				id_type,
				id_num,
				mngmt_org_code,
				last_update_time,
				operator_user,
				org_name,
				org_code,
				business_states,
				reject_reason,
				is_filter,
				report_message_id,
				mdfc_sgmt_code,
				COMPANY
		   from I_CTRCT_BS
		   <if test="pd.managerId != null and pd.managerId != ''">
			   LEFT JOIN PECR.sys_l_c_a_m_m M
			   ON I_CTRCT_BS.CONTRACT_CODE = M.ACCT_NUM 
			</if>
		<where>
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and rpt_date = #{pd.rptDate}
			</if>
			<if test='pd.contractCode != null and pd.contractCode != ""'>
				and contract_code like '%${pd.contractCode}%'
			</if>
			<if test='pd.idCode != null and pd.idCode != ""'>
				and id_num like '%${pd.idCode}%'
			</if>
			<if test='pd.name != null and pd.name != ""'>
				and name like '%${pd.name}%'
			</if>
			<if test='pd.idNum!= null and pd.idNum != ""'>
				and id_num like '%${pd.idNum}%'
			</if>
			<if test='pd.idType != null and pd.idType != ""'>
				and id_type = #{pd.idType}
			</if>
			<if test='pd.businessStates != null and pd.businessStates != ""'>
				and business_states = #{pd.businessStates}
			</if>
			<if test='pd.queryType == "APPLY"'>
				and business_states in ('10','11','40','80','110','20')
			</if>
			<if test='pd.queryType == "CHECK"'>
				and business_states in ('20')
			</if>
			<if test="pd.managerId != null and pd.managerId != ''">
				and M.MANAGER_ID = #{pd.managerId}
				AND M.DATA_TYPE = '1'
				AND M.DATA_LEVEL = '4'
				AND M.END_DATE = '2099-12-31'
			</if>
			    and INF_REC_TYPE = '220'
				and COMPANY = #{pd.COMPANY}
		</where>
	</select>
	<!-- 获取历史表中基础段的主键 -->
	<select id="getPcaCtrctBsSgmtId" parameterType="page" resultType="String">
		select pca_ctrct_bs_sgmt_id
		from I_CTRCT_BS_HIST
		where name = #{pd.name}
		  and id_type = #{pd.idType}
		  and id_num = #{pd.idNum}
		  and company = #{pd.COMPANY}
		  and inf_rec_type = '220'
	</select>
	<!-- 授信协议信息 按段更正  数据列表 -->
	<select id="dataUpdateCtrctBsSgmtslistPage" parameterType="page" resultMap="CtrctBsSgmtResultMap">
		 select pca_ctrct_bs_sgmt_id,
				inf_rec_type,
				contract_code,
				rpt_date,
				rpt_date_code,
				name,
				id_type,
				id_num,
				mngmt_org_code,
				last_update_time,
				operator_user,
				org_name,
				org_code,
				business_states,
				reject_reason,
				is_filter,
				report_message_id,
				mdfc_sgmt_code
		   from I_CTRCT_BS
		<where>
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and rpt_date = #{pd.rptDate}
			</if>
			<if test='pd.idType != null and pd.idType != ""'>
				and ID_TYPE = #{pd.idType}
			</if>
			<if test='pd.idNum != null and pd.idNum != ""'>
				and ID_NUM like '%${pd.idNum}%'
			</if>
			<if test='pd.businessStates != null and pd.businessStates != ""'>
				and business_states = #{pd.businessStates}
			</if>
			<if test='pd.queryType == "APPLY"'>
				and business_states in ('10','11','40','80','110','20')
			</if>
			<if test='pd.queryType == "CHECK"'>
				and business_states in ('20')
			</if>
			    and inf_rec_type = '222'
			    and COMPANY = #{pd.COMPANY}
		</where>
	</select>
	<!-- 个人授信协议按段更正信息记录  基础段 -->
	<select id="getCtrctBsSgmtByIdType" parameterType="pd" resultType="map">
		 select pca_ctrct_bs_sgmt_id,
				inf_rec_type,
				contract_code,
				rpt_date,
				rpt_date_code,
				name,
				id_type,
				id_num,
				mngmt_org_code,
				last_update_time,
				operator_user,
				org_name,
				org_code,
				business_states,
				reject_reason,
				is_filter,
				report_message_id,
				mdfc_sgmt_code,
				extend1,
				extend2,
				extend3,
				COMPANY
		   from I_CTRCT_BS 
		  where name = #{name}
		    and id_type = #{idType}
		    and id_num = #{idNum}
		    and COMPANY = #{COMPANY}
		    and inf_rec_type = '222'
		    and mdfc_sgmt_code = #{mdfcSgmtCode}
	</select>

	<!-- 个人授信协议信息记录  基础段 -->
	<select id="getCtrctBsSgmtData" parameterType="pd" resultType="pd">
		 select pca_ctrct_bs_sgmt_id,
				INF_REC_TYPE,
				CONTRACT_CODE,
				RPT_DATE,
				RPT_DATE_CODE,
				NAME,
				ID_TYPE,
				ID_NUM,
				MNGMT_ORG_CODE,
				LAST_UPDATE_TIME,
				OPERATOR_USER,
				ORG_NAME,
				ORG_CODE,
				BUSINESS_STATES,
				REJECT_REASON,
				IS_FILTER,
				REPORT_MESSAGE_ID,
				MDFC_SGMT_CODE,
				EXTEND1,
				EXTEND2,
				EXTEND3,
				COMPANY
		   from I_CTRCT_BS
		  where pca_ctrct_bs_sgmt_id = #{pcaCtrctBsSgmtId}
		    and COMPANY = #{COMPANY}
	</select>
	
	<!-- 个人授信协议信息记录  共同受信人信息段 -->
	<select id="getCertRelSgmtlistpage" parameterType="page" resultType="pd">
		 select PCB_CTRCT_CERT_REL_SGMT_ID,
				BRER_TYPE,
				CERT_REL_NAME,
				CERT_REL_ID_TYPE,
				CERT_REL_ID_NUM,
				PCA_CTRCT_BS_SGMT_ID,
				RPT_DATE,
				EXTEND1,
				EXTEND2,
				EXTEND3,
				COMPANY
		   from I_CTRCT_CERT_REL
		  where pca_ctrct_bs_sgmt_id = #{pd.pcaCtrctBsSgmtId}
	</select>
	
	<!-- 个人授信协议信息记录  额度信息段 -->
	<select id="getCreditLimSgmtData" parameterType="pd" resultType="pd">
		 select PCC_CREDIT_LIM_SGMT_ID,
				CREDIT_LIM_TYPE,
				LIM_LOOP_FLG,
				CREDIT_LIM,
				CY,
				CON_EFF_DATE,
				CON_EXP_DATE,
				CON_STATUS,
				CREDIT_REST,
				CREDIT_REST_CODE,
				PCA_CTRCT_BS_SGMT_ID,
				RPT_DATE,
				EXTEND1,
				EXTEND2,
				EXTEND3,
				COMPANY
		   from I_CREDIT_LIM
		  where pca_ctrct_bs_sgmt_id = #{pcaCtrctBsSgmtId}
	</select>
	
	<!-- 查询 基础段 主键是否存在 -->
	<select id="getCtrctBsSgmtKey" parameterType="map" resultType="int">
		select count(1) 
		  from I_CTRCT_BS
	     where pca_ctrct_bs_sgmt_id = #{pcaCtrctBsSgmtId}
	</select>
	<!-- 新增    个人授信协议按段更正基础段 -->
	<insert id="saveCtrctBsSgmt" parameterType="map" useGeneratedKeys="false">
		insert into I_CTRCT_BS(
					pca_ctrct_bs_sgmt_id,
					inf_rec_type,
					contract_code,
					rpt_date,
					RPT_DATE_CODE,
					name,
					id_type,
					id_num,
					mngmt_org_code,
					LAST_UPDATE_TIME,
					operator_user,
					org_code,
					business_states,
					is_filter,
					mdfc_sgmt_code,
					COMPANY)
		    select #{pcaCtrctBsSgmtId},
					'222',
					contract_code,
					rpt_date,
					RPT_DATE_CODE,
					name,
					id_type,
					id_num,
					mngmt_org_code,
					<if test="_databaseId == 'mysql'">
					date_format(now(),'%Y-%m-%d'),
					</if>
					<if test="_databaseId == 'oracle' or _databaseId == 'db2'">
					to_char(sysdate,'YYYY-MM-DD'),
					</if>
					#{operator_user},
					org_code,
					'11',
					is_filter,
					#{mdfcSgmtCode},
					company
			from I_CTRCT_BS_HIST
			where pca_ctrct_bs_sgmt_id = #{oldPcaCtrctBsSgmtId}
			  and company = #{COMPANY}
				
	</insert>
	<!-- 新增    基础段 -->
	<insert id="insertCtrctBsSgmt" parameterType="map">
		<![CDATA[
		insert into I_CTRCT_BS(
					pca_ctrct_bs_sgmt_id,
					inf_rec_type,
					contract_code,
					rpt_date,
					rpt_date_code,
					name,
					id_type,
					id_num,
					mngmt_org_code,
					operator_user,
					org_code,
					business_states,
					is_filter,
					mdfc_sgmt_code,
					COMPANY)
		    values (#{pcaCtrctBsSgmtId, jdbcType=VARCHAR},
					#{infRecType, jdbcType=VARCHAR},
					#{contractCode, jdbcType=VARCHAR},
					#{rptDate, jdbcType=VARCHAR},
					#{rptDateCode, jdbcType=CHAR},
					#{name, jdbcType=VARCHAR},
					#{idType, jdbcType=VARCHAR},
					#{idNum, jdbcType=VARCHAR},
					#{mngmtOrgCode, jdbcType=VARCHAR},
					#{operationUser},
					#{orgCode},
					'11',
					#{isFilter},
					#{mdfcSgmtCode},
					#{COMPANY}
				)
		]]>
	</insert>
	
	<!-- 更新    基础段 -->
	<update id="updateCtrctBsSgmt" parameterType="map">
		 <![CDATA[ 
		 update I_CTRCT_BS
			set inf_rec_type = #{infRecType, jdbcType=VARCHAR},
				contract_code = #{contractCode, jdbcType=VARCHAR},
				rpt_date = #{rptDate, jdbcType=CHAR},
				rpt_date_code = #{rptDateCode, jdbcType=VARCHAR},
				name = #{name, jdbcType=VARCHAR},
				id_type = #{idType, jdbcType=VARCHAR},
				id_num = #{idNum, jdbcType=VARCHAR},
				mngmt_org_code = #{mngmtOrgCode, jdbcType=VARCHAR},
				operator_user = #{operationUser, jdbcType=VARCHAR},
				org_code = #{orgCode, jdbcType=VARCHAR},
				business_states = '20',
				mdfc_sgmt_code = #{mdfcSgmtCode, jdbcType=VARCHAR},
				is_filter = #{isFilter, jdbcType=VARCHAR}
		  where pca_ctrct_bs_sgmt_id = #{pcaCtrctBsSgmtId}
		    and COMPANY = #{COMPANY}
		  
		
		  ]]>
		  <!--	AND business_states = '10' -->
	</update>
	
	<!-- 删除  基础段 -->
	<delete id="delCtrctBsSgmtById" parameterType="map">
		delete from I_CTRCT_BS
		 where pca_ctrct_bs_sgmt_id = #{pcaCtrctBsSgmtId}
		   and COMPANY = #{COMPANY}
	</delete>

	<!-- 删除 共同受信人信息段 -->
	<delete id="delCtrctCertRelSgmtById" parameterType="map">
		delete from I_CTRCT_CERT_REL
		 where pca_ctrct_bs_sgmt_id = #{pcaCtrctBsSgmtId}
	</delete>
	
	<!-- 删除 额度信息段 -->
	<delete id="delCreditLimSgmtById" parameterType="map">
		delete from I_CREDIT_LIM
		 where pca_ctrct_bs_sgmt_id = #{pcaCtrctBsSgmtId}
	</delete>
	<!-- 查询 共同授信人信息段主键是否存在 -->
	<select id="getCertRelSgmtKey" parameterType="map" resultType="int">
		select count(1) 
		  from I_CTRCT_CERT_REL
	     where pcb_ctrct_cert_rel_sgmt_id = #{pcbCtrctCertRelSgmtId}
	</select>
	<!--新增  个人授信协议按段跟正共同授信人信息段  -->
	<insert id="addCertRelSgmt" parameterType="map" useGeneratedKeys="false">
		insert into I_CTRCT_CERT_REL(
					pcb_ctrct_cert_rel_sgmt_id,
					brer_type,
					cert_rel_name,
					cert_rel_id_type,
					cert_rel_id_num,
					pca_ctrct_bs_sgmt_id,
					COMPANY)
		     select <if test="_databaseId == 'oracle' ">
					sys_guid(),
					</if>
					<if test="_databaseId == 'db2'">
					concat (hex (RAND ()), hex (RAND ())),
					</if>
					<if test="_databaseId == 'mysql'">
					upper(replace(uuid(),'-',''))
					</if>
		            brer_type,
					cert_rel_name,
					cert_rel_id_type,
					cert_rel_id_num,
					#{pcaCtrctBsSgmtId},
					company
			from I_CTRCT_CERT_REL_HIST
		    where pca_ctrct_bs_sgmt_id = #{oldPcaCtrctBsSgmtId}
				
	</insert>
	<!-- 新增  共同授信人信息段 -->
	<insert id="insertCertRelSgmt" parameterType="map">
		<![CDATA[
		insert into I_CTRCT_CERT_REL(
					pcb_ctrct_cert_rel_sgmt_id,
					brer_type,
					cert_rel_name,
					cert_rel_id_type,
					cert_rel_id_num,
					pca_ctrct_bs_sgmt_id,
					COMPANY)
		     values (#{pcbCtrctCertRelSgmtId},
					#{brerType},
					#{certRelName},
					#{certRelIdType},
					#{certRelIdNum},
					#{pcaCtrctBsSgmtId},
					#{COMPANY}
				)
		]]>
	</insert>
	
	<!-- 更新 共同授信人信息段 -->
	<update id="updateCertRelSgmt" parameterType="map">
		update I_CTRCT_CERT_REL
		   <set>
			<if test='brerType != null'>
		   	  	brer_type = #{brerType},
			</if>
		   	<if test='certRelName != null'>
		   	  	cert_rel_name = #{certRelName},
			</if>
		   	<if test='certRelIdType != null'>
		   	  	cert_rel_id_type = #{certRelIdType},
			</if>
		   	<if test='certRelIdNum != null'>
		   	  	cert_rel_id_num = #{certRelIdNum}
			</if>
		   </set>
		   where pca_ctrct_bs_sgmt_id = #{pcaCtrctBsSgmtId}
	         and pcb_ctrct_cert_rel_sgmt_id = #{pcbCtrctCertRelSgmtId}
	</update>
	
	<!-- 删除 共同授信人信息段 -->
	<delete id="deleteCertRelSgmt" parameterType="map">
		delete from I_CTRCT_CERT_REL
		 where pca_ctrct_bs_sgmt_id = #{pcaCtrctBsSgmtId} 
		   and pcb_ctrct_cert_rel_sgmt_id = #{pcbCtrctCertRelSgmtId}
	</delete>
	
	<!-- 查询 额度信息段  主键是否存在 -->
	<select id="getCreditLimSgmtKey" parameterType="map" resultType="int">
		select count(1) 
		  from I_CREDIT_LIM
	     where pca_ctrct_bs_sgmt_id = #{pcaCtrctBsSgmtId} 
	       and pcc_credit_lim_sgmt_id = #{pccCreditLimSgmtId}
	</select>
	<!-- 新增  个人授信协议按段更正额度信息段 -->
	<insert id="saveCreditLimSgmt" parameterType="map" useGeneratedKeys="false">
		insert into I_CREDIT_LIM(
					pcc_credit_lim_sgmt_id,
					credit_lim_type,
					lim_loop_flg,
					credit_lim,
					cy,
					con_eff_date,
					con_exp_date,
					con_status,
					credit_rest,
					credit_rest_code,
					pca_ctrct_bs_sgmt_id,
					rpt_date,
					COMPANY)
		    select <if test="_databaseId == 'oracle' ">
					sys_guid(),
					</if>
					<if test="_databaseId == 'db2'">
					concat (hex (RAND ()), hex (RAND ())),
					</if>
					<if test="_databaseId == 'mysql'">
					upper(replace(uuid(),'-',''))
					</if>
		    		credit_lim_type,
					lim_loop_flg,
					credit_lim,
					cy,
					con_eff_date,
					con_exp_date,
					con_status,
					credit_rest,
					credit_rest_code,
					#{pcaCtrctBsSgmtId},
					rpt_date,
					COMPANY
			from I_CREDIT_LIM_HIST
			where pca_ctrct_bs_sgmt_id = #{oldPcaCtrctBsSgmtId}
	</insert>
	<!-- 新增  额度信息段 -->
	<insert id="insertCreditLimSgmt" parameterType="map">
		<![CDATA[
		insert into I_CREDIT_LIM(
					pcc_credit_lim_sgmt_id,
					credit_lim_type,
					lim_loop_flg,
					credit_lim,
					cy,
					con_eff_date,
					con_exp_date,
					con_status,
					credit_rest,
					credit_rest_code,
					pca_ctrct_bs_sgmt_id,
					rpt_date,
					COMPANY)
		    values (#{pccCreditLimSgmtId, jdbcType=CHAR},
		    		#{creditLimType, jdbcType=VARCHAR},
		    		#{limLoopFlg, jdbcType=VARCHAR},
		    		#{creditLim},
			 		#{cy, jdbcType=VARCHAR},	
					#{conEffDate},
					#{conExpDate},
					#{conStatus, jdbcType=VARCHAR},
					#{creditRest},
					#{creditRestCode, jdbcType=VARCHAR},
					#{pcaCtrctBsSgmtId, jdbcType=CHAR},
					#{rptDate},
					#{COMPANY}
				   )
		]]>
	</insert>
	
	<!-- 更新   额度信息段-->
	<update id="updateCreditLimSgmt" parameterType="map">
		 update I_CREDIT_LIM
		 	<set>
				<if test='creditLimType != null '>
			   	  	credit_lim_type = #{creditLimType},
			   	</if>
				<if test='limLoopFlg != null '>
			   	  	lim_loop_flg = #{limLoopFlg},
			   	</if>
				<if test='creditLim != null '>
			   	  	credit_lim =#{creditLim}, 
			   	</if>
				<if test='cy != null '>
			   	  	cy = #{cy},
			   	</if>
			   	<if test='conEffDate != null '>
			   	  	con_eff_date = #{conEffDate},
			   	</if>
				<if test='conExpDate != null '>
			   	  	con_exp_date = #{conExpDate},
			   	</if>
				<if test='conStatus != null '>
			   	  	con_status = #{conStatus},
			   	</if>
				<if test='creditRest != null '>
			   	  	credit_rest = #{creditRest},
			   	</if>
			   	<if test='creditRestCode != null '>
			   	  	credit_rest_code =  #{creditRestCode}
			   	</if>
		   </set>
		  where pca_ctrct_bs_sgmt_id = #{pcaCtrctBsSgmtId}
			and pcc_credit_lim_sgmt_id = #{pccCreditLimSgmtId}
	</update>
	
	<!-- 删除  额度信息段 -->
	<delete id="delCreditLimSgmt" parameterType="map">
		delete from I_CREDIT_LIM
		 where pca_ctrct_bs_sgmt_id = #{pcaCtrctBsSgmtId} 
		   and pcc_credit_lim_sgmt_id = #{pccCreditLimSgmtId}
	</delete>
</mapper>
