<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InFalMmbsInfMapper">

<sql id="TableName">
		I_IN_FAL_MMBS_INF
</sql>
<resultMap type="com.dcits.supervise.pecr.indv.entity.InFalMmbsInf" id="listResultMap">
		<result column="PAJ_IN_FAL_MMBS_INF_ID" property="pajInFalMmbsInfId"/>
		<result column="INF_REC_TYPE" property="infRecType"/>
		<result column="NAME" property="name"/>
		<result column="ID_TYPE" property="idType"/>
		<result column="ID_NUM" property="idNum"/>
		<result column="FAM_MEM_NAME" property="famMemName"/>
		<result column="FAM_MEM_CERT_TYPE" property="famMemCertType"/>
		<result column="FAM_MEM_CERT_NUM" property="famMemCertNum"/>
		<result column="FAM_REL" property="famRel"/>
		<result column="FAM_RELA_ASS_FLAG" property="famRelaAssFlag"/>
		<result column="INF_SURC_CODE" property="infSurcCode"/>
		<result column="RPT_DATE" property="rptDate"/>
		<result column="LAST_UPDATE_TIME" property="lastUpdateTime"/>
		<result column="OPERATOR_USER" property="operatorUser"/>
		<result column="ORG_NAME" property="orgName"/>
		<result column="ORG_CODE" property="orgCode"/>
		<result column="BUSINESS_STATES" property="businessStates"/>
		<result column="REJECT_REASON" property="rejectReason"/>
		<result column="IS_FILTER" property="isFilter"/>
		<result column="REPORT_MESSAGE_ID" property="reportMessageId"/>
</resultMap>
<!-- 查询 -->
<select id="datalistPage" parameterType="page" resultMap="listResultMap">
		select 
			 PAJ_IN_FAL_MMBS_INF_ID 
			,INF_REC_TYPE 
			,NAME 
			,ID_TYPE 
			,ID_NUM 
			,FAM_MEM_NAME 
			,FAM_MEM_CERT_TYPE 
			,FAM_MEM_CERT_NUM 
			,FAM_REL 
			,FAM_RELA_ASS_FLAG 
			,INF_SURC_CODE 
			,RPT_DATE 
			,LAST_UPDATE_TIME 
			,OPERATOR_USER 
			,ORG_NAME 
			,ORG_CODE 
			,BUSINESS_STATES 
			,REJECT_REASON 
			,IS_FILTER 
			,REPORT_MESSAGE_ID 
			,COMPANY
		  from <include refid="TableName"/> 
		  <if test="pd.managerId != null and pd.managerId != ''">
				LEFT JOIN PECR.sys_l_c_a_m_m M
		        ON NAME = M.CUST_NAME
				AND ID_TYPE = M.CUST_ID_TYPE
				AND ID_NUM = M.CUST_ID_NUM
		  </if>
		  <where>
		 	<if test='pd.idType != null and pd.idType != ""'>
		 		and ID_TYPE = #{pd.idType}
		 	</if>
		 	<if test='pd.idNum != null and pd.idNum != ""'>
		 		and ID_NUM like '%${pd.idNum}%'
		 	</if>
		 	<if test='pd.rptDate != null and pd.rptDate != ""'>
		 		and RPT_DATE = #{pd.rptDate}
		 	</if>
		 	<if test='pd.businessStates != null and pd.businessStates != ""'>
				and BUSINESS_STATES = #{pd.businessStates}
			</if>
			<if test='pd.queryType == "APPLY"'>
				and business_states in ('10','11','40','80','110','20')
			</if>
			<if test='pd.queryType == "CHECK"'>
				and business_states in ('20')
			</if>
			<if test="pd.managerId != null and pd.managerId != ''">
				and M.MANAGER_ID = #{pd.managerId}
				AND M.DATA_TYPE = '1'
				AND M.DATA_LEVEL = '1'
				AND M.END_DATE = '2099-12-31'
			</if>
				and COMPANY = #{pd.COMPANY}
		 </where>
</select>
<!-- 修改 -->
<update id="updateData" parameterType="pd">
		update <include refid="TableName"/>
		<set>
			<if test='name != null and name != ""'>
				name = #{name},
			</if>
			<if test='idType != null and idType != ""'>
				id_type = #{idType},
			</if>
			<if test='idNum != null and idNum != ""'>
				id_num = #{idNum},
			</if>
			<if test='famMemName != null and famMemName != ""'>
				fam_mem_name = #{famMemName},
			</if>
			<if test='famMemCertType != null and famMemCertType != ""'>
				fam_mem_cert_type = #{famMemCertType},
			</if>
			<if test='famMemCertNum != null and famMemCertNum != ""'>
				fam_mem_cert_num = #{famMemCertNum},
			</if>
			<if test='famRel != null and famRel != ""'>
				fam_rel = #{famRel},
			</if>
			<if test='famRelaAssFlag != null and famRelaAssFlag != ""'>
				fam_rela_ass_flag = #{famRelaAssFlag},
			</if>
			<if test='infSurcCode != null and infSurcCode != ""'>
				inf_surc_code = #{infSurcCode},
			</if>
			<if test='rptDate != null and rptDate != ""'>
				rpt_date = #{rptDate}
			</if>
		</set>
		where paj_in_fal_mmbs_inf_id = #{pajInFalMmbsInfId}
		  and COMPANY = #{COMPANY}
</update>
<!-- 更新状态 -->
<update id="updatestatus" parameterType="pd">
		update <include refid="TableName"/>
		set BUSINESS_STATES = '20',
		LAST_UPDATE_TIME = SYSDATE  ,
		OPERATOR_USER = #{USERID}
		where paj_in_fal_mmbs_inf_id = #{pajInFalMmbsInfId}
</update>
<!-- 删除 -->
<delete id="deleteData" parameterType="pd">
		delete from <include refid="TableName"/>
		where paj_in_fal_mmbs_inf_id = #{pajInFalMmbsInfId}
		  and COMPANY = #{COMPANY}
</delete>
<!-- 新增 -->
<insert id="addData" parameterType="pd">
		insert into <include refid="TableName"/>
		( paj_in_fal_mmbs_inf_id
			,inf_rec_type
			,name
			,id_type
			,id_num
			,fam_mem_name
			,fam_mem_cert_type
			,fam_mem_cert_num
			,fam_rel
			,fam_rela_ass_flag
			,inf_surc_code
			,rpt_date
			,last_update_time
			,operator_user
			,org_name
			,org_code
			,business_states
			,reject_reason
			,is_filter
			,report_message_id
			,COMPANY) values
		(#{pajInFalMmbsInfId}
			,'120'
			,#{name}
			,#{idType}
			,#{idNum}
			,#{famMemName}
			,#{famMemCertType}
			,#{famMemCertNum}
			,#{famRel}
			,#{famRelaAssFlag}
			,#{infSurcCode}
			,#{rptDate}
			<if test="_databaseId == 'mysql'">
			,date_format(now(),'%Y-%m-%d') 
			</if>
			<if test="_databaseId == 'oracle' or _databaseId == 'db2'">
			,to_char(SYSDATE,'yyyy-mm-dd') 
			</if>
			,#{operatorUser}
			,#{orgName}
			,#{orgCode}
			,'11'
			,#{rejectReason}
			,#{isFilter}
			,#{reportMessageId}
			,#{COMPANY})
</insert>
<!-- 判断 -->
<select id="getData" parameterType="pd" resultMap="listResultMap">
		select 
			PAJ_IN_FAL_MMBS_INF_ID 
			,INF_REC_TYPE 
			,NAME 
			,ID_TYPE 
			,ID_NUM 
			,FAM_MEM_NAME 
			,FAM_MEM_CERT_TYPE 
			,FAM_MEM_CERT_NUM 
			,FAM_REL 
			,FAM_RELA_ASS_FLAG 
			,INF_SURC_CODE 
			,RPT_DATE 
			,LAST_UPDATE_TIME 
			,OPERATOR_USER 
			,ORG_NAME 
			,ORG_CODE 
			,BUSINESS_STATES 
			,REJECT_REASON 
			,IS_FILTER 
			,REPORT_MESSAGE_ID 
		  from <include refid="TableName"/>
		  where PAJ_IN_FAL_MMBS_INF_ID = #{pajInFalMmbsInfId}
</select>
<!-- 校验 -->
<select id="getDatabyname" parameterType="pd" resultMap="listResultMap">
		select 
			PAJ_IN_FAL_MMBS_INF_ID 
			,INF_REC_TYPE 
			,NAME 
			,ID_TYPE 
			,ID_NUM 
			,FAM_MEM_NAME 
			,FAM_MEM_CERT_TYPE 
			,FAM_MEM_CERT_NUM 
			,FAM_REL 
			,FAM_RELA_ASS_FLAG 
			,INF_SURC_CODE 
			,RPT_DATE 
			,LAST_UPDATE_TIME 
			,OPERATOR_USER 
			,ORG_NAME 
			,ORG_CODE 
			,BUSINESS_STATES 
			,REJECT_REASON 
			,IS_FILTER 
			,REPORT_MESSAGE_ID 
		  from <include refid="TableName"/>
		  where ((NAME = #{name} and ID_NUM = #{idNum} and INF_SURC_CODE = #{infSurcCode} and fam_mem_name = #{famMemName} and fam_mem_cert_num = #{famMemCertNum})
		  or (FAM_MEM_NAME = #{name} and FAM_MEM_CERT_NUM = #{idNum} and INF_SURC_CODE = #{infSurcCode} and NAME = #{famMemName} and ID_NUM = #{famMemCertNum}))
		  and 
		  <if test="_databaseId == 'mysql'">
		  date_format(RPT_DATE,'%Y-%m-%d')  &gt; date_format(#{rptDate},'%Y-%m-%d')
		  </if>
		  <if test="_databaseId == 'oracle' or _databaseId == 'db2'">
		  to_date(RPT_DATE,'YYYY-MM-DD')  &gt; to_date(#{rptDate},'YYYY-MM-DD')
		  </if>
		  
</select>
</mapper>
