<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EntDelaccountDataSeoMapper">

<resultMap type="com.dcits.supervise.pecr.indv.entity.inDel" id="inDellistResultMap">
		<result column="PBY_IN_ACCT_DEL_ID" property="pbyInAcctDelId"/> 
		<result column="INF_REC_TYPE" property="infRecType"/> 
		<result column="ACCT_TYPE" property="acctType"/> 
		<result column="DEL_REC_CODE" property="delRecCode"/> 
		<result column="DEL_SGMT_CODE" property="delSgmtCode"/> 
		<result column="DEL_START_DATE" property="delStartDate"/>
		<result column="DEL_END_DATE" property="delEndDate"/>
		<result column="LAST_UPDATE_TIME" property="lastUpdateTime"/> 
		<result column="OPERATOR_USER" property="operatorUser"/> 
		<result column="ORG_NAME" property="orgName"/> 
		<result column="ORG_CODE" property="orgCode"/> 
		<result column="BUSINESS_STATES" property="businessStates"/> 
		<result column="REJECT_REASON" property="rejectReason"/> 
		<result column="IS_FILTER" property="isFilter"/> 
		<result column="REPORT_MESSAGE_ID" property="reportMessageId"/> 
		<result column="RPT_DATE" property="rptDate"/> 
		<result column="NAME" property="name"/> 
		<result column="ID_TYPE" property="idType"/> 
		<result column="ID_NUM" property="idNum"/>
		<result column="PK" property="pk"/>
		<result column="INF_SURC_CODE" property="infSurcCode"/>
		<result column="FLAG" property="flag"/>
		<result column="SHEET_YEAR" property="sheetYear"/>
		<result column="SHEET_TYPE" property="sheetType"/>
		<result column="SHEET_TYPE_DIVIDE" property="sheetTypeDivide"/>
		
</resultMap>
<select id="datalistPage" parameterType="page" resultType="pd">
		select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		FROM (
		 select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		  from (select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_CTRCT_INF_DEL
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_CTRCT_INF_DEL_HIST
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_ACCT_INF_DEL
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_ACCT_INF_DEL_HIST
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_SEC_ACCT_DEL
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_SEC_ACCT_DEL_HIST
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_CTRCT_INF_ENT_DEL
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_CTRCT_INF_ENT_DEL_HIST
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_SEC_ACCT_ENT_DEL
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_SEC_ACCT_ENT_DEL_HIST
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_ACCT_INF_ENT_DEL
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_ACCT_INF_ENT_DEL_HIST
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, null as DEL_REC_CODE
		          from E_BS_INF_DLT
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, null as DEL_REC_CODE
		          from E_BS_INF_DLT_HIST
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, null as DEL_REC_CODE
		          from E_BALANCE_SHEET_DLT
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, null as DEL_REC_CODE
		          from E_BALANCE_SHEET_DLT_HIST
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_IN_COME_ENT_DEL
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_IN_COME_ENT_DEL_HIST
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_CASH_FLOW_ENT_DEL
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_CASH_FLOW_ENT_DEL_HIST
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_ASSETS_DEBT_ENT_DEL
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_ASSETS_DEBT_ENT_DEL_HIST
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_IN_OUT_ENT_DEL
		        union all
		        select ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		          from E_IN_OUT_ENT_DEL_HIST) a
  			where 1=1		
		   	   <if test='pd.idNum != null and pd.idNum != ""'>
		   	  	and a.ID_NUM like '%${pd.idNum}%'
		   	  </if>
		   	  <if test='pd.idType != null and pd.idType != ""'>
		   	  	and a.ID_TYPE = #{pd.idType}
		   	  </if>
		   	  <if test='pd.delRecCode != null and pd.delRecCode != ""'>
		   	  	and a.DEL_REC_CODE = #{pd.delRecCode}
		   	  </if>
		   	    and a.company = #{pd.COMPANY}
		 	group by ID_NUM, ID_TYPE, COMPANY, DEL_REC_CODE
		 	) ORDER BY ID_NUM, ID_TYPE
	</select>
	
	<update id="updateStatusGuar" parameterType="map">
		update E_SEC_ACCT_DEL
		   <set>
		   	  	BUSINESS_STATES = '11'
		   </set>
		   where EEY_EN_SEC_ACCT_DEL_ID = #{baseId}
	</update>
	<update id="updateStatusPro" parameterType="map">
			update E_CTRCT_INF_DEL
			   <set>
			   	  	BUSINESS_STATES = '11'
			   </set>
			   where EGY_EN_CTRCT_INF_DEL_ID = #{baseId}
	</update>
	<update id="updateStatusLoan" parameterType="map">
			update 
			   <if test="infRecType == '314'">
	                E_BS_INF_DLT
	            </if>
	            <if test="infRecType == '413'">
	                E_ACCT_INF_DEL
	            </if>
	            <if test="infRecType == '414'">
	                E_ACCT_INF_ENT_DEL
	            </if>
	            <if test="infRecType == '423'">
	                E_CTRCT_INF_DEL
	            </if>
	            <if test="infRecType == '424'">
	                E_CTRCT_INF_ENT_DEL
	            </if>
	            <if test="infRecType == '443'">
	                E_SEC_ACCT_DEL
	            </if>
	            <if test="infRecType == '444'">
	                E_SEC_ACCT_ENT_DEL
	            </if>
	            <if test="infRecType == '614'">
	                E_BALANCE_SHEET_DLT
	            </if>
	            <if test="infRecType == '624'">
	                E_IN_COME_ENT_DEL
	            </if>
	            <if test="infRecType == '634'">
	                E_CASH_FLOW_ENT_DEL
	            </if>
	            <if test="infRecType == '644'">
	                E_ASSETS_DEBT_ENT_DEL
	            </if>
	             <if test="infRecType == '654'">
	                E_IN_OUT_ENT_DEL
	            </if>
		   <set>
		   	  	BUSINESS_STATES = '11'
		   </set>
		   where 
				<if test="infRecType == '314'">
	                EAZ_EN_BS_INF_DLT_ID
	            </if>
	            <if test="infRecType == '413'">
	                EDY_EN_ACCT_INF_DEL_ID
	            </if>
	            <if test="infRecType == '414'">
	                EDZ_EN_ACCT_INF_ENT_DEL_ID
	            </if>
	            <if test="infRecType == '423'">
	                EGY_EN_CTRCT_INF_DEL_ID
	            </if>
	             <if test="infRecType == '424'">
	                EGZ_EN_CTRCT_INF_ENT_DEL_ID
	            </if>
	            <if test="infRecType == '443'">
	                EEY_EN_SEC_ACCT_DEL_ID
	            </if>
	            <if test="infRecType == '444'">
	                EEZ_EN_SEC_ACCT_ENT_DEL_SG_ID
	            </if>
	            <if test="infRecType == '614'">
	                EMZ_BALANCE_SHEET_DLT_ID
	            </if>
	            <if test="infRecType == '624'">
	                E_IN_COME_ENT_DEL_ID
	            </if>
	            <if test="infRecType == '634'">
	                E_CASH_FLOW_ENT_DEL_ID
	            </if>
	            <if test="infRecType == '644'">
	                E_ASSETS_DEBT_ENT_DEL_ID
	            </if>
	            <if test="infRecType == '654'">
	                E_IN_OUT_ENT_DEL_ID
	            </if>
			 = #{baseId}
			 and COMPANY = #{COMPANY}
	</update>
	<update id="updateStatusGuarEnt" parameterType="map">
			update E_SEC_ACCT_ENT_DEL
			   <set>
			   	  	BUSINESS_STATES = '11'
			   </set>
			   where EEZ_EN_SEC_ACCT_ENT_DEL_SG_ID = #{baseId}
	</update>
	<update id="updateStatusProEnt" parameterType="map">
			update E_CTRCT_INF_ENT_DEL
			   <set>
			   	  	BUSINESS_STATES = '11'
			   </set>
			   where EGZ_EN_CTRCT_INF_ENT_DEL_ID = #{baseId}
	</update>
	<update id="updateStatusLoanEnt" parameterType="map">
			update E_ACCT_INF_ENT_DEL
			   <set>
			   	  	BUSINESS_STATES = '11'
			   </set>
			   where EDZ_EN_ACCT_INF_ENT_DEL_ID = #{baseId}
	</update>
	<update id="backdatePro" parameterType="map">
			update E_CTRCT_INF_DEL
			   <set>
			   	  	BUSINESS_STATES = '20'
			   </set>
			   where REPORT_MESSAGE_ID = #{reportMessageId}
	</update>
	<update id="backdateGuar" parameterType="map">
			update E_SEC_ACCT_DEL
			   <set>
			   	  	BUSINESS_STATES = '20'
			   </set>
			   where REPORT_MESSAGE_ID = #{reportMessageId}
	</update>
	<update id="backdateLoan" parameterType="map">
		update 
			   <if test="infRecType == '314'">
	                E_BS_INF_DLT
	            </if>
	            <if test="infRecType == '413'">
	                E_ACCT_INF_DEL
	            </if>
	            <if test="infRecType == '414'">
	                E_ACCT_INF_ENT_DEL
	            </if>
	            <if test="infRecType == '423'">
	                E_CTRCT_INF_DEL
	            </if>
	            <if test="infRecType == '424'">
	                E_CTRCT_INF_ENT_DEL
	            </if>
	            <if test="infRecType == '443'">
	                E_SEC_ACCT_DEL
	            </if>
	            <if test="infRecType == '444'">
	                E_SEC_ACCT_ENT_DEL
	            </if>
	            <if test="infRecType == '614'">
	                E_BALANCE_SHEET_DLT
	            </if>
	            <if test="infRecType == '624'">
	                E_IN_COME_ENT_DEL
	            </if>
	            <if test="infRecType == '634'">
	                E_CASH_FLOW_ENT_DEL
	            </if>
	            <if test="infRecType == '644'">
	                E_ASSETS_DEBT_ENT_DEL
	            </if>
	             <if test="infRecType == '654'">
	                E_IN_OUT_ENT_DEL
	            </if>
			   <set>
			   	  	BUSINESS_STATES = '30'
			   </set>
			   where REPORT_MESSAGE_ID = #{reportMessageId}
			     and company = #{COMPANY}
	</update>
	<update id="backdateProEnt" parameterType="map">
			update E_CTRCT_INF_ENT_DEL
			   <set>
			   	  	BUSINESS_STATES = '20'
			   </set>
			   where REPORT_MESSAGE_ID = #{reportMessageId}
	</update>
	<update id="backdateGuarEnt" parameterType="map">
			update E_SEC_ACCT_ENT_DEL
			   <set>
			   	  	BUSINESS_STATES = '20'
			   </set>
			   where REPORT_MESSAGE_ID = #{reportMessageId}
	</update>
	<update id="backdateLoanEnt" parameterType="map">
			update E_ACCT_INF_ENT_DEL
			   <set>
			   	  	BUSINESS_STATES = '20'
			   </set>
			   where REPORT_MESSAGE_ID = #{reportMessageId}
	</update>
	
	<delete id="deletedate" parameterType="map" >
			delete from report_message
			 where REPORT_MESSAGE_FILE_NAME = #{reportMessageId}
			   and company = #{COMPANY}
	</delete>
	<select id="dataHistlistPage" parameterType="page" resultMap="inDellistResultMap">
      SELECT *
        FROM (SELECT EGY_EN_CTRCT_INF_DEL_ID as pk,
                     INF_REC_TYPE,
                     NULL AS ACCT_TYPE,
                     NULL AS INF_SURC_CODE,
                     DEL_REC_CODE,
                     DEL_SGMT_CODE,
                     DEL_START_DATE as DEL_START_DATE,
                     DEL_END_DATE as DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME,
                     ID_TYPE,
                     ID_NUM,
                     COMPANY,
                     null as SHEET_YEAR,
                     null as SHEET_TYPE,
                     null as SHEET_TYPE_DIVIDE,
                     'new' FLAG
                FROM E_CTRCT_INF_DEL
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
					</if>
              UNION ALL
              SELECT EAZ_EN_BS_INF_DLT_ID as pk,
                     INF_REC_TYPE,
                     NULL AS ACCT_TYPE,
                     INF_SURC_CODE,
                     NULL AS DEL_REC_CODE,
                     NULL AS DEL_SGMT_CODE,
                     NULL AS DEL_START_DATE,
                     NULL AS DEL_END_DATE,
                     LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME AS NAME,
                     ID_TYPE AS ID_TYPE,
                     ID_NUM AS ID_NUM,
                     COMPANY,
                     null as SHEET_YEAR,
                     null as SHEET_TYPE,
                     null as SHEET_TYPE_DIVIDE,
                     'new' FLAG
                FROM E_BS_INF_DLT
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND 1 = 2
					</if>
              UNION ALL
              SELECT EDY_EN_ACCT_INF_DEL_ID as pk,
                     INF_REC_TYPE,
                     ACCT_TYPE,
                     NULL AS INF_SURC_CODE,
                     DEL_REC_CODE,
                     DEL_SGMT_CODE,
                     DEL_START_DATE,
                     DEL_END_DATE,
                     LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME,
                     ID_TYPE,
                     ID_NUM,
                     COMPANY,
                     null as SHEET_YEAR,
                     null as SHEET_TYPE,
                     null as SHEET_TYPE_DIVIDE,
                     'new' FLAG
                FROM E_ACCT_INF_DEL
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
					</if>
              UNION ALL
              SELECT EEY_EN_SEC_ACCT_DEL_ID as pk,
                     INF_REC_TYPE,
                     ACCT_TYPE,
                     NULL AS INF_SURC_CODE,
                     DEL_REC_CODE,
                     DEL_SGMT_CODE,
                     DEL_START_DATE as DEL_START_DATE,
                     DEL_END_DATE as DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME,
                     ID_TYPE,
                     ID_NUM,
                     COMPANY,
                     null as SHEET_YEAR,
                     null as SHEET_TYPE,
                     null as SHEET_TYPE_DIVIDE,
                     'new' FLAG
                FROM E_SEC_ACCT_DEL
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
					</if>
              UNION ALL
              SELECT EGZ_EN_CTRCT_INF_ENT_DEL_ID as pk,
                     INF_REC_TYPE,
                     null ACCT_TYPE,
                     NULL AS INF_SURC_CODE,
                     DEL_REC_CODE,
                     null DEL_SGMT_CODE,
                     null DEL_START_DATE,
                     null DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME,
                     ID_TYPE,
                     ID_NUM,
                     COMPANY,
                     null as SHEET_YEAR,
                     null as SHEET_TYPE,
                     null as SHEET_TYPE_DIVIDE,
                     'new' FLAG
                FROM E_CTRCT_INF_ENT_DEL
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
					</if>
              UNION ALL
              SELECT EEZ_EN_SEC_ACCT_ENT_DEL_SG_ID as pk,
                     INF_REC_TYPE,
                     ACCT_TYPE,
                     NULL AS INF_SURC_CODE,
                     DEL_REC_CODE,
                     null DEL_SGMT_CODE,
                     null DEL_START_DATE,
                     null DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME,
                     ID_TYPE,
                     ID_NUM,
                     COMPANY,
                     null as SHEET_YEAR,
                     null as SHEET_TYPE,
                     null as SHEET_TYPE_DIVIDE,
                     'new' FLAG
                FROM E_SEC_ACCT_ENT_DEL
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
					</if>
              UNION ALL
              SELECT EDZ_EN_ACCT_INF_ENT_DEL_ID as pk,
                     INF_REC_TYPE,
                     ACCT_TYPE,
                     NULL AS INF_SURC_CODE,
                     DEL_REC_CODE,
                     null DEL_SGMT_CODE,
                     null DEL_START_DATE,
                     null DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME,
                     ID_TYPE,
                     ID_NUM,
                     COMPANY,
                     null as SHEET_YEAR,
                     null as SHEET_TYPE,
                     null as SHEET_TYPE_DIVIDE,
                     'new' FLAG
                FROM E_ACCT_INF_ENT_DEL
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
					</if>
              UNION ALL
              SELECT EMZ_BALANCE_SHEET_DLT_ID as pk,
                     INF_REC_TYPE,
                     NULL as ACCT_TYPE,
                     NULL AS INF_SURC_CODE,
                     NULL AS DEL_REC_CODE,
                     null DEL_SGMT_CODE,
                     null DEL_START_DATE,
                     null DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME AS NAME,
                     ID_TYPE AS ID_TYPE,
                     ID_NUM AS ID_NUM,
                     COMPANY,
                     SHEET_YEAR,
                     SHEET_TYPE,
                     SHEET_TYPE_DIVIDE,
                     'new' FLAG
                FROM E_BALANCE_SHEET_DLT
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND 1 = 2
					</if>
              UNION ALL
              SELECT E_IN_COME_ENT_DEL_ID as pk,
                     INF_REC_TYPE,
                     null as ACCT_TYPE,
                     NULL AS INF_SURC_CODE,
                     NULL AS DEL_REC_CODE,
                     null DEL_SGMT_CODE,
                     null DEL_START_DATE,
                     null DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME AS NAME,
                     ID_TYPE AS ID_TYPE,
                     ID_NUM AS ID_NUM,
                     COMPANY,
                     SHEET_YEAR,
                     SHEET_TYPE,
                     SHEET_TYPE_DIVIDE,
                     'new' FLAG
                FROM E_IN_COME_ENT_DEL
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND 1 = 2
					</if>
              UNION ALL
              SELECT E_CASH_FLOW_ENT_DEL_ID as pk,
                     INF_REC_TYPE,
                     null as ACCT_TYPE,
                     INF_SURC_CODE,
                     NULL AS DEL_REC_CODE,
                     null DEL_SGMT_CODE,
                     null DEL_START_DATE,
                     null DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME AS NAME,
                     ID_TYPE AS ID_TYPE,
                     ID_NUM AS ID_NUM,
                     COMPANY,
                     SHEET_YEAR,
                     SHEET_TYPE,
                     SHEET_TYPE_DIVIDE,
                     'new' FLAG
                FROM E_CASH_FLOW_ENT_DEL
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND 1 = 2
					</if>
              UNION ALL
              SELECT E_ASSETS_DEBT_ENT_DEL_ID as pk,
                     INF_REC_TYPE,
                     null as ACCT_TYPE,
                     INF_SURC_CODE,
                     NULL AS DEL_REC_CODE,
                     null DEL_SGMT_CODE,
                     null DEL_START_DATE,
                     null DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME AS NAME,
                     ID_TYPE AS ID_TYPE,
                     ID_NUM AS ID_NUM,
                     COMPANY,
                     SHEET_YEAR,
                     SHEET_TYPE,
                     SHEET_TYPE_DIVIDE,
                     'new' FLAG
                FROM E_ASSETS_DEBT_ENT_DEL
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND 1 = 2
					</if>
              UNION ALL
              SELECT E_IN_OUT_ENT_DEL_ID as pk,
                     INF_REC_TYPE,
                     null as ACCT_TYPE,
                     INF_SURC_CODE,
                     NULL AS DEL_REC_CODE,
                     null DEL_SGMT_CODE,
                     null DEL_START_DATE,
                     null DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME AS NAME,
                     ID_TYPE AS ID_TYPE,
                     ID_NUM AS ID_NUM,
                     COMPANY,
                     SHEET_YEAR,
                     SHEET_TYPE,
                     SHEET_TYPE_DIVIDE,
                     'new' FLAG
                FROM E_IN_OUT_ENT_DEL
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND 1 = 2
					</if>
              UNION ALL
              SELECT EGY_EN_CTRCT_INF_DEL_ID as pk,
                     INF_REC_TYPE,
                     NULL AS ACCT_TYPE,
                     NULL AS INF_SURC_CODE,
                     DEL_REC_CODE,
                     DEL_SGMT_CODE,
                     DEL_START_DATE as DEL_START_DATE,
                     DEL_END_DATE as DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME,
                     ID_TYPE,
                     ID_NUM,
                     COMPANY,
                     null as SHEET_YEAR,
                     null as SHEET_TYPE,
                     null as SHEET_TYPE_DIVIDE,
                     'old' FLAG
                FROM E_CTRCT_INF_DEL_HIST
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
					</if>
              UNION ALL
              SELECT EAZ_EN_BS_INF_DLT_ID as pk,
                     INF_REC_TYPE,
                     NULL AS ACCT_TYPE,
                     INF_SURC_CODE,
                     NULL AS DEL_REC_CODE,
                     NULL AS DEL_SGMT_CODE,
                     NULL AS DEL_START_DATE,
                     NULL AS DEL_END_DATE,
                     LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME AS NAME,
                     ID_TYPE AS ID_TYPE,
                     ID_NUM AS ID_NUM,
                     COMPANY,
                     null as SHEET_YEAR,
                     null as SHEET_TYPE,
                     null as SHEET_TYPE_DIVIDE,
                     'old' FLAG
                FROM E_BS_INF_DLT_HIST
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND 1 = 2
					</if>
              UNION ALL
              SELECT EDY_EN_ACCT_INF_DEL_ID as pk,
                     INF_REC_TYPE,
                     ACCT_TYPE,
                     NULL AS INF_SURC_CODE,
                     DEL_REC_CODE,
                     DEL_SGMT_CODE,
                     DEL_START_DATE,
                     DEL_END_DATE,
                     LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME,
                     ID_TYPE,
                     ID_NUM,
                     COMPANY,
                     null as SHEET_YEAR,
                     null as SHEET_TYPE,
                     null as SHEET_TYPE_DIVIDE,
                     'old' FLAG
                FROM E_ACCT_INF_DEL_HIST
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
					</if>
              UNION ALL
              SELECT EEY_EN_SEC_ACCT_DEL_ID as pk,
                     INF_REC_TYPE,
                     ACCT_TYPE,
                     NULL AS INF_SURC_CODE,
                     DEL_REC_CODE,
                     DEL_SGMT_CODE,
                     DEL_START_DATE as DEL_START_DATE,
                     DEL_END_DATE as DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME,
                     ID_TYPE,
                     ID_NUM,
                     COMPANY,
                     null as SHEET_YEAR,
                     null as SHEET_TYPE,
                     null as SHEET_TYPE_DIVIDE,
                     'old' FLAG
                FROM E_SEC_ACCT_DEL_HIST
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
					</if>
              UNION ALL
              SELECT EGZ_EN_CTRCT_INF_ENT_DEL_ID as pk,
                     INF_REC_TYPE,
                     null ACCT_TYPE,
                     NULL AS INF_SURC_CODE,
                     DEL_REC_CODE,
                     null DEL_SGMT_CODE,
                     null DEL_START_DATE,
                     null DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME,
                     ID_TYPE,
                     ID_NUM,
                     COMPANY,
                     null as SHEET_YEAR,
                     null as SHEET_TYPE,
                     null as SHEET_TYPE_DIVIDE,
                     'old' FLAG
                FROM E_CTRCT_INF_ENT_DEL_HIST
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
					</if>
              UNION ALL
              SELECT EEZ_EN_SEC_ACCT_ENT_DEL_SG_ID as pk,
                     INF_REC_TYPE,
                     ACCT_TYPE,
                     NULL AS INF_SURC_CODE,
                     DEL_REC_CODE,
                     null DEL_SGMT_CODE,
                     null DEL_START_DATE,
                     null DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME,
                     ID_TYPE,
                     ID_NUM,
                     COMPANY,
                     null as SHEET_YEAR,
                     null as SHEET_TYPE,
                     null as SHEET_TYPE_DIVIDE,
                     'old' FLAG
                FROM E_SEC_ACCT_ENT_DEL_HIST
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
					</if>
              UNION ALL
              SELECT EDZ_EN_ACCT_INF_ENT_DEL_ID as pk,
                     INF_REC_TYPE,
                     ACCT_TYPE,
                     NULL AS INF_SURC_CODE,
                     DEL_REC_CODE,
                     null DEL_SGMT_CODE,
                     null DEL_START_DATE,
                     null DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME,
                     ID_TYPE,
                     ID_NUM,
                     COMPANY,
                     null as SHEET_YEAR,
                     null as SHEET_TYPE,
                     null as SHEET_TYPE_DIVIDE,
                     'old' FLAG
                FROM E_ACCT_INF_ENT_DEL_HIST
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
					</if>
              UNION ALL
              SELECT EMZ_BALANCE_SHEET_DLT_ID as pk,
                     INF_REC_TYPE,
                     NULL as ACCT_TYPE,
                     NULL AS INF_SURC_CODE,
                     NULL AS DEL_REC_CODE,
                     null DEL_SGMT_CODE,
                     null DEL_START_DATE,
                     null DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME AS NAME,
                     ID_TYPE AS ID_TYPE,
                     ID_NUM AS ID_NUM,
                     COMPANY,
                     SHEET_YEAR,
                     SHEET_TYPE,
                     SHEET_TYPE_DIVIDE,
                     'old' FLAG
                FROM E_BALANCE_SHEET_DLT_HIST
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND 1 = 2
					</if>
              UNION ALL
              SELECT E_IN_COME_ENT_DEL_HIST_ID as pk,
                     INF_REC_TYPE,
                     null as ACCT_TYPE,
                     NULL AS INF_SURC_CODE,
                     NULL AS DEL_REC_CODE,
                     null DEL_SGMT_CODE,
                     null DEL_START_DATE,
                     null DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME AS NAME,
                     ID_TYPE AS ID_TYPE,
                     ID_NUM AS ID_NUM,
                     COMPANY,
                     SHEET_YEAR,
                     SHEET_TYPE,
                     SHEET_TYPE_DIVIDE,
                     'old' FLAG
                FROM E_IN_COME_ENT_DEL_HIST
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND 1 = 2
					</if>
              UNION ALL
              SELECT E_CASH_FLOW_ENT_DEL_HIST_ID as pk,
                     INF_REC_TYPE,
                     null as ACCT_TYPE,
                     INF_SURC_CODE,
                     NULL AS DEL_REC_CODE,
                     null DEL_SGMT_CODE,
                     null DEL_START_DATE,
                     null DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME AS NAME,
                     ID_TYPE AS ID_TYPE,
                     ID_NUM AS ID_NUM,
                     COMPANY,
                     SHEET_YEAR,
                     SHEET_TYPE,
                     SHEET_TYPE_DIVIDE,
                     'old' FLAG
                FROM E_CASH_FLOW_ENT_DEL_HIST
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND 1 = 2
					</if>
              UNION ALL
              SELECT E_ASSETS_DEBT_ENT_DEL_ID as pk,
                     INF_REC_TYPE,
                     null as ACCT_TYPE,
                     INF_SURC_CODE,
                     NULL AS DEL_REC_CODE,
                     null DEL_SGMT_CODE,
                     null DEL_START_DATE,
                     null DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME AS NAME,
                     ID_TYPE AS ID_TYPE,
                     ID_NUM AS ID_NUM,
                     COMPANY,
                     SHEET_YEAR,
                     SHEET_TYPE,
                     SHEET_TYPE_DIVIDE,
                     'old' FLAG
                FROM E_ASSETS_DEBT_ENT_DEL_HIST
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND 1 = 2
					</if>
              UNION ALL
              SELECT E_IN_OUT_ENT_DEL_HIST_ID as pk,
                     INF_REC_TYPE,
                     null as ACCT_TYPE,
                     INF_SURC_CODE,
                     NULL AS DEL_REC_CODE,
                     null DEL_SGMT_CODE,
                     null DEL_START_DATE,
                     null DEL_END_DATE,
                     LAST_UPDATE_TIME as LAST_UPDATE_TIME,
                     OPERATOR_USER,
                     ORG_NAME,
                     ORG_CODE,
                     BUSINESS_STATES,
                     REJECT_REASON,
                     IS_FILTER,
                     REPORT_MESSAGE_ID,
                     RPT_DATE,
                     NAME AS NAME,
                     ID_TYPE AS ID_TYPE,
                     ID_NUM AS ID_NUM,
                     COMPANY,
                     SHEET_YEAR,
                     SHEET_TYPE,
                     SHEET_TYPE_DIVIDE,
                     'old' FLAG
                FROM E_IN_OUT_ENT_DEL_HIST
                WHERE 1 = 1
					<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
						AND ID_TYPE = #{pd.ID_TYPE}
					</if>
					<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
						AND ID_NUM = #{pd.ID_NUM}
					</if>
					<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
						AND 1 = 2
					</if>
			) a
				where a.company = #{pd.COMPANY}
			   	  <if test='pd.RPT_DATE!= null and pd.RPT_DATE != ""'>
			   	  	and a.RPT_DATE = #{pd.RPT_DATE}
			   	  </if>
	        ORDER BY RPT_DATE DESC 
	</select>
	
	
	
</mapper>
