<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DelAccountDataSeoMapper">

<resultMap type="com.dcits.supervise.pecr.indv.entity.inDel" id="inDellistResultMap">
		<result column="PBY_IN_ACCT_DEL_ID" property="pk"/> 
		<result column="INF_REC_TYPE" property="infRecType"/> 
		<result column="ACCT_TYPE" property="acctType"/> 
		<result column="DEL_REC_CODE" property="delRecCode"/> 
		<result column="DEL_SGMT_CODE" property="delSgmtCode"/> 
		<result column="DEL_START_DATE" property="delStartDate"/>
		<result column="DEL_END_DATE" property="delEndDate"/>
		<result column="LAST_UPDATE_TIME" property="lastUpdateTime"/> 
		<result column="OPERATOR_USER" property="operatorUser"/> 
		<result column="ORG_NAME" property="orgName"/> 
		<result column="ORG_CODE" property="orgCode"/> 
		<result column="BUSINESS_STATES" property="businessStates"/> 
		<result column="REJECT_REASON" property="rejectReason"/> 
		<result column="IS_FILTER" property="isFilter"/> 
		<result column="REPORT_MESSAGE_ID" property="reportMessageId"/> 
		<result column="RPT_DATE" property="rptDate"/> 
		<result column="NAME" property="name"/> 
		<result column="ID_TYPE" property="idType"/> 
		<result column="ID_NUM" property="idNum"/>
		<result column="PK" property="pk"/>
		<result column="INF_SURC_CODE" property="infSurcCode"/>
		<result column="FLAG" property="flag"/>
</resultMap>
<select id="datalistPage" parameterType="page" resultType="pd">
		  SELECT distinct * FROM (SELECT 
				  ID_TYPE,
  				  ID_NUM,COMPANY,null as DEL_REC_CODE
		          FROM I_IN_BS_INF_DLT  <!-- 114  个人基本信息整笔删除请求记录 -->
		          UNION ALL 
		          SELECT 
				  ID_TYPE,
  				  ID_NUM,COMPANY,null as DEL_REC_CODE
		          FROM I_IN_ID_EFCT_INF_DLT <!-- 134  个人证件有效期整笔删除请求记录 -->
		          UNION ALL 
		          SELECT 
				  ID_TYPE,
  				  ID_NUM,COMPANY,DEL_REC_CODE
		          FROM I_IN_ACCT_DEL  <!-- 213  个人借贷账户按段删除请求记录 -->  
		          UNION ALL 
		          SELECT 
				  ID_TYPE,
  				  ID_NUM,COMPANY,DEL_REC_CODE
		          FROM I_IN_ACCT_ENT_DEL  <!-- 214  个人借贷账户整笔删除请求记录 -->
		          UNION ALL 
		          SELECT 
				  ID_TYPE,
  				  ID_NUM,COMPANY,DEL_REC_CODE
		          FROM I_IN_CTRCT_DEL  <!-- 223  个人授信账户按段删除请求记录 -->
		          UNION ALL 
		          SELECT 
				  ID_TYPE,
  				  ID_NUM,COMPANY,DEL_REC_CODE
		          FROM I_IN_CTRCT_ENT_DEL  <!-- 224  个人授信账户整笔删除请求记录 --> 
		          UNION ALL 
		          SELECT 
				  ID_TYPE,
  				  ID_NUM,COMPANY,DEL_REC_CODE
		          FROM I_IN_SEC_ACCT_DEL  <!-- 233  个人担保账户按段删除请求记录 -->
		          UNION ALL 
		          SELECT 
				  ID_TYPE,
  				  ID_NUM,COMPANY,DEL_REC_CODE
		          FROM I_IN_SEC_ACCT_ENT_DEL  <!-- 234  个人担保账户整笔删除请求记录 --> 
		          UNION ALL
		          SELECT 
				  ID_TYPE,
  				  ID_NUM,COMPANY,null as DEL_REC_CODE
		          FROM I_IN_BS_INF_DLT_HIST 
		          UNION ALL 
		          SELECT 
				  ID_TYPE,
  				  ID_NUM,COMPANY,null as DEL_REC_CODE
		          FROM I_IN_ID_EFCT_INF_DLT_HIST
		          UNION ALL 
		          SELECT 
				  ID_TYPE,
  				  ID_NUM,COMPANY,DEL_REC_CODE
		          FROM I_IN_ACCT_DEL_HIST
		          UNION ALL 
		          SELECT 
				  ID_TYPE,
  				  ID_NUM,COMPANY,DEL_REC_CODE
		          FROM I_IN_ACCT_ENT_DEL_HIST
		          UNION ALL 
		          SELECT 
				  ID_TYPE,
  				  ID_NUM,COMPANY,DEL_REC_CODE
		          FROM I_IN_CTRCT_DEL_HIST
		          UNION ALL 
		          SELECT 
				  ID_TYPE,
  				  ID_NUM,COMPANY,DEL_REC_CODE
		          FROM I_IN_CTRCT_ENT_DEL_HIST
		          UNION ALL 
		          SELECT 
				  ID_TYPE,
  				  ID_NUM,COMPANY,DEL_REC_CODE
		          FROM I_IN_SEC_ACCT_DEL_HIST
		          UNION ALL 
		          SELECT 
				  ID_TYPE,
  				  ID_NUM,COMPANY,DEL_REC_CODE
		          FROM I_IN_SEC_ACCT_ENT_DEL_HIST
		          ) a
		  where 1=1		
		   	  <if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
		   	  	and a.ID_TYPE = #{pd.ID_TYPE}
		   	  </if>
		   	  <if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
		   	  	and a.ID_NUM like '%${pd.ID_NUM}%'
		   	  </if>
		   	  <if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
		   	  	and a.DEL_REC_CODE = #{pd.DEL_REC_CODE}
		   	  </if>
		   	    and a.COMPANY = #{pd.COMPANY}
</select>
	<select id="dataHistlistPage" parameterType="page" resultMap="inDellistResultMap">
		SELECT * FROM (SELECT
				PAY_IN_BS_INF_DLT_ID as pk,
				INF_REC_TYPE,
				NULL as ACCT_TYPE,
				NULL as DEL_REC_CODE,
				NULL as DEL_SGMT_CODE,
				NULL as DEL_START_DATE,
				NULL as DEL_END_DATE,
				INF_SURC_CODE,
				LAST_UPDATE_TIME as LAST_UPDATE_TIME,
				OPERATOR_USER,
				ORG_NAME,
				ORG_CODE,
				BUSINESS_STATES,
				REJECT_REASON,
				IS_FILTER,
				REPORT_MESSAGE_ID,
				RPT_DATE,
				NAME,
				ID_TYPE,
				ID_NUM,
				'new'FLAG,
				COMPANY
				FROM I_IN_BS_INF_DLT
				where 1 = 1
				<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
					AND ID_TYPE = #{pd.ID_TYPE}
				</if>
				<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
					AND ID_NUM = #{pd.ID_NUM}
				</if>
				<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
					AND 1 = 2
				</if>
				UNION ALL
				SELECT
				PAZ_IN_ID_EFCT_INF_DLT_ID as pk,
				INF_REC_TYPE,
				NULL as ACCT_TYPE,
				NULL as DEL_REC_CODE,
				NULL as DEL_SGMT_CODE,
				NULL as DEL_START_DATE,
				NULL as DEL_END_DATE,
				INF_SURC_CODE,
				LAST_UPDATE_TIME as LAST_UPDATE_TIME,
				OPERATOR_USER,
				ORG_NAME,
				ORG_CODE,
				BUSINESS_STATES,
				REJECT_REASON,
				IS_FILTER,
				REPORT_MESSAGE_ID,
				RPT_DATE,
				NAME,
				ID_TYPE,
				ID_NUM,
				'new'FLAG,
				COMPANY
				FROM I_IN_ID_EFCT_INF_DLT
				where 1 = 1
				<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
					AND ID_TYPE = #{pd.ID_TYPE}
				</if>
				<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
					AND ID_NUM = #{pd.ID_NUM}
				</if>
				<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
					AND 1 = 2
				</if>
				UNION ALL
				SELECT
				PBY_IN_ACCT_DEL_ID as pk,
				INF_REC_TYPE,
				ACCT_TYPE,
				DEL_REC_CODE,
				DEL_SGMT_CODE,
				DEL_START_DATE as DEL_START_DATE,
				DEL_END_DATE as DEL_END_DATE,
				NULL as INF_SURC_CODE,
				LAST_UPDATE_TIME as LAST_UPDATE_TIME,
				OPERATOR_USER,
				ORG_NAME,
				ORG_CODE,
				BUSINESS_STATES,
				REJECT_REASON,
				IS_FILTER,
				REPORT_MESSAGE_ID,
				RPT_DATE,
				NAME,
				ID_TYPE,
				ID_NUM,
				'new'FLAG,
				COMPANY
				FROM I_IN_ACCT_DEL
				where 1 = 1
				<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
					AND ID_TYPE = #{pd.ID_TYPE}
				</if>
				<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
					AND ID_NUM = #{pd.ID_NUM}
				</if>
				<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
					AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
				</if>
				UNION ALL
				SELECT
				PBZ_IN_ACCT_ENT_DEL_ID as pk,
				INF_REC_TYPE,
				ACCT_TYPE,
				DEL_REC_CODE,
				NULL as DEL_SGMT_CODE,
				NULL as DEL_START_DATE,
				NULL as DEL_END_DATE,
				NULL as INF_SURC_CODE,
				LAST_UPDATE_TIME as LAST_UPDATE_TIME,
				OPERATOR_USER,
				ORG_NAME,
				ORG_CODE,
				BUSINESS_STATES,
				REJECT_REASON,
				IS_FILTER,
				REPORT_MESSAGE_ID,
				RPT_DATE,
				NAME,
				ID_TYPE,
				ID_NUM,
				'new'FLAG,
				COMPANY
				FROM I_IN_ACCT_ENT_DEL
				where 1 = 1
				<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
					AND ID_TYPE = #{pd.ID_TYPE}
				</if>
				<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
					AND ID_NUM = #{pd.ID_NUM}
				</if>
				<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
					AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
				</if>
				UNION ALL
				SELECT
				PCY_IN_CTRCT_DEL_ID as pk,
				INF_REC_TYPE,
				NULL as ACCT_TYPE,
				DEL_REC_CODE,
				NULL as DEL_SGMT_CODE,
				DEL_START_DATE as DEL_START_DATE,
				DEL_END_DATE as DEL_END_DATE,
				NULL as INF_SURC_CODE,
				LAST_UPDATE_TIME as LAST_UPDATE_TIME,
				OPERATOR_USER,
				ORG_NAME,
				ORG_CODE,
				BUSINESS_STATES,
				REJECT_REASON,
				IS_FILTER,
				REPORT_MESSAGE_ID,
				RPT_DATE,
				NAME,
				ID_TYPE,
				ID_NUM,
				'new'FLAG,
				COMPANY
				FROM I_IN_CTRCT_DEL
				where 1 = 1
				<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
					AND ID_TYPE = #{pd.ID_TYPE}
				</if>
				<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
					AND ID_NUM = #{pd.ID_NUM}
				</if>
				<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
					AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
				</if>
				UNION ALL
				SELECT
				PCZ_IN_CTRCT_ENT_DEL_ID as pk,
				INF_REC_TYPE,
				NULL as ACCT_TYPE,
				DEL_REC_CODE,
				NULL as DEL_SGMT_CODE,
				NULL as DEL_START_DATE,
				NULL as DEL_END_DATE,
				NULL as INF_SURC_CODE,
				LAST_UPDATE_TIME as LAST_UPDATE_TIME,
				OPERATOR_USER,
				ORG_NAME,
				ORG_CODE,
				BUSINESS_STATES,
				REJECT_REASON,
				IS_FILTER,
				REPORT_MESSAGE_ID,
				RPT_DATE,
				NAME,
				ID_TYPE,
				ID_NUM,
				'new'FLAG,
				COMPANY
				FROM I_IN_CTRCT_ENT_DEL
				where 1 = 1
				<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
					AND ID_TYPE = #{pd.ID_TYPE}
				</if>
				<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
					AND ID_NUM = #{pd.ID_NUM}
				</if>
				<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
					AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
				</if>
				UNION ALL
				SELECT
				PDY_IN_SEC_ACCT_DEL_ID as pk,
				INF_REC_TYPE,
				ACCT_TYPE,
				DEL_REC_CODE,
				DEL_SGMT_CODE,
				DEL_START_DATE as DEL_START_DATE,
				DEL_END_DATE as DEL_END_DATE,
				NULL as INF_SURC_CODE,
				LAST_UPDATE_TIME as LAST_UPDATE_TIME,
				OPERATOR_USER,
				ORG_NAME,
				ORG_CODE,
				BUSINESS_STATES,
				REJECT_REASON,
				IS_FILTER,
				REPORT_MESSAGE_ID,
				RPT_DATE,
				NAME,
				ID_TYPE,
				ID_NUM,
				'new'FLAG,
				COMPANY
				FROM I_IN_SEC_ACCT_DEL
				where 1 = 1
				<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
					AND ID_TYPE = #{pd.ID_TYPE}
				</if>
				<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
					AND ID_NUM = #{pd.ID_NUM}
				</if>
				<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
					AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
				</if>
				UNION ALL
				SELECT
				PDZ_IN_SEC_ACCT_ENT_DEL_ID as pk,
				INF_REC_TYPE,
				ACCT_TYPE,
				DEL_REC_CODE,
				NULL as DEL_SGMT_CODE,
				NULL as DEL_START_DATE,
				NULL as DEL_END_DATE,
				NULL as INF_SURC_CODE,
				LAST_UPDATE_TIME as LAST_UPDATE_TIME,
				OPERATOR_USER,
				ORG_NAME,
				ORG_CODE,
				BUSINESS_STATES,
				REJECT_REASON,
				IS_FILTER,
				REPORT_MESSAGE_ID,
				RPT_DATE,
				NAME,
				ID_TYPE,
				ID_NUM,
				'new'FLAG,
				COMPANY
				FROM I_IN_SEC_ACCT_ENT_DEL
				where 1 = 1
				<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
					AND ID_TYPE = #{pd.ID_TYPE}
				</if>
				<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
					AND ID_NUM = #{pd.ID_NUM}
				</if>
				<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
					AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
				</if>
				UNION ALL
				SELECT
				PAY_IN_BS_INF_DLT_ID as pk,
				INF_REC_TYPE,
				NULL as ACCT_TYPE,
				NULL as DEL_REC_CODE,
				NULL as DEL_SGMT_CODE,
				NULL as DEL_START_DATE,
				NULL as DEL_END_DATE,
				INF_SURC_CODE,
				LAST_UPDATE_TIME as LAST_UPDATE_TIME,
				OPERATOR_USER,
				ORG_NAME,
				ORG_CODE,
				BUSINESS_STATES,
				REJECT_REASON,
				IS_FILTER,
				REPORT_MESSAGE_ID,
				RPT_DATE,
				NAME,
				ID_TYPE,
				ID_NUM,
				'old'FLAG,
				COMPANY
				FROM I_IN_BS_INF_DLT_HIST
				where 1 = 1
				<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
					AND ID_TYPE = #{pd.ID_TYPE}
				</if>
				<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
					AND ID_NUM = #{pd.ID_NUM}
				</if>
				<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
					AND 1 = 2
				</if>
				UNION ALL
				SELECT
				PAZ_IN_ID_EFCT_INF_DLT_ID as pk,
				INF_REC_TYPE,
				NULL as ACCT_TYPE,
				NULL as DEL_REC_CODE,
				NULL as DEL_SGMT_CODE,
				NULL as DEL_START_DATE,
				NULL as DEL_END_DATE,
				INF_SURC_CODE,
				LAST_UPDATE_TIME as LAST_UPDATE_TIME,
				OPERATOR_USER,
				ORG_NAME,
				ORG_CODE,
				BUSINESS_STATES,
				REJECT_REASON,
				IS_FILTER,
				REPORT_MESSAGE_ID,
				RPT_DATE,
				NAME,
				ID_TYPE,
				ID_NUM,
				'old'FLAG,
				COMPANY
				FROM I_IN_ID_EFCT_INF_DLT_HIST
				where 1 = 1
				<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
					AND ID_TYPE = #{pd.ID_TYPE}
				</if>
				<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
					AND ID_NUM = #{pd.ID_NUM}
				</if>
				<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
					AND 1 = 2
				</if>
				UNION ALL
				SELECT
				PBY_IN_ACCT_DEL_ID as pk,
				INF_REC_TYPE,
				ACCT_TYPE,
				DEL_REC_CODE,
				DEL_SGMT_CODE,
				DEL_START_DATE as DEL_START_DATE,
				DEL_END_DATE as DEL_END_DATE,
				NULL as INF_SURC_CODE,
				LAST_UPDATE_TIME as LAST_UPDATE_TIME,
				OPERATOR_USER,
				ORG_NAME,
				ORG_CODE,
				BUSINESS_STATES,
				REJECT_REASON,
				IS_FILTER,
				REPORT_MESSAGE_ID,
				RPT_DATE,
				NAME,
				ID_TYPE,
				ID_NUM,
				'old'FLAG,
				COMPANY
				FROM I_IN_ACCT_DEL_HIST
				where 1 = 1
				<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
					AND ID_TYPE = #{pd.ID_TYPE}
				</if>
				<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
					AND ID_NUM = #{pd.ID_NUM}
				</if>
				<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
					AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
				</if>
				UNION ALL
				SELECT
				PBZ_IN_ACCT_ENT_DEL_ID as pk,
				INF_REC_TYPE,
				ACCT_TYPE,
				DEL_REC_CODE,
				NULL as DEL_SGMT_CODE,
				NULL as DEL_START_DATE,
				NULL as DEL_END_DATE,
				NULL as INF_SURC_CODE,
				LAST_UPDATE_TIME as LAST_UPDATE_TIME,
				OPERATOR_USER,
				ORG_NAME,
				ORG_CODE,
				BUSINESS_STATES,
				REJECT_REASON,
				IS_FILTER,
				REPORT_MESSAGE_ID,
				RPT_DATE,
				NAME,
				ID_TYPE,
				ID_NUM,
				'old'FLAG,
				COMPANY
				FROM I_IN_ACCT_ENT_DEL_HIST
				where 1 = 1
				<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
					AND ID_TYPE = #{pd.ID_TYPE}
				</if>
				<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
					AND ID_NUM = #{pd.ID_NUM}
				</if>
				<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
					AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
				</if>
				UNION ALL
				SELECT
				PCY_IN_CTRCT_DEL_ID as pk,
				INF_REC_TYPE,
				NULL as ACCT_TYPE,
				DEL_REC_CODE,
				NULL as DEL_SGMT_CODE,
				DEL_START_DATE as DEL_START_DATE,
				DEL_END_DATE as DEL_END_DATE,
				NULL as INF_SURC_CODE,
				LAST_UPDATE_TIME as LAST_UPDATE_TIME,
				OPERATOR_USER,
				ORG_NAME,
				ORG_CODE,
				BUSINESS_STATES,
				REJECT_REASON,
				IS_FILTER,
				REPORT_MESSAGE_ID,
				RPT_DATE,
				NAME,
				ID_TYPE,
				ID_NUM,
				'old'FLAG,
				COMPANY
				FROM I_IN_CTRCT_DEL_HIST
				where 1 = 1
				<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
					AND ID_TYPE = #{pd.ID_TYPE}
				</if>
				<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
					AND ID_NUM = #{pd.ID_NUM}
				</if>
				<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
					AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
				</if>
				UNION ALL
				SELECT
				PCZ_IN_CTRCT_ENT_DEL_ID as pk,
				INF_REC_TYPE,
				NULL as ACCT_TYPE,
				DEL_REC_CODE,
				NULL as DEL_SGMT_CODE,
				NULL as DEL_START_DATE,
				NULL as DEL_END_DATE,
				NULL as INF_SURC_CODE,
				LAST_UPDATE_TIME as LAST_UPDATE_TIME,
				OPERATOR_USER,
				ORG_NAME,
				ORG_CODE,
				BUSINESS_STATES,
				REJECT_REASON,
				IS_FILTER,
				REPORT_MESSAGE_ID,
				RPT_DATE,
				NAME,
				ID_TYPE,
				ID_NUM,
				'old'FLAG,
				COMPANY
				FROM I_IN_CTRCT_ENT_DEL_HIST
				where 1 = 1
				<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
					AND ID_TYPE = #{pd.ID_TYPE}
				</if>
				<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
					AND ID_NUM = #{pd.ID_NUM}
				</if>
				<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
					AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
				</if>
				UNION ALL
				SELECT
				PDY_IN_SEC_ACCT_DEL_ID as pk,
				INF_REC_TYPE,
				ACCT_TYPE,
				DEL_REC_CODE,
				DEL_SGMT_CODE,
				DEL_START_DATE as DEL_START_DATE,
				DEL_END_DATE as DEL_END_DATE,
				NULL as INF_SURC_CODE,
				LAST_UPDATE_TIME as LAST_UPDATE_TIME,
				OPERATOR_USER,
				ORG_NAME,
				ORG_CODE,
				BUSINESS_STATES,
				REJECT_REASON,
				IS_FILTER,
				REPORT_MESSAGE_ID,
				RPT_DATE,
				NAME,
				ID_TYPE,
				ID_NUM,
				'old'FLAG,
				COMPANY
				FROM I_IN_SEC_ACCT_DEL_HIST
				where 1 = 1
				<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
					AND ID_TYPE = #{pd.ID_TYPE}
				</if>
				<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
					AND ID_NUM = #{pd.ID_NUM}
				</if>
				<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
					AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
				</if>
				UNION ALL
				SELECT
				PDZ_IN_SEC_ACCT_ENT_DEL_ID as pk,
				INF_REC_TYPE,
				ACCT_TYPE,
				DEL_REC_CODE,
				NULL as DEL_SGMT_CODE,
				NULL as DEL_START_DATE,
				NULL as DEL_END_DATE,
				NULL as INF_SURC_CODE,
				LAST_UPDATE_TIME as LAST_UPDATE_TIME,
				OPERATOR_USER,
				ORG_NAME,
				ORG_CODE,
				BUSINESS_STATES,
				REJECT_REASON,
				IS_FILTER,
				REPORT_MESSAGE_ID,
				RPT_DATE,
				NAME,
				ID_TYPE,
				ID_NUM,
				'old'FLAG,
				COMPANY
				FROM I_IN_SEC_ACCT_ENT_DEL_HIST
				where 1 = 1
				<if test='pd.ID_TYPE != null and pd.ID_TYPE != ""'>
					AND ID_TYPE = #{pd.ID_TYPE}
				</if>
				<if test='pd.ID_NUM != null and pd.ID_NUM != ""'>
					AND ID_NUM = #{pd.ID_NUM}
				</if>
				<if test='pd.DEL_REC_CODE != null and pd.DEL_REC_CODE != ""'>
					AND DEL_REC_CODE = #{pd.DEL_REC_CODE}
				</if>
		          ) a
		 where 1=1		
		   	  <if test='pd.RPT_DATE != null and pd.RPT_DATE != ""'>
		   	  	and a.RPT_DATE = #{pd.RPT_DATE}
		   	  </if>
		   	    and a.COMPANY = #{pd.COMPANY}      
	</select>
	<update id="updateStatus" parameterType="map">
	update 
			<if test="infRecType == '114'">
                I_IN_BS_INF_DLT
            </if>
            <if test="infRecType == '134'">
                I_IN_ID_EFCT_INF_DLT
            </if>
            <if test="infRecType == '213'">
                I_IN_ACCT_DEL
            </if>
            <if test="infRecType == '214'">
                I_IN_ACCT_ENT_DEL
            </if>
            <if test="infRecType == '223'">
                I_IN_CTRCT_DEL
            </if>
            <if test="infRecType == '224'">
                I_IN_CTRCT_ENT_DEL
            </if>
            <if test="infRecType == '233'">
                I_IN_SEC_ACCT_DEL
            </if>
            <if test="infRecType == '234'">
                I_IN_SEC_ACCT_ENT_DEL
            </if>
	   <set>
	   	  	BUSINESS_STATES = '11'
	   </set>
	   where 
			<if test="infRecType == '114'">
                PAY_IN_BS_INF_DLT_ID
            </if>
            <if test="infRecType == '134'">
                PAZ_IN_ID_EFCT_INF_DLT_ID
            </if>
            <if test="infRecType == '213'">
                PBY_IN_ACCT_DEL_ID
            </if>
            <if test="infRecType == '214'">
                PBZ_IN_ACCT_ENT_DEL_ID
            </if>
            <if test="infRecType == '223'">
                PCY_IN_CTRCT_DEL_ID
            </if>
            <if test="infRecType == '224'">
                PCZ_IN_CTRCT_ENT_DEL_ID
            </if>
            <if test="infRecType == '233'">
                PDY_IN_SEC_ACCT_DEL_ID
            </if>
            <if test="infRecType == '234'">
                PDZ_IN_SEC_ACCT_ENT_DEL_ID
            </if>
		 = #{baseId}
		 and COMPANY = #{COMPANY}
		 
</update>
<update id="backdate" parameterType="map">
		update 
			<if test="infRecType == '114'">
                I_IN_BS_INF_DLT
            </if>
            <if test="infRecType == '134'">
                I_IN_ID_EFCT_INF_DLT
            </if>
            <if test="infRecType == '213'">
                I_IN_ACCT_DEL
            </if>
            <if test="infRecType == '214'">
                I_IN_ACCT_ENT_DEL
            </if>
            <if test="infRecType == '223'">
                I_IN_CTRCT_DEL
            </if>
            <if test="infRecType == '224'">
                I_IN_CTRCT_ENT_DEL
            </if>
            <if test="infRecType == '233'">
                I_IN_SEC_ACCT_DEL
            </if>
            <if test="infRecType == '234'">
                I_IN_SEC_ACCT_ENT_DEL
            </if>
		   <set>
		   	  	BUSINESS_STATES = '30'
		   </set>
		   where REPORT_MESSAGE_ID = #{reportMessageId}
		     and COMPANY = #{COMPANY}
</update>
<delete id="deletedate" parameterType="map" >
		delete from report_message
		 where REPORT_MESSAGE_FILE_NAME = #{reportMessageId}
		   and COMPANY = #{COMPANY}
</delete>
	
	
	
</mapper>
