<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ValidateParameterMapper">


  <resultMap id="BaseResultMap" type="com.dcits.supervise.pecr.validateData.model.ValidateParameter">
    <id column="PARAMETER_NAME" jdbcType="VARCHAR" property="parameterName" />
    <result column="PARAMETER_TYPE" jdbcType="VARCHAR" property="parameterType" />
    <result column="PARAMETER_VALUE" jdbcType="VARCHAR" property="parameterValue" />
    <result column="PARAMETER_COMMENT" jdbcType="VARCHAR" property="parameterComment" />
    <result column="SERVICE_NAME" jdbcType="VARCHAR" property="serviceName" />
  </resultMap>
  
 <sql id="Base_Column_List">
    PARAMETER_NAME, PARAMETER_TYPE, PARAMETER_VALUE, PARAMETER_COMMENT, SERVICE_NAME
  </sql>
  
  <sql id="tableName">
  	VALIDATE_PARAMETER
  </sql>

	<select id="selectByCondition" parameterType="list" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from <include refid="tableName"/>
		where 1=1
		<if test='list != null and list.size >0'>
			and 
			<foreach collection="list" item="item" index="index" open="(" close=")" separator="or">
			 	PARAMETER_NAME = #{item}
			</foreach>
		</if>
	</select>
	

</mapper>