.layui-inline{
	padding: 5px 5px 20px;
}
.layui-nav-tree .layui-nav-item a {
	line-height: 30px;
	height: 30px;
	text-indent: 10px;
}
.layui-card{
	padding-bottom: 0;
}
.layui-layer-padding{
	padding: 0 20px;
}
.posit_fixed{
	position: fixed;
	right: 0;
	top: 10px;
	border-left: 1.5px solid #eaeaea;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.posit_fixed:before{
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	background: url("../../images/sideCatalog.png") no-repeat 0 -199px;
	position: absolute;
	left: -6px;
	top: 0;
}
.posit_fixed:after{
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	background: url("../../images/sideCatalog.png") no-repeat 0 -199px;
	position: absolute;
	left: -6px;
	bottom: 0;
}
.posit_fixed li:before{
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	background: url("../../images/sideCatalog.png") no-repeat 3px -222px;
	position: absolute;
	left: -22px;
	top: 10px;
}
.layui-card-header{
	background-color: #f2f2f2;
}
.layui-card-header:before{
	content: '';
	display: block;
	width: 5px;
	height: 100%;
	background-color: #588fd0;
	position: absolute;
	left: 0;
	top: 0;
}
.layui-nav-tree .layui-nav-bar{
	display: none;
}
.posit_fixed .arrow{
	width: 18px;
	height: 13px;
	background: url("../../images/sideCatalog.png") no-repeat -271px -38px;
	position: absolute;
	left: -7px;
	top: 18px;
	cursor: pointer;
}
.errorFormBox{
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 0px;
	font-size: 12px;
	color: #f00;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.layui-table-view .layui-table td, .layui-table-view .layui-table th{
	padding: 5px 0 10px;
}
.errorTableBox{
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: -3px;
	font-size: 12px;
	color: #f00;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}

