<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MochangeMapper">
<resultMap type="com.dcits.supervise.pecr.indv.entity.Accountchange" id="accountChangelistResultMap">
		<result column="PCW_IN_CTRCTID_CAGS_INF_ID" property="pk"/> 
		<result column="INF_REC_TYPE" property="infRecType"/> 
		<result column="ACCT_TYPE" property="acctType"/> 
		<result column="OD_BNES_CODE" property="odBnesCode"/> 
		<result column="NW_BNES_CODE" property="nwBnesCode"/> 
		<result column="LAST_UPDATE_TIME" property="lastUpdateTime"/> 
		<result column="OPERATOR_USER" property="operatorUser"/> 
		<result column="ORG_NAME" property="orgName"/> 
		<result column="ORG_CODE" property="orgCode"/> 
		<result column="BUSINESS_STATES" property="businessStates"/> 
		<result column="REJECT_REASON" property="rejectReason"/> 
		<result column="IS_FILTER" property="isFilter"/> 
		<result column="REPORT_MESSAGE_ID" property="reportMessageId"/> 
		<result column="RPT_DATE" property="rptDate"/> 
		<result column="NAME" property="name"/> 
		<result column="ID_TYPE" property="idType"/> 
		<result column="ID_NUM" property="idNum"/>
		<result column="PK" property="pk"/>
		<result column="EFW_MOC_ID_CAGS_INF_ID" property="efwMocId"/> 
		<result column="INFO_ID_TYPE" property="infoIdType"/> 
</resultMap>
	<select id="accountlistPage" parameterType="page" resultMap="accountChangelistResultMap" >
		select
			EFW_MOC_ID_CAGS_INF_ID,
			INF_REC_TYPE,
			OD_BNES_CODE,
			NW_BNES_CODE,
			LAST_UPDATE_TIME,
			OPERATOR_USER,
			ORG_NAME,
			ORG_CODE,
			BUSINESS_STATES,
			REJECT_REASON,
			IS_FILTER,
			REPORT_MESSAGE_ID,
			RPT_DATE,
			INFO_ID_TYPE,
			NAME,
			CERT_TYPE,
			CERT_NUM,
			COMPANY  
		from    MOC_ID_CAGS_INF  
		<where>
			<if test='pd.queryType == "APPLY"'>
				and business_states in ('10','11','40','80','110','20')
			</if>
			<if test='pd.queryType == "CHECK"'>
				and business_states in ('20')
			</if>
			<if test='pd.businessStates != null and pd.businessStates != ""'>
				and business_states = #{pd.businessStates}
			</if>
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and rpt_date = #{pd.rptDate}
			</if>	
			  and COMPANY = #{pd.COMPANY}
		</where>
  						
	</select>
	
	
	<insert id="addMo" parameterType="pd">
	insert into MOC_ID_CAGS_INF  
		(EFW_MOC_ID_CAGS_INF_ID,
		INF_REC_TYPE,
		OD_BNES_CODE,
		NW_BNES_CODE,
		LAST_UPDATE_TIME,
		OPERATOR_USER,
		ORG_NAME,
		ORG_CODE,
		BUSINESS_STATES,
		REJECT_REASON,
		IS_FILTER,
		REPORT_MESSAGE_ID,
		RPT_DATE,
		INFO_ID_TYPE,
		NAME,
		CERT_TYPE,
		CERT_NUM,
		COMPANY)  
		 values
       	(
       			 #{efwMocId},
 				 #{infRecType},
				 #{odBnesCode}, 
				 #{nwBnesCode} ,
				 #{lastUpdateTime},
 				 #{operatorUser},
 					#{orgName},
 					#{orgCode},
 				'11',
 				#{rejectReason},
				 #{isFilter},
 				#{reportMessageId},
				 #{lastUpdateTime},
				 #{infoIdType},
 					#{name},
 					#{idType},
 					#{idNum} ,
 					#{COMPANY}
 					)
	</insert>
	
	
	<delete id='delMo' parameterType="pd">
		delete from MOC_ID_CAGS_INF where  EFW_MOC_ID_CAGS_INF_ID =  #{efwMocId} and COMPANY = #{COMPANY}
	</delete>
	
	
	<update id="updateMo" parameterType="pd">
	
	update MOC_ID_CAGS_INF set 
	   <if test="lastUpdateTime != null">
		 LAST_UPDATE_TIME = #{lastUpdateTime} ,
		 RPT_DATE = #{lastUpdateTime} ,
		</if>
		<if test="nwBnesCode != null and nwBnesCode!= ''">
			NW_BNES_CODE = #{nwBnesCode} ,
		</if>
		<if test="odBnesCode != null and odBnesCode != ''">
			OD_BNES_CODE = #{odBnesCode} 
		</if>
         where EFW_MOC_ID_CAGS_INF_ID =  #{efwMocId}
           and COMPANY = #{COMPANY}
	
	</update>
	
	
</mapper>
