<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IndvNormalMessageMapper">

	<select id="getNormalMessagelistPage" parameterType="page" resultType="java.util.HashMap">
		select * from 
		( SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			I_BS  a
		WHERE COMPANY = #{pd.COMPANY}
			AND INF_REC_TYPE = '110'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY
		UNION ALL
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			I_IN_FAL_MMBS_INF b
		WHERE COMPANY = #{pd.COMPANY}
			and INF_REC_TYPE = '120'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
				
			GROUP BY RPT_DATE,INF_REC_TYPE ,COMPANY
		UNION ALL
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			I_IN_ID_EFCT_INF  c
		WHERE COMPANY = #{pd.COMPANY}
			and INF_REC_TYPE = '130'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY
		UNION ALL
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			I_IN_CTF_ITG_INF  d
		WHERE COMPANY = #{pd.COMPANY}
			and INF_REC_TYPE = '140'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY
		UNION ALL
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			I_ACCT_BS e
		WHERE COMPANY = #{pd.COMPANY}
			and INF_REC_TYPE = '210'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY
		UNION ALL
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			I_CTRCT_BS f
		WHERE COMPANY = #{pd.COMPANY}
			and INF_REC_TYPE = '220'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY
		UNION ALL
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			I_GUAR_ACCT_BS g
		WHERE COMPANY = #{pd.COMPANY}
			and INF_REC_TYPE = '230'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY
		UNION ALL
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM	
			I_IN_SPC_EVT_DSC_INF l 
		WHERE COMPANY = #{pd.COMPANY}
			and INF_REC_TYPE = '215'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY) h
		where 1 = 1
			and h.COMPANY = #{pd.COMPANY}
			and h.rightRecodeNum &gt; 0
		<if test='pd.rptDate != null and pd.rptDate != ""'>
			and h.rptDate   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and h.rptDate   &lt;= SUBSTR(#{pd.rptDate},14,10) 
		</if>
		<if test='pd.infRecType != null and pd.infRecType != ""'>
			and h.infRecType = #{pd.infRecType}
		</if>
		ORDER BY INFRECTYPE,RPTDATE DESC
	</select>
	
	<select id="getAbnormalMessagelistPage" parameterType="page" resultType="java.util.HashMap">
    SELECT * from (
    SELECT
        RPT_DATE as RPTDATE,
        INF_REC_TYPE as INFRECTYPE,
        COMPANY,
        COUNT(*) as RECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS RIGHTRECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS WRONGRECODENUM
        FROM
        I_IN_BS_INF_DLT
        where INF_REC_TYPE = '114' AND COMPANY = #{pd.COMPANY}
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
        group by INF_REC_TYPE,RPT_DATE,COMPANY
        union all
    SELECT 
        RPT_DATE as RPTDATE,
        INF_REC_TYPE as INFRECTYPE,
        COMPANY,
        COUNT(*) as RECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS RIGHTRECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS WRONGRECODENUM
        FROM
        I_IN_ID_EFCT_INF_DLT
        where INF_REC_TYPE = '134' AND COMPANY = #{pd.COMPANY}
        	<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)   
			</if>
        group by INF_REC_TYPE,RPT_DATE,COMPANY
        union all
    SELECT
        RPT_DATE as RPTDATE,
        INF_REC_TYPE as INFRECTYPE,
        COMPANY,
        COUNT(*) as RECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS RIGHTRECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS WRONGRECODENUM
        FROM
        I_IN_ACCT_ID_CAGS_INF  a
        where INF_REC_TYPE = '211' AND COMPANY = #{pd.COMPANY}
        	<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)   
			</if>
        group by INF_REC_TYPE,RPT_DATE,COMPANY
        union all
    SELECT
        RPT_DATE as RPTDATE,
        INF_REC_TYPE as INFRECTYPE,
        COMPANY,
        COUNT(*) as RECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS RIGHTRECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS WRONGRECODENUM
        FROM
        I_IN_ACCT_DEL  a
        where INF_REC_TYPE = '213' AND COMPANY = #{pd.COMPANY}
        	<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)
			</if>
        group by INF_REC_TYPE,COMPANY,RPT_DATE
        union all
    SELECT
        RPT_DATE as RPTDATE,
        INF_REC_TYPE as INFRECTYPE,
        COMPANY,
        COUNT(*) as RECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS RIGHTRECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS WRONGRECODENUM
        FROM
        I_IN_ACCT_ENT_DEL  a
        where INF_REC_TYPE = '214' AND COMPANY = #{pd.COMPANY}
        	<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
        group by INF_REC_TYPE,COMPANY,RPT_DATE
        union all
    SELECT
        RPT_DATE as RPTDATE,
        INF_REC_TYPE as INFRECTYPE,
        COMPANY,
        COUNT(*) as RECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS RIGHTRECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS WRONGRECODENUM
        FROM
        I_IN_CTRCTID_CAGS_INF  a
        where INF_REC_TYPE = '221' AND COMPANY = #{pd.COMPANY}
        	<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)
			</if>
        group by INF_REC_TYPE,RPT_DATE,COMPANY
        union all
    SELECT
        RPT_DATE as RPTDATE,
        INF_REC_TYPE as INFRECTYPE,
        COMPANY,
        COUNT(*) as RECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS RIGHTRECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS WRONGRECODENUM 
        FROM
        I_IN_CTRCT_DEL  a
        where INF_REC_TYPE = '223' AND COMPANY = #{pd.COMPANY}
        	<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
        group by INF_REC_TYPE,RPT_DATE,COMPANY
        union all
    SELECT
        RPT_DATE as RPTDATE,
        INF_REC_TYPE as INFRECTYPE,
        COMPANY,
        COUNT(*) as RECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS RIGHTRECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS WRONGRECODENUM 
        FROM
        I_IN_CTRCT_ENT_DEL  a
        where INF_REC_TYPE = '224' AND COMPANY = #{pd.COMPANY}
        	<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)   
			</if>
        group by INF_REC_TYPE,RPT_DATE,COMPANY
        union all
    SELECT
        RPT_DATE as RPTDATE,
        INF_REC_TYPE as INFRECTYPE,
        COMPANY,
        COUNT(*) as RECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS RIGHTRECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS WRONGRECODENUM
        FROM
        I_INSECACCTID_CAGSINF  a
        where INF_REC_TYPE = '231' AND COMPANY = #{pd.COMPANY}
        	<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10) 
			</if>
        group by INF_REC_TYPE,RPT_DATE,COMPANY
        union all
    SELECT
        RPT_DATE as RPTDATE,
        INF_REC_TYPE as INFRECTYPE,
        COMPANY,
        COUNT(*) as RECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS RIGHTRECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS WRONGRECODENUM
        FROM
        I_IN_SEC_ACCT_DEL  a
        where INF_REC_TYPE = '233' AND COMPANY = #{pd.COMPANY}
        	<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)   
			</if>
        group by INF_REC_TYPE,RPT_DATE,COMPANY
        union all
    SELECT
        RPT_DATE as RPTDATE,
        INF_REC_TYPE as INFRECTYPE,
        COMPANY,
        COUNT(*) as RECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS RIGHTRECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS WRONGRECODENUM
        FROM
        I_IN_SEC_ACCT_ENT_DEL  a
        where INF_REC_TYPE = '234' AND COMPANY = #{pd.COMPANY}
        	<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)   
			</if>
        group by INF_REC_TYPE,RPT_DATE,COMPANY
        union all
    SELECT
        RPT_DATE as RPTDATE,
        INF_REC_TYPE as INFRECTYPE,
        COMPANY,
        COUNT(*) as RECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS RIGHTRECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS WRONGRECODENUM
        FROM
        I_ACCT_BS  a
        where INF_REC_TYPE = '212' AND COMPANY = #{pd.COMPANY}
        	<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)   
			</if>
        group by INF_REC_TYPE,RPT_DATE,COMPANY
        union all
    SELECT
        RPT_DATE as RPTDATE,
        INF_REC_TYPE as INFRECTYPE,
        COMPANY,
        COUNT(*) as RECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS RIGHTRECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS WRONGRECODENUM
        FROM
        I_CTRCT_BS  a
        where INF_REC_TYPE = '222' AND COMPANY = #{pd.COMPANY}
        	<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
        group by INF_REC_TYPE,RPT_DATE,COMPANY
        union all
    SELECT
        RPT_DATE as RPTDATE,
        INF_REC_TYPE as INFRECTYPE,
        COMPANY,
        COUNT(*) as RECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS RIGHTRECODENUM,
        COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS WRONGRECODENUM
        FROM
        I_GUAR_ACCT_BS  a
        where INF_REC_TYPE = '232' AND COMPANY = #{pd.COMPANY}
        	<if test='pd.rptDate != null and pd.rptDate != ""'>
	        	and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
        group by INF_REC_TYPE,RPT_DATE,COMPANY
        ) h
    where 1 = 1
		<if test='pd.rptDate != null and pd.rptDate != ""'>
			and h.rptDate   &gt;= SUBSTR(#{pd.rptDate},1,10) 
				and h.rptDate   &lt;= SUBSTR(#{pd.rptDate},14,10)
			  
		</if>
		<if test='pd.infRecType != null and pd.infRecType != ""'>
			and h.infRecType = #{pd.infRecType}
		</if>
		    and h.COMPANY = #{pd.COMPANY}
		    and h.RIGHTRECODENUM &gt; 0
		ORDER BY INFRECTYPE,RPTDATE DESC
	</select>
	
	<select id="getReportNumByRptDate" parameterType="pd" resultType="int">
		SELECT COUNT(*)
		  FROM REPORT_MESSAGE
		 WHERE REPORT_TIME = #{RPT_DATE}
		   AND OPERATOR_USER = #{USERNAME}
		   AND COMPANY = #{COMPANY}
		   AND REPORT_MESSAGE_STATUS != '20'
	</select>
	
	<select id="getReport60NumByRptDate" parameterType="pd" resultType="int">
		SELECT COUNT(*)
		  FROM REPORT_MESSAGE
		 WHERE REPORT_TIME = #{RPT_DATE}
		   AND OPERATOR_USER = #{USERNAME}
		   AND COMPANY = #{COMPANY}
		   AND REPORT_MESSAGE_STATUS = '60'
	</select>
	
	<select id="getReport80InfoByRptDate" parameterType="pd" resultType="pd">
		SELECT *
		  FROM REPORT_MESSAGE
		 WHERE REPORT_TIME = #{RPT_DATE}
		   AND OPERATOR_USER = #{USERNAME}
		   AND COMPANY = #{COMPANY}
		   AND REPORT_MESSAGE_STATUS = '80'
	</select>
	
	<select id="getBasicTBNumByRptDate" parameterType="pd" resultType="int">
		SELECT COUNT(*)
		  FROM ${tableName}
		 WHERE COMPANY = #{COMPANY}
		   AND (RPT_DATE = #{REPORT_TIME} or RPT_DATE = TO_CHAR(TO_DATE(#{REPORT_TIME},'YYYY-MM-DD')-1,'YYYY-MM-DD') )
		   AND INF_REC_TYPE = #{REPORT_MESSAGE_TYPE}
		   AND (BUSINESS_STATES IN ('85','90') or (BUSINESS_STATES = '30' AND REPORT_MESSAGE_ID IS NULL))
	</select>
	
	
	<select id="getReportStatus10NumByRptDate" parameterType="pd" resultType="int">
		SELECT COUNT(*)
		  FROM REPORT_MESSAGE
		 WHERE REPORT_TIME = #{REPORT_TIME}
		   AND REPORT_MESSAGE_TYPE = #{REPORT_MESSAGE_TYPE}
		   AND COMPANY = #{COMPANY}
		   AND REPORT_MESSAGE_STATUS = '10'
	</select>
	
	
	<update id="updateReportStatus80To20ById" parameterType="pd">
		UPDATE REPORT_MESSAGE
		   SET REPORT_MESSAGE_STATUS = '20'
		 WHERE REPORT_MESSAGE_ID = #{REPORT_MESSAGE_ID}
		   AND COMPANY = #{COMPANY}
		   AND REPORT_MESSAGE_STATUS = '80'
		   AND REPORT_TIME = #{REPORT_TIME}
	</update>
	
	<select id="autoNormalMessagelistPage" parameterType="page" resultType="java.util.HashMap">
		select * from 
		( SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			EXTEND1,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			I_BS  a
		WHERE COMPANY = #{pd.COMPANY}
			AND INF_REC_TYPE = '110'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY,EXTEND1
		UNION ALL
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			EXTEND1,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			I_IN_FAL_MMBS_INF b
		WHERE COMPANY = #{pd.COMPANY}
			and INF_REC_TYPE = '120'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE ,COMPANY,EXTEND1
		UNION ALL
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			EXTEND1,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			I_IN_ID_EFCT_INF  c
		WHERE COMPANY = #{pd.COMPANY}
			and INF_REC_TYPE = '130'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY,EXTEND1
		UNION ALL
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			EXTEND1,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			I_IN_CTF_ITG_INF  d
		WHERE COMPANY = #{pd.COMPANY}
			and INF_REC_TYPE = '140'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY,EXTEND1
		UNION ALL
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			EXTEND1,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			I_ACCT_BS e
		WHERE COMPANY = #{pd.COMPANY}
			and INF_REC_TYPE = '210'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY,EXTEND1
		UNION ALL
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			EXTEND1,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			I_CTRCT_BS f
		WHERE COMPANY = #{pd.COMPANY}
			and INF_REC_TYPE = '220'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY,EXTEND1
		UNION ALL
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			EXTEND1,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			I_GUAR_ACCT_BS g
		WHERE COMPANY = #{pd.COMPANY}
			and INF_REC_TYPE = '230'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY,EXTEND1
		UNION ALL
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			EXTEND1,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM	
			I_IN_SPC_EVT_DSC_INF l 
		WHERE COMPANY = #{pd.COMPANY}
			and INF_REC_TYPE = '215'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY,EXTEND1) h
		where 1 = 1
			and h.COMPANY = #{pd.COMPANY}
			and h.rightRecodeNum &gt; 0
		<if test='pd.rptDate != null and pd.rptDate != ""'>
			and h.EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and h.EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10) 
		</if>
		<if test='pd.infRecType != null and pd.infRecType != ""'>
			and h.infRecType = #{pd.infRecType}
		</if>
		ORDER BY INFRECTYPE,RPTDATE DESC
	</select>
	
</mapper>
