<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IndvMessageDownLoadMapper">

	<select id="getIndvMessageDownLoadlistPage" parameterType="page" resultType="java.util.HashMap">
		select  report_message_id,
				report_message_file_name,
				report_message_type,
				report_message_status,
				create_success_time,
				enc_report_message_file_path,
				zip_report_message_file_path,
				txt_report_message_file_path,
				report_time,
				operator_user,
				create_time,
				record_num,
				description,
				COMPANY,
				FEEDBACK_MESSAGE_FILE_PATH
		from 
		report_message
		where 1=1
		<if test='pd.rptDate != null and pd.rptDate != ""'>
			and report_time &gt;= substr(#{pd.rptDate},1,10)
				and report_time &lt;= substr(#{pd.rptDate},14,10) 
		</if>
		<if test='pd.infRecType != null and pd.infRecType != ""'>
			and report_message_type = #{pd.infRecType}
		</if>
		  and REPORT_MESSAGE_TYPE in ('110','120','130','140','210','215','220','230')
		  and COMPANY = #{pd.COMPANY}
	</select>
	<select id="getEntMessageDownLoadlistPage" parameterType="page" resultType="java.util.HashMap">
		select  report_message_id,
				report_message_file_name,
				report_message_type,
				report_message_status,
				create_success_time,
				enc_report_message_file_path,
				zip_report_message_file_path,
				txt_report_message_file_path,
				report_time,
				record_num,
				create_time,
				operator_user,
				description,
				COMPANY,
				FEEDBACK_MESSAGE_FILE_PATH
		from 
		report_message
		where 1=1
		<if test='pd.rptDate != null and pd.rptDate != ""'>
			and report_time &gt;= substr(#{pd.rptDate},1,10)
			and report_time &lt;= substr(#{pd.rptDate},14,10)
		</if>
		<if test='pd.infRecType != null and pd.infRecType != ""'>
			and report_message_type = #{pd.infRecType}
		</if>
		  and REPORT_MESSAGE_TYPE in ('310','650','410','440','420','610','630','620','640','350')
		  and COMPANY = #{pd.COMPANY}
	</select>
	<select id="getIndvSpMessageDownLoadlistPage" parameterType="page" resultType="java.util.HashMap">
		select  report_message_id,
				report_message_file_name,
				report_message_type,
				report_message_status,
				create_success_time,
				enc_report_message_file_path,
				zip_report_message_file_path,
				txt_report_message_file_path,
				report_time,
				operator_user,
				create_time,
				record_num,
				description,
				COMPANY,
				FEEDBACK_MESSAGE_FILE_PATH
		from 
		report_message
		where 1=1
		<if test='pd.rptDate != null and pd.rptDate != ""'>
			and report_time &gt;= substr(#{pd.rptDate},1,10)
			and report_time &lt;= substr(#{pd.rptDate},14,10)
		</if>
		<if test='pd.infRecType != null and pd.infRecType != ""'>
			and report_message_type = #{pd.infRecType}
		</if>
		<if test='pd.reportMessageStatus != null and pd.reportMessageStatus != ""'>
			and report_message_status = #{pd.reportMessageStatus}
		</if>
		  and REPORT_MESSAGE_TYPE in ('114','134','211','212','213','214','221','222','223','224','231','232','233','234')
		  and COMPANY = #{pd.COMPANY}
	</select>
	<select id="getEntSpMessageDownLoadlistPage" parameterType="page" resultType="java.util.HashMap">
		select  report_message_id,
				report_message_file_name,
				report_message_type,
				report_message_status,
				create_success_time,
				enc_report_message_file_path,
				zip_report_message_file_path,
				txt_report_message_file_path,
				report_time,
				operator_user,
				create_time,
				record_num,
				COMPANY
		from 
		report_message
		where 1=1
		<if test='pd.rptDate != null and pd.rptDate != ""'>
			and report_time &gt;= substr(#{pd.rptDate},1,10)
			and report_time &lt;= substr(#{pd.rptDate},14,10)
		</if>
		<if test='pd.infRecType != null and pd.infRecType != ""'>
			and report_message_type = #{pd.infRecType}
		</if>
		  and REPORT_MESSAGE_TYPE in ('614','624','634','644','654','441','442','443','444','314','411','412','413','414','421','422','423','424')
		  and COMPANY = #{pd.COMPANY}
	</select>
	<select id="getMoMessageDownLoadlistPage" parameterType="page" resultType="java.util.HashMap">
		select  report_message_id,
				report_message_file_name,
				report_message_type,
				report_message_status,
				create_success_time,
				enc_report_message_file_path,
				zip_report_message_file_path,
				txt_report_message_file_path,
				report_time,
				operator_user,
				create_time,
				record_num,
				COMPANY,
				FEEDBACK_MESSAGE_FILE_PATH
		from 
		report_message
		where 1=1
		<if test='pd.rptDate != null and pd.rptDate != ""'>
			and report_time &gt;= substr(#{pd.rptDate},1,10)
			and report_time &lt;= substr(#{pd.rptDate},14,10)
		</if>
		<if test='pd.infRecType != null and pd.infRecType != ""'>
			and report_message_type = #{pd.infRecType}
		</if>
		  and REPORT_MESSAGE_TYPE = '510'
		  and COMPANY = #{pd.COMPANY}
	</select>
	<select id="getMoSpMessageDownLoadlistPage" parameterType="page" resultType="java.util.HashMap">
		select  report_message_id,
				report_message_file_name,
				report_message_type,
				report_message_status,
				create_success_time,
				enc_report_message_file_path,
				zip_report_message_file_path,
				txt_report_message_file_path,
				report_time,
				operator_user,
				create_time,
				record_num,
				COMPANY,
				FEEDBACK_MESSAGE_FILE_PATH
		from 
		report_message
		where 1=1
		<if test='pd.rptDate != null and pd.rptDate != ""'>
			and report_time &gt;= substr(#{pd.rptDate},1,10)
			and report_time &lt;= substr(#{pd.rptDate},14,10)
		</if>
		<if test='pd.infRecType != null and pd.infRecType != ""'>
			and report_message_type = #{pd.infRecType}
		</if>
		  and REPORT_MESSAGE_TYPE in ('511','514')
		  and COMPANY = #{pd.COMPANY}
	</select>
	
	<!-- 获取所有报文信息 -->
	<select id="getReportMessageDownLoadlistPage" parameterType="page" resultType="java.util.HashMap">
		select  report_message_id,
				report_message_file_name,
				report_message_type,
				report_message_status,
				create_success_time,
				enc_report_message_file_path,
				zip_report_message_file_path,
				txt_report_message_file_path,
				report_time,
				operator_user,
				create_time,
				record_num,
				description,
				COMPANY,
				FEEDBACK_MESSAGE_FILE_PATH
		from 
		report_message
		where 1=1
		<if test='pd.rptDate != null and pd.rptDate != ""'>
			and report_time &gt;= substr(#{pd.rptDate},1,10)
			and report_time &lt;= substr(#{pd.rptDate},14,10)
		</if>
		<if test='pd.reportMessageStatus != null and pd.reportMessageStatus != ""'>
			and report_message_status = #{pd.reportMessageStatus}
		</if>
		<if test='pd.infRecType != null and pd.infRecType != ""'>
			and report_message_type = #{pd.infRecType}
		</if>
		  and COMPANY = #{pd.COMPANY}
		order by create_time desc,report_message_type
	</select>
	
	<update id="updateReportStatus" parameterType="java.util.HashMap">
		update REPORT_MESSAGE
		   set REPORT_MESSAGE_STATUS = '41'
		 where REPORT_MESSAGE_TYPE = #{REPORT_MESSAGE_TYPE}
		   and REPORT_MESSAGE_FILE_NAME = #{REPORT_MESSAGE_FILE_NAME}
		   and REPORT_MESSAGE_STATUS = '60'
	</update>
	
	<select id="getNumByReportTypeAndName" parameterType="map" resultType="int">
		SELECT COUNT(1) FROM ${tableName} 
			WHERE INF_REC_TYPE = #{REPORT_MESSAGE_TYPE} 
			  AND REPORT_MESSAGE_ID = #{REPORT_MESSAGE_FILE_NAME} 
			  AND BUSINESS_STATES = '50'
	</select>
	
</mapper>
