<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ValidateFieldMapper">


  <resultMap id="BaseResultMap" type="com.dcits.supervise.pecr.validateData.model.ValidateField">
    <result column="FIELD_ID" jdbcType="VARCHAR" property="fieldId" />
    <result column="TABLE_ID" jdbcType="VARCHAR" property="tableId" />
    <result column="FIELD_NAME_EN" jdbcType="VARCHAR" property="fieldNameEn" />
    <result column="FIELD_NAME_CN" jdbcType="VARCHAR" property="fieldNameCn" />
  </resultMap>
  
 <sql id="Base_Column_List">
    FIELD_ID, TABLE_ID, FIELD_NAME_EN, FIELD_NAME_CN
  </sql>
  
  <sql id="tableName">
  	VALIDATE_FIELD
  </sql>

	<select id="selectByCondition" parameterType="map" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from <include refid="tableName"/>
		where 1=1
		<if test='FIELD_NAME_EN != null and FIELD_NAME_EN != ""'>
			and FIELD_NAME_EN = #{FIELD_NAME_EN}
		</if>
		<if test='TABLE_ID != null and TABLE_ID != ""'>
			and TABLE_ID = #{TABLE_ID}
		</if>
	</select>
	
	<select id="selectOneByCondition" parameterType="map" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from <include refid="tableName"/>
		where 1=1
		<if test='FIELD_NAME_EN != null and FIELD_NAME_EN != ""'>
			and FIELD_NAME_EN = #{FIELD_NAME_EN}
		</if>
		<if test='TABLE_ID != null and TABLE_ID != ""'>
			and TABLE_ID = #{TABLE_ID}
		</if>
	</select>

</mapper>