<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ValidateTemplateMapper">


  <resultMap id="BaseResultMap" type="com.dcits.supervise.pecr.validateData.model.ValidateTemplate">
    <id column="TEMPLATE_NAME" jdbcType="VARCHAR" property="templateName" />
    <result column="TEMPLATE_TYPE" jdbcType="VARCHAR" property="templateType" />
    <result column="TEMPLATE_COMMENT" jdbcType="VARCHAR" property="templateComment" />
    <result column="ERROR_MSG" jdbcType="VARCHAR" property="errorMsg" />
    <result column="DATABASE_TYPE" jdbcType="VARCHAR" property="databaseType" />
    <result column="TEMPLATE_TPL" jdbcType="VARCHAR" property="templateTpl" />
    <result column="SERVICE_NAME" jdbcType="VARCHAR" property="serviceName" />
  </resultMap>
  
 <sql id="Base_Column_List">
   TEMPLATE_NAME, TEMPLATE_TYPE, TEMPLATE_COMMENT, ERROR_MSG, DATABASE_TYPE, TEMPLATE_TPL, 
    SERVICE_NAME
  </sql>
  
  <sql id="tableName">
  	VALIDATE_TEMPLATE
  </sql>

	<select id="selectByCondition" parameterType="map" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from <include refid="tableName"/>
		where 1=1
		<if test='TEMPLATE_NAME != null and TEMPLATE_NAME != ""'>
			and TEMPLATE_NAME = #{TEMPLATE_NAME}
		</if>
	</select>
	
	<select id="selectOneByCondition" parameterType="map" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from <include refid="tableName"/>
		where 1=1
		<if test='TEMPLATE_NAME != null and TEMPLATE_NAME != ""'>
			and TEMPLATE_NAME = #{TEMPLATE_NAME}
		</if>
	</select>

</mapper>