<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MoChangeSeoMapper">
<resultMap type="com.dcits.supervise.pecr.indv.entity.Accountchange" id="accountChangelistResultMap">
		<result column="PCW_IN_CTRCTID_CAGS_INF_ID" property="pk"/> 
		<result column="INF_REC_TYPE" property="infRecType"/> 
		<result column="ACCT_TYPE" property="acctType"/> 
		<result column="OD_BNES_CODE" property="odBnesCode"/> 
		<result column="NW_BNES_CODE" property="nwBnesCode"/> 
		<result column="LAST_UPDATE_TIME" property="lastUpdateTime"/> 
		<result column="OPERATOR_USER" property="operatorUser"/> 
		<result column="ORG_NAME" property="orgName"/> 
		<result column="ORG_CODE" property="orgCode"/> 
		<result column="BUSINESS_STATES" property="businessStates"/> 
		<result column="REJECT_REASON" property="rejectReason"/> 
		<result column="IS_FILTER" property="isFilter"/> 
		<result column="REPORT_MESSAGE_ID" property="reportMessageId"/> 
		<result column="RPT_DATE" property="rptDate"/> 
		<result column="NAME" property="name"/> 
		<result column="ID_TYPE" property="idType"/> 
		<result column="ID_NUM" property="idNum"/>
		<result column="PK" property="pk"/>
		<result column="EFW_MOC_ID_CAGS_INF_ID" property="efwMocId"/> 
		<result column="INFO_ID_TYPE" property="infoIdType"/> 
		<result column="FLAG" property="flag"/> 
</resultMap>
	<select id="datalistPage" parameterType="page" resultType="pd">
		select distinct OD_BNES_CODE,NW_BNES_CODE from ( 
			select 
				 OD_BNES_CODE,NW_BNES_CODE,COMPANY
			  from MOC_ID_CAGS_INF 
		  union all 
		  	select 
				OD_BNES_CODE,NW_BNES_CODE,COMPANY
			  from MOC_ID_CAGS_INF_HIST  
		 ) a
		  where 1=1		
		   	  <if test='pd.OD_BNES_CODE != null and pd.OD_BNES_CODE != ""'>
		   	  	and OD_BNES_CODE = #{pd.OD_BNES_CODE}
		   	  </if>
		   	  <if test='pd.NW_BNES_CODE != null and pd.NW_BNES_CODE != ""'>
		   	  	and NW_BNES_CODE = #{pd.NW_BNES_CODE}
		   	  </if>
		   	  AND COMPANY = #{pd.COMPANY}
	</select>
	<!-- 授信协议信息  数据列表 -->
	<select id="dataHistlistPage" parameterType="page" resultMap="accountChangelistResultMap">
	select * from (
		 select
			EFW_MOC_ID_CAGS_INF_ID,
			INF_REC_TYPE,
			OD_BNES_CODE,
			NW_BNES_CODE,
			LAST_UPDATE_TIME,
			OPERATOR_USER,
			ORG_NAME,
			ORG_CODE,
			BUSINESS_STATES,
			REJECT_REASON,
			IS_FILTER,
			REPORT_MESSAGE_ID,
			RPT_DATE,
			INFO_ID_TYPE,
			NAME,
			CERT_TYPE,
			CERT_NUM,
			'new' FLAG,
			COMPANY
		   from MOC_ID_CAGS_INF
		  where OD_BNES_CODE = #{pd.OD_BNES_CODE}  and    NW_BNES_CODE = #{pd.NW_BNES_CODE}
		union all
		select 
			EFW_MOC_ID_CAGS_INF_ID,
			INF_REC_TYPE,
			OD_BNES_CODE,
			NW_BNES_CODE,
			LAST_UPDATE_TIME,
			OPERATOR_USER,
			ORG_NAME,
			ORG_CODE,
			BUSINESS_STATES,
			REJECT_REASON,
			IS_FILTER,
			REPORT_MESSAGE_ID,
			RPT_DATE,
			INFO_ID_TYPE,
			NAME,
			CERT_TYPE,
			CERT_NUM,
			'old' FLAG,
			COMPANY
		   from MOC_ID_CAGS_INF_HIST
		  where OD_BNES_CODE = #{pd.OD_BNES_CODE}  and    NW_BNES_CODE = #{pd.NW_BNES_CODE}
		  ) a
	where 1=1
		  <if test='pd.RPT_DATE != null and pd.RPT_DATE != ""'>
	   	  	and RPT_DATE = #{pd.RPT_DATE}
	   	  </if>
	   	  AND COMPANY = #{pd.COMPANY}
	</select>
	
	<update id="updateStatus" parameterType="map">
		update MOC_ID_CAGS_INF
		   <set>
		   	  	BUSINESS_STATES = '11'
		   </set>
		   where EFW_MOC_ID_CAGS_INF_ID = #{baseId}
</update>
<update id="backdate" parameterType="map">
		update MOC_ID_CAGS_INF
		   <set>
		   	  	BUSINESS_STATES = '30'
		   </set>
		   where REPORT_MESSAGE_ID = #{reportMessageId}
		   AND COMPANY = #{COMPANY}
</update>
<delete id="deletedate" parameterType="map" >
		delete from report_message
		 where REPORT_MESSAGE_FILE_NAME = #{reportMessageId}
		 AND COMPANY = #{COMPANY}
</delete>

</mapper>
