.panel {
	margin-bottom: 0px !important;
	background-color: #ffffff;
	border: 0px solid transparent;
	border-radius: 0px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}

.panel-body {
	padding: 0px 5px !important;
}

input {
	line-height: normal;
	color: #303030 !important;
	width: 90%;
	height: 28px;
}

input[type="text"]{
	border-radius: 0px !important;
}

.select {
	margin: 0px !important;
	padding: 0px !important;
	width: 90%;
	height: 28px;
	color: #303030;
	border-radius: 0px !important;
}

label {
	margin-bottom: 0px !important;
	padding-left: 8px;
}

body {
	font-family: Microsoft Yahei !important;
}

.row {
	line-height: 30px !important;
	color: #848484;
}

.btn-size1 {
    width: 102px !important;
	border-radius: 2px !important;
}

.modal-footer {
    border-top: 0px solid #e5e5e5 !important;
}