<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DataLoadMapper">
	
	<delete id="deleteIndvBasicInfo" parameterType="map">
	    delete from I_BS WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	
	<delete id="deleteIndvFcsInf" parameterType="map">
	    delete from I_FCS_INF WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	
	<delete id="deleteIndvEduInf" parameterType="map">
	    delete from I_EDU_INF WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	
	<delete id="deleteIndvOctpnInf" parameterType="map">
	    delete from I_OCTPN_INF WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	
	<delete id="deleteIndvId" parameterType="map">
	    delete from I_ID WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	
	<delete id="deleteIndvIncInf" parameterType="map">
	    delete from I_INC_INF WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	
	<delete id="deleteIndvMlgInf" parameterType="map">
	    delete from I_MLG_INF WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	
	<delete id="deleteIndvRedncInf" parameterType="map">
	    delete from I_REDNC_INF WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	
	<delete id="deleteIndvSpsInf" parameterType="map">
	    delete from I_SPS_INF WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	
	<delete id="deleteIndvAcctBs" parameterType="map">
	    delete from I_ACCT_BS WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	
	<delete id="deleteIndvAcctBsInf" parameterType="map">
	    delete from I_ACCT_BS_INF WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	<delete id="deleteIndvAcctCred" parameterType="map">
	    delete from I_ACCT_CRED WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	<delete id="deleteIndvAcctDbtInf" parameterType="map">
	    delete from I_ACCT_DBT_INF WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	<delete id="deleteIndvAmblgInf" parameterType="map">
	    delete from I_AMBLG_INF WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	<delete id="deleteIndvAsTrstDspn" parameterType="map">
	    delete from I_AS_TRST_DSPN WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	<delete id="deleteIndvLoanRltRepymtInf" parameterType="map">
	    delete from I_LOAN_RLT_REPYMT_INF WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	<delete id="deleteIndvMccInf" parameterType="map">
	    delete from I_MCC_INF WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	<delete id="deleteIndvOcInf" parameterType="map">
	    delete from I_OC_INF WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	<delete id="deleteIndvSpecPrd" parameterType="map">
	    delete from I_SPEC_PRD WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	
	<delete id="deleteIndvGuarAcctBs" parameterType="map">
	    delete from I_GUAR_ACCT_BS WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	
	<delete id="deleteIndvGuarAcctInf" parameterType="map">
	    delete from I_GUAR_ACCT_INF WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	
	<delete id="deleteIndvGrRepymtInf" parameterType="map">
	    delete from I_GR_REPYMT_INF WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	
	<delete id="deleteIndvGuarMccInf" parameterType="map">
	    delete from I_GUAR_MCC_INF WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	
	<delete id="deleteIndvGuarRltRepymtInf" parameterType="map">
	    delete from I_GUAR_RLT_REPYMT_INF WHERE DATA_DATE = #{DATA_DATE}
	</delete>
	
	<update id="updateMasterKey" parameterType="map">
	    call updateDataKey(#{rptDate},@result)
	</update>
	
	<insert id="insetMiddleData" parameterType="map">
	    call ZXBS_MIDDLE_TABLE_DATA(@result)
	</insert>








</mapper>