<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EntUpDaccountDataMapper">
	<resultMap type="com.dcits.supervise.pecr.indv.entity.UpDaccountData" id="updateDaccountDatalistResultMap">
		<result column="PBY_IN_MDFC_ID" property="pbyInMdfcId"/> 
		<result column="INF_REC_TYPE" property="infRecType"/> 
		<result column="ACCT_TYPE" property="acctType"/> 
		<result column="UPDATE_REC_CODE" property="updateRecCode"/> 
		<result column="UPDATE_SGMT_CODE" property="updateSgmtCode"/> 
		<result column="UPDATE_START_DATE" property="updateStartDate"/>
		<result column="UPDATE_END_DATE" property="updateEndDate"/>
		<result column="LAST_UPDATE_TIME" property="lastUpdateTime"/> 
		<result column="OPERATOR_USER" property="operatorUser"/> 
		<result column="ORG_NAME" property="orgName"/> 
		<result column="ORG_CODE" property="orgCode"/> 
		<result column="BUSINESS_STATES" property="businessStates"/> 
		<result column="REJECT_REASON" property="rejectReason"/> 
		<result column="IS_FILTER" property="isFilter"/> 
		<result column="REPORT_MESSAGE_ID" property="reportMessageId"/> 
		<result column="RPT_DATE" property="rptDate"/> 
		<result column="NAME" property="name"/> 
		<result column="ID_TYPE" property="idType"/> 
		<result column="ID_NUM" property="idNum"/>
</resultMap>
<select id="findUpDaccountDatalistPage" parameterType="page" resultMap="updateDaccountDatalistResultMap" >
		SELECT PBY_IN_MDFC_ID,
  			INF_REC_TYPE,
 			 ACCT_TYPE,
 			UPDATE_REC_CODE,
			  UPDATE_SGMT_CODE,
			  UPDATE_START_DATE,
			  UPDATE_END_DATE,
			  LAST_UPDATE_TIME as  LAST_UPDATE_TIME,
				  OPERATOR_USER,
 				 ORG_NAME,
				  ORG_CODE,
 				 BUSINESS_STATES,
				  REJECT_REASON,
				  IS_FILTER,
 				 REPORT_MESSAGE_ID,
					  RPT_DATE,
							  NAME,
						  ID_TYPE,
  						ID_NUM from E_IN_MDFC where  business_states in ('10','11','80','110','20')
	</select>
	
 <insert id="inseretUpDaccountData" parameterType="pd">
	 
    insert into E_IN_MDFC
       (PBY_IN_MDFC_ID,
  INF_REC_TYPE,
  ACCT_TYPE,
  UPDATE_REC_CODE,
  UPDATE_SGMT_CODE,
   UPDATE_START_DATE,
    UPDATE_END_DATE,
  LAST_UPDATE_TIME,
  OPERATOR_USER,
  ORG_NAME,
  ORG_CODE,
  BUSINESS_STATES,
  REJECT_REASON,
  IS_FILTER,
  REPORT_MESSAGE_ID,
  RPT_DATE,
  NAME,
  ID_TYPE,
  ID_NUM
)
     values
       <!-- (REPLACE(SYS_GUID(),'-',''), -->
   (#{UUID},
  #{infRecType},
 #{acctType}, 
 #{updateRecCode}, 
 #{updateSgmtCode} ,
 #{updateStartDate}, 
 #{updateEndDate}, 
 #{lastUpdateTime},
 #{operatorUser},
 #{orgName},
 #{orgCode},
 #{businessStates},
 #{rejectReason},
 #{isFilter},
 #{reportMessageId},
 #{rptDate},
 #{name},
 #{idType},
 #{idNum} 
)	
	</insert>
	<delete id='deleteUpDaccountData' parameterType="pd">
		delete from E_IN_MDFC where PBY_IN_MDFC_ID = #{pbyInMdfcId}
	</delete>
	<update id="updateData" parameterType="pd">
	 
             update E_IN_MDFC SET
        <if test="lastUpdateTime != null">
		 LAST_UPDATE_TIME = #{lastUpdateTime} ,
		</if>
		<if test="updateRecCode != null and updateRecCode != ''">
			UPDATE_REC_CODE = #{updateRecCode} ,
		</if>
		<if test="updateSgmtCode != null and updateSgmtCode != ''">
			UPDATE_SGMT_CODE = #{updateSgmtCode},
		</if>
		<if test="updateEndDate != null">
		 UPDATE_END_DATE = #{updateEndDate} ,
		</if>
		<if test="updateStartDate != null">
		 UPDATE_START_DATE = #{updateStartDate}
		</if>
         where PBY_IN_MDFC_ID =  #{pbyInMdfcId}
	</update>
</mapper>