<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EntNormalMessageMapper">

	<select id="getNormalMessagelistPage" parameterType="page" resultType="java.util.HashMap">
		select * from 
		( SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY ,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_BS  a
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '310'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10) 
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_CTFITG_INF b
	    WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '340'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY 
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_ICDN_RLTP_INF  c
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '350'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_ACCT_BS  d
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '410'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_CTRCT_BS e
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '420'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_GUAR_ACCT_BS f
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '440'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_BALANCE_SHEET_BS g
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '610'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY 
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_INCOME_STATEMENT h
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '620'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY  
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_CASH_FLOWS_BS i
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '630'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY  
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_INCOME_EXPENSE_bs j
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '650'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY 
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_INSTITU_BALANCE_bs j
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '640'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY) k
		where 1 = 1
			and k.rightRecodeNum > 0
		<if test='pd.rptDate != null and pd.rptDate != ""'>
			and k.rptDate   &gt;= SUBSTR(#{pd.rptDate},1,10)   
			and k.rptDate   &lt;= SUBSTR(#{pd.rptDate},14,10) 
		</if>
		<if test='pd.infRecType != null and pd.infRecType != ""'>
			and k.infRecType = #{pd.infRecType}
		</if>
			and k.COMPANY = #{pd.COMPANY}
		order by INFRECTYPE,RPTDATE DESC
	</select>
	
	<select id="autoNormalMessagelistPage" parameterType="page" resultType="java.util.HashMap">
		select * from 
		( SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY ,
			EXTEND1,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_BS  a
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '310'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10) 
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY,EXTEND1
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			EXTEND1,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_CTFITG_INF b
	    WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '340'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10)
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY,EXTEND1 
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			EXTEND1,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_ICDN_RLTP_INF  c
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '350'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY,EXTEND1
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			EXTEND1,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_ACCT_BS  d
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '410'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10)
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY,EXTEND1
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			EXTEND1,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_CTRCT_BS e
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '420'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY,EXTEND1
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			EXTEND1,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_GUAR_ACCT_BS f
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '440'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10)
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY,EXTEND1
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			EXTEND1,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_BALANCE_SHEET_BS g
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '610'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10)
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY,EXTEND1 
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			EXTEND1,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_INCOME_STATEMENT h
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '620'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY,EXTEND1  
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			EXTEND1,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_CASH_FLOWS_BS i
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '630'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY,EXTEND1  
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			EXTEND1,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_INCOME_EXPENSE_bs j
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '650'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY,EXTEND1 
			union all
		SELECT
			RPT_DATE as rptDate,
			INF_REC_TYPE as infRecType,
			COMPANY,
			EXTEND1,
			COUNT(*) as recodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
			COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		FROM
			E_INSTITU_BALANCE_bs j
		WHERE COMPANY = #{pd.COMPANY}
		  AND INF_REC_TYPE = '640'
			<if test='pd.rptDate != null and pd.rptDate != ""'>
				and EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			</if>
			GROUP BY RPT_DATE,INF_REC_TYPE,COMPANY,EXTEND1) k
		where 1 = 1
			and k.rightRecodeNum > 0
		<if test='pd.rptDate != null and pd.rptDate != ""'>
			and k.EXTEND1   &gt;= SUBSTR(#{pd.rptDate},1,10)   
			and k.EXTEND1   &lt;= SUBSTR(#{pd.rptDate},14,10) 
		</if>
		<if test='pd.infRecType != null and pd.infRecType != ""'>
			and k.infRecType = #{pd.infRecType}
		</if>
			and k.COMPANY = #{pd.COMPANY}
		order by INFRECTYPE,RPTDATE DESC
	</select>
	
	<select id="getAbnormalMessagelistPage" parameterType="page" resultType="java.util.HashMap">
	SELECT * from (
		  SELECT
		      RPT_DATE as rptDate,
		      INF_REC_TYPE as infRecType,
		      COMPANY,
		      COUNT(*) as recodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		  FROM
		      E_BS_INF_DLT  a
		  WHERE 1 = 1
		      <if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10) 
			  </if>
		      group by INF_REC_TYPE,RPT_DATE,COMPANY
	union all
		  SELECT
		      RPT_DATE as rptDate,
		      INF_REC_TYPE as infRecType,
		      COMPANY,
		      COUNT(*) as recodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		  FROM
		      E_ACCT_BS  a
		  WHERE INF_REC_TYPE = '412'
		  	  <if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			  </if>
		      group by INF_REC_TYPE,RPT_DATE,COMPANY
	union all
		  SELECT
		      RPT_DATE as rptDate,
		      INF_REC_TYPE as infRecType,
		      COMPANY,
		      COUNT(*) as recodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		  FROM
		      E_CTRCT_BS  a
		  WHERE INF_REC_TYPE = '422'
		  	  <if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			  </if>
		      group by INF_REC_TYPE,RPT_DATE,COMPANY
	union all
		  SELECT
		      RPT_DATE as rptDate,
		      INF_REC_TYPE as infRecType,
		      COMPANY,
		      COUNT(*) as recodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		  FROM
		      E_GUAR_ACCT_BS  a
		  where INF_REC_TYPE = '442'
		  	  <if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)
			  </if>
		      group by INF_REC_TYPE,RPT_DATE,COMPANY     
	union all
		  SELECT
		      RPT_DATE as rptDate,
		      INF_REC_TYPE as infRecType,
		      COMPANY,
		      COUNT(*) as recodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		  FROM
		      E_ACCT_INF_ID_CAGS_INF  a
		  WHERE 1 = 1
		      <if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)
			  </if>
		      group by INF_REC_TYPE,RPT_DATE,COMPANY
	union all
		  SELECT
		      RPT_DATE as rptDate,
		      INF_REC_TYPE as infRecType,
		      COMPANY,
		      COUNT(*) as recodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		  FROM
		      E_SEC_ACCT_ID_CAGS_INF  a
		  WHERE 1 = 1
		      <if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			  </if>
		      group by INF_REC_TYPE,RPT_DATE,COMPANY
	union all
		  SELECT
		      RPT_DATE as rptDate,
		      INF_REC_TYPE as infRecType,
		      COMPANY,
		      COUNT(*) as recodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		  FROM
		      E_CR_ACCT_ID_CAGS_INF  a
		  WHERE 1 = 1
		      <if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			  </if>
		      group by INF_REC_TYPE,RPT_DATE,COMPANY
	union all
		  SELECT
		      RPT_DATE as rptDate,
		      INF_REC_TYPE as infRecType,
		      COMPANY,
		      COUNT(*) as recodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		  FROM
		      E_ACCT_INF_DEL  a
		  WHERE 1 = 1
		      <if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			  </if>
		      group by INF_REC_TYPE,RPT_DATE,COMPANY
	union all
		  SELECT
		      RPT_DATE as rptDate,
		      INF_REC_TYPE as infRecType,
		      COMPANY,
		      COUNT(*) as recodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		  FROM
		      E_ACCT_INF_ENT_DEL  a
		  WHERE 1 = 1
		      <if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10) 
			  </if>
		      group by INF_REC_TYPE,RPT_DATE,COMPANY
	union all
		  SELECT
		      RPT_DATE as rptDate,
		      INF_REC_TYPE as infRecType,
		      COMPANY,
		      COUNT(*) as recodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		  FROM
		      E_CTRCT_INF_ENT_DEL  a
		 WHERE 1 = 1
		      <if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10) 
			  </if>
		      group by INF_REC_TYPE,RPT_DATE,COMPANY
	union all
		  SELECT
		      RPT_DATE as rptDate,
		      INF_REC_TYPE as infRecType,
		      COMPANY,
		      COUNT(*) as recodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='20' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='10' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		  FROM
		      E_CTRCT_INF_DEL  a
		  WHERE 1 = 1
		      <if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			  </if>
		      group by INF_REC_TYPE,RPT_DATE,COMPANY
	union all
		  SELECT
		      RPT_DATE as rptDate,
		      INF_REC_TYPE as infRecType,
		      COMPANY,
		      COUNT(*) as recodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		  FROM
		      E_SEC_ACCT_ENT_DEL  a
		 WHERE 1 = 1
		      <if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10) 
			  </if>
		      group by INF_REC_TYPE,RPT_DATE,COMPANY
	union all
		  SELECT
		      RPT_DATE as rptDate,
		      INF_REC_TYPE as infRecType,
		      COMPANY,
		      COUNT(*) as recodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		  FROM
		      E_SEC_ACCT_DEL  a
		  WHERE 1 = 1
		      <if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)
			  </if>
		      group by INF_REC_TYPE,RPT_DATE,COMPANY
	union all
		  SELECT
		      RPT_DATE as rptDate,
		      INF_REC_TYPE as infRecType,
		      COMPANY,
		      COUNT(*) as recodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		  FROM
		      E_BALANCE_SHEET_DLT  a
		  WHERE 1 = 1
		      <if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			  </if>
		      group by INF_REC_TYPE,RPT_DATE,COMPANY
	union all
		  SELECT
		      RPT_DATE as rptDate,
		      INF_REC_TYPE as infRecType,
		      COMPANY,
		      COUNT(*) as recodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		  FROM
		      E_IN_COME_ENT_DEL  a
		  WHERE 1 = 1
		      <if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			  </if>
		      group by INF_REC_TYPE,RPT_DATE,COMPANY
	union all
		  SELECT
		      RPT_DATE as rptDate,
		      INF_REC_TYPE as infRecType,
		      COMPANY,
		      COUNT(*) as recodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		  FROM
		      E_CASH_FLOW_ENT_DEL  a
		  WHERE 1 = 1
		      <if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10) 
			  </if>
		      group by INF_REC_TYPE,RPT_DATE,COMPANY
	union all
		  SELECT
		      RPT_DATE as rptDate,
		      INF_REC_TYPE as infRecType,
		      COMPANY,
		      COUNT(*) as recodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		  FROM
		      E_ASSETS_DEBT_ENT_DEL  a
		  WHERE 1 = 1
		      <if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)  
			  </if>
		      group by INF_REC_TYPE,RPT_DATE,COMPANY
	union all
		  SELECT
		      RPT_DATE as rptDate,
		      INF_REC_TYPE as infRecType,
		      COMPANY,
		      COUNT(*) as recodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='30' OR BUSINESS_STATES IS NULL THEN '1' END) AS rightRecodeNum,
		      COUNT(CASE WHEN BUSINESS_STATES='40' OR BUSINESS_STATES IS NULL THEN '1' END) AS wrongRecodeNum
		  FROM
		      E_IN_OUT_ENT_DEL  a
		  WHERE 1 = 1
		      <if test='pd.rptDate != null and pd.rptDate != ""'>
				and RPT_DATE   &gt;= SUBSTR(#{pd.rptDate},1,10)   
					and RPT_DATE   &lt;= SUBSTR(#{pd.rptDate},14,10)
			  </if>
		      group by INF_REC_TYPE,RPT_DATE,COMPANY
		   ) h
	WHERE 1 = 1 and h.rightRecodeNum > 0
		<if test='pd.rptDate != null and pd.rptDate != ""'>
			and h.rptDate   &gt;= SUBSTR(#{pd.rptDate},1,10)   
				and h.rptDate   &lt;= SUBSTR(#{pd.rptDate},14,10)
		</if>
		<if test='pd.infRecType != null and pd.infRecType != ""'>
			and h.infRecType = #{pd.infRecType}
		</if>
		    and h.COMPANY = #{pd.COMPANY}
		order by INFRECTYPE,RPTDATE DESC
	</select>
	
</mapper>
