<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WhiteMsgConfigMapper">



	<resultMap id="BaseResultMap" type="com.dcits.supervise.pecr.common.entity.SystemCodeTypeValue">
	    <id column="SYSTEM_CODE_VALUE_ID" jdbcType="CHAR" property="systemCodeValueId" />
	    <result column="SYSTEM_CODE_TYPE_ID" jdbcType="CHAR" property="systemCodeTypeId" />
	    <result column="SYSTEM_CODE" jdbcType="VARCHAR" property="systemCode" />
	    <result column="SYSTEM_CODE_NAME" jdbcType="VARCHAR" property="systemCodeName" />
	    <result column="UPER_ID" jdbcType="CHAR" property="uperId" />
  	</resultMap>
  	
  	
	<!-- 查询 -->	
	<select id="msgConfigList" parameterType="page" resultType="pd">
		select 
			uuid,
			product_code,
			customer_type,
			customer_id_type,
			customer_id_num,
			business_type,
			business_code,
			start_date,
			end_date,
			is_using,
			last_update_time
		  from white_msg_maintenance
		  where  1=1 
		 	<if test='pd.product_code != null and pd.product_code != ""'>
		 		and product_code like '%${pd.product_code}%'
		 	</if>
		 	<if test='pd.customer_id_num != null and pd.customer_id_num != ""'>
		 		and customer_id_num like '%${pd.customer_id_num}%'
		 	</if>
		 	<if test='pd.business_code != null and pd.business_code != ""'>
		 		and business_code like '%${pd.business_code}%'
		 	</if>	
		 order by last_update_time desc
	</select>
	
	
	
	
	<insert id="insertWhiteMsgConfig" parameterType="pd">
		insert into white_msg_maintenance 
			(
				uuid,
				<if test='product_code != null and product_code != ""'>
			 		product_code ,
			 	</if>
			 	<if test='customer_type != null and customer_type != ""'>
			 		customer_type ,
			 	</if>
			 	<if test='customer_id_type != null and customer_id_type != ""'>
			 		customer_id_type ,
			 	</if>
			 	<if test='customer_id_num != null and customer_id_num != ""'>
			 		customer_id_num ,
			 	</if>
			 	<if test='business_type != null and business_type != ""'>
			 		business_type ,
			 	</if>
			 	<if test='business_code != null and business_code != ""'>
			 		business_code ,
			 	</if>
			 	<if test='start_date != null and start_date != ""'>
			 		start_date ,
			 	</if>
			 	<if test='end_date != null and end_date != ""'>
			 		end_date ,
			 	</if>
			 	<if test='is_using != null and is_using != ""'>
			 		is_using ,
			 	</if>
				
				last_update_time
			)
			values
			(
				<if test="_databaseId == 'oracle' ">
				   sys_guid(),
				</if>
				<if test="_databaseId == 'db2'">
				concat (hex (RAND ()), hex (RAND ())),
				</if>
				<if test='product_code != null and product_code != ""'>
			 		#{product_code} ,
			 	</if>
			 	<if test='customer_type != null and customer_type != ""'>
			 		#{customer_type} ,
			 	</if>
			 	<if test='customer_id_type != null and customer_id_type != ""'>
			 		#{customer_id_type} ,
			 	</if>
			 	<if test='customer_id_num != null and customer_id_num != ""'>
			 		#{customer_id_num} ,
			 	</if>
			 	<if test='business_type != null and business_type != ""'>
			 		#{business_type} ,
			 	</if>
			 	<if test='business_code != null and business_code != ""'>
			 		#{business_code} ,
			 	</if>
			 	<if test='start_date != null and start_date != ""'>
			 		#{start_date} ,
			 	</if>
			 	<if test='end_date != null and end_date != ""'>
			 		#{end_date} ,
			 	</if>
			 	<if test='is_using != null and is_using != ""'>
			 		#{is_using} ,
			 	</if>
				to_char(sysdate,'yyyy-mm-dd hh:mi:ss')
			)
	</insert>


	<update id="updateWhiteMsgConfig" parameterType="pd">
		update white_msg_maintenance set 
			<if test='product_code != null and product_code != ""'>
		 		product_code=#{product_code} ,
		 	</if>
		 	<if test='product_code == null or product_code == ""'>
		 		product_code = null ,
		 	</if>
		 	
		 	<if test='customer_type != null and customer_type != ""'>
		 		customer_type=#{customer_type} ,
		 	</if>
		 	<if test='customer_type == null or customer_type == ""'>
		 		customer_type = null ,
		 	</if>
		 	
		 	<if test='customer_id_type != null and customer_id_type != ""'>
		 		customer_id_type=#{customer_id_type} ,
		 	</if>
		 	<if test='customer_id_type == null or customer_id_type == ""'>
		 		customer_id_type = null ,
		 	</if>
		 	
		 	<if test='customer_id_num != null and customer_id_num != ""'>
		 		customer_id_num=#{customer_id_num} ,
		 	</if>
		 	<if test='customer_id_num == null or customer_id_num == ""'>
		 		customer_id_num = null ,
		 	</if>
		 	
		 	<if test='business_type != null and business_type != ""'>
		 		business_type=#{business_type} ,
		 	</if>
		 	<if test='business_type == null or business_type == ""'>
		 		business_type = null ,
		 	</if>
		 	
		 	<if test='business_code != null and business_code != ""'>
		 		business_code=#{business_code} ,
		 	</if>
		 	<if test='business_code == null or business_code == ""'>
		 		business_code = null ,
		 	</if>
		 	
		 	<if test='start_date != null and start_date != ""'>
		 		start_date=#{start_date} ,
		 	</if>
		 	<if test='start_date == null or start_date == ""'>
		 		start_date = null ,
		 	</if>
		 	
		 	<if test='end_date != null and end_date != ""'>
		 		end_date=#{end_date} ,
		 	</if>
		 	<if test='end_date == null or end_date == ""'>
		 		end_date = null ,
		 	</if>
		 	
		 	<if test='is_using != null and is_using != ""'>
		 		is_using=#{is_using} ,
		 	</if>
		 	<if test='is_using == null or is_using == ""'>
		 		is_using = null ,
		 	</if>
			
			last_update_time=to_char(sysdate,'yyyy-mm-dd hh:mi:ss')
		where uuid = #{uuid}
	</update>
	
	

	<delete id="deleteWhiteMsgConfig" parameterType="pd">
		delete from white_msg_maintenance where uuid = #{uuid}
	</delete>	



	<select id="selectWhiteMsgCodeCustomer" parameterType="String" resultMap="BaseResultMap">
		     
	     select distinct b.system_code_value_id, b.system_code, b.system_code_name 
	     	from system_code_type a,system_code_value b,
	     (select distinct ${_parameter} as msgcode from white_customer) msg 
	     where a.system_code_type_id = b.system_code_type_id 
	     	and a.system_code_type = #{_parameter}
	     	and b.system_code = msg.msgcode
		     
	</select>
	
	<select id="selectWhiteMsgCodeBusiness" parameterType="String" resultMap="BaseResultMap">
		     
	     select distinct b.system_code_value_id, b.system_code, b.system_code_name 
	     	from system_code_type a,system_code_value b,
	     (select distinct ${_parameter} as msgcode from white_business) msg 
	     where a.system_code_type_id = b.system_code_type_id 
	     	and a.system_code_type = #{_parameter}
	     	and b.system_code = msg.msgcode
		     
	</select>
	
	
	<select id="selectWhiteMsgCodeProduct" parameterType="String" resultMap="BaseResultMap">
		  select uuid system_code_value_id,product_code system_code,product_code system_code_name  from white_product
		     
	</select>


	<select id="selectCustomerIdTypeDict" parameterType="map" resultMap="BaseResultMap">
		     
	     select distinct b.system_code_value_id, b.system_code, b.system_code_name 
	     	from system_code_type a,system_code_value b,
	     (select distinct customer_id_type as customer_id_type from white_customer where customer_type = #{customer_type}) msg 
	     where a.system_code_type_id = b.system_code_type_id 
	     	and a.system_code_type = #{system_code_type}
	     	and b.system_code = msg.customer_id_type
		     
	</select>
	
	<select id="selectCustomerIdNumDict" parameterType="map" resultMap="BaseResultMap">
		     
	     select uuid system_code_value_id,customer_id_num system_code,customer_id_num system_code_name from white_customer 
			where customer_type = #{customer_type} and customer_id_type = #{customer_id_type}
		     
	</select>




	<select id="selectBusinessCodeDict" parameterType="String" resultMap="BaseResultMap">
		     
	     select uuid system_code_value_id,business_code system_code,business_code system_code_name from white_business 
			where business_type = #{_parameter}
		     
	</select>






</mapper>


























