
@font-face {font-family: "amliconfont";
  src: url('iconfont.eot?t=1497338129563'); /* IE9*/
  src: url('iconfont.eot?t=1497338129563#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1497338129563') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1497338129563') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1497338129563#iconfont') format('svg'); /* iOS 4.1- */
}

.amliconfont {
  font-family:"amliconfont" !important;
  font-size:18px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-tianjia:before { content: "\e600"; }

.icon-tingzhi:before { content: "\e621"; }

.icon-shangyiye:before { content: "\e619"; }

.icon-fanhui:before { content: "\e633"; }

.icon-gongzuo:before { content: "\e601"; }

.icon-shape7:before { content: "\e62b"; }

.icon-iconfontdanquxunhuan:before { content: "\e61a"; }

.icon-dingwei1:before { content: "\e693"; }

.icon-yishen:before { content: "\e63e"; }

.icon-duihao:before { content: "\e624"; }

.icon-right:before { content: "\e66d"; }

.icon-dingwei:before { content: "\e6b8"; }

.icon-tongguo:before { content: "\e610"; }

.icon-bangding:before { content: "\e64d"; }

.icon-resource2:before { content: "\e682"; }

.icon-gongyongzhixing:before { content: "\e79d"; }

.icon-shenhe2:before { content: "\e616"; }

.icon-see-icon-m3-performance:before { content: "\e641"; }

.icon-zhanghaobangding:before { content: "\e6c8"; }

.icon-fengxian:before { content: "\e685"; }

.icon-tiaozhuan:before { content: "\e63f"; }

.icon-chakan:before { content: "\e62c"; }

.icon-caozuoxiayiye:before { content: "\e7e0"; }

.icon-yibohui:before { content: "\e615"; }

.icon-kehu:before { content: "\e6bc"; }

.icon-daochu1:before { content: "\e652"; }

.icon-daoru:before { content: "\e653"; }

.icon-yanzheng:before { content: "\e63d"; }

.icon-shenhe:before { content: "\e6f1"; }

.icon-erweima:before { content: "\e606"; }

.icon-moxingziwoxuexisuanfa:before { content: "\e607"; }

.icon-bianji:before { content: "\e791"; }

.icon-cuohao:before { content: "\e793"; }

.icon-keyi:before { content: "\e640"; }

.icon-shangyiye1:before { content: "\e629"; }

.icon-fankui:before { content: "\e649"; }

.icon-fengxian1:before { content: "\e611"; }

.icon-shenhe1:before { content: "\e630"; }

.icon-bohui:before { content: "\e7af"; }

.icon-shangyiye-copy-copy:before { content: "\e604"; }

.icon-shousuo:before { content: "\e603"; }

.icon-daizhihang:before { content: "\e690"; }

.icon-bohui1:before { content: "\e605"; }

.icon-shousuo-copy:before { content: "\e7e1"; }

.icon-xian_wendang:before { content: "\e61b"; }

.icon-daefenqi:before { content: "\e62a"; }

.icon-yun-weishangchuan:before { content: "\e634"; }


/**鍥炬爣棰滆壊**/
.icon-daochu1se{
	color:#61a8de;
}
.icon-daoruse{
	color:#536cac;
}
.icon-resource2{
	color:#42a9f8;
}
.icon-bohuise{
	 color:#0CF;
	 font-weight:500 !important;
     font-size: 20px;
	}
.icon-iconfontdanquxunhuanse{
	font-size:22px;
	font-weight: bold;
	color:#093;
	}
.icon-tingzhise{
	font-size: 18px;
    color:#C33;
	}
.icon-yun-weishangchuanse{
	font-size: 20px;
	font-weight:600;
	color:#ee827c;
	}
.icon-chakanse{
	color:#59b9c6;
	}